{% if not user_session %}
    <script type="text/javascript">
        location.replace({{ "'" }}{% url 'miaas:signin' %}{{ "'" }});
    </script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->
<style>
    @media (min-width: 992px) { #inputAddress { width:268%; } }
    @media (min-width: 1200px) { #inputAddress { width:264%; } }
</style>

{% if user_session.user_type == 'patient' %}
    {% include 'miaas/template_nav_patient.html' %}
{% elif user_session.user_type == 'physician' %}
    {% include 'miaas/template_nav_physician.html' %}
{% else %}
    <script type="text/javascript">
        //logout?
        location.replace({{ "'" }}{% url 'miaas:signin' %}{{ "'" }});
    </script>
{% endif %}

<div class="container">
    <section class="section section-signup">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary">Account Information</h2>
            </div>
            <form id="accountForm" class="col-xs-12 col-form" accept-charset="UTF-8">
                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label" for="inputId">ID</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="text" id="inputId" maxlength="20" name="id" class="form-control" readonly
                                   value="{{ user_session.user_id }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label" for="inputEmail">*Email Address</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="email" id="inputEmail" maxlength="100" name="email" class="form-control"
                                   placeholder="Email" value="{{ user_session.email }}"
                                   style="display: inline-block; width:74%;" />
                            <button id="btnEmailCheck" class="btn btn-default" type="button"
                                    style="display: inline-block; width:24%; padding: 6px 4px; float: right; color: #d76474;">
                                Check</button>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label" for="inputPw">Password</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="password" id="inputPw" maxlength="20" name="pw" class="form-control" placeholder="Password" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label" for="inputPwConfirm">Confirm</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="password" id="inputPwConfirm" maxlength="20" name="confirm"
                                   class="form-control" placeholder="Password Confirm" />
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label" for="inputFirstName">*First Name</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="text" id="inputFirstName" maxlength="40" name="firstName" class="form-control"
                                   placeholder="First Name" value="{{ user_session.first_name }}" />
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label" for="inputLastName">*Last Name</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="text" id="inputLastName" maxlength="40" name="lastName" class="form-control"
                                   placeholder="Last Name" value="{{ user_session.last_name }}" />
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label" for="inputBirthdayYear">*Date of Birth</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="number" id="inputBirthdayMonth" name="birthdayMonth" maxlength="2" min="1" max="12"
                                   class="form-control" placeholder="MM"
                                   style="display: inline-block; text-align: center; width: 27%;" />
                            <input type="number" id="inputBirthdayDay" name="birthdayDay" maxlength="2" min="1" max="31"
                                   class="form-control" placeholder="DD"
                                   style="display: inline-block; text-align: center; width: 27%;" />
                            <input type="number" id="inputBirthdayYear" name="birthdayYear" maxlength="4" min="1800" max="3000"
                                   class="form-control" placeholder="YYYY"
                                   style="display: inline-block; text-align: center; width: 42.7%; float: right" />
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label" for="inputMobile">*Phone #</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="tel" maxlength="17" id="inputMobile" name="mobile" class="form-control"
                                   placeholder="+CCC-NNNNNNN" value="{{ user_session.phone_number }}" />
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 col-md-offset-right-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label" for="inputAddress">Address</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="text" id="inputAddress" maxlength="255" name="address" class="form-control"
                                   placeholder="Address" value="{{ user_session.address }}" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label" for="inputCity">City</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="text" id="inputCity" maxlength="255" name="city" class="form-control"
                                   placeholder="City" value="{{ user_session.city }}" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label" for="inputState">State</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="text" id="inputState" maxlength="255" name="state" class="form-control"
                                   placeholder="State" value="{{ user_session.state }}" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label"
                               for="selectCountry">Country</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <select id="selectCountry" name="country" class="form-control">
                                <option value="" selected {#disabled#}>Select Country</option>
                            </select>
                        </div>
                    </div>

                    {% if user_session.user_type == 'patient' %}
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-4 control-label" for="selectGender">*Gender</label>
                            <div class="col-xs-12 col-sm-9 col-md-8">
                                <select class="form-control" id="selectGender" name="gender">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>

                    {% elif user_session.user_type == 'physician' %}
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-4 control-label" for="selectField"
                                   style="padding-top:0px; margin-top:-4px;" >Field of Medicine</label>
                            <div class="col-xs-12 col-sm-9 col-md-8">
                                <select class="form-control" id="selectField" name="field">
                                    <option>Heart Specialist</option>
                                    <option>Brain Specialist</option>
                                    <option>Thoracic Specialist</option>
                                    <option>Orthopedic Specialist</option>
                                    <option>Pediatrics</option>
                                    <option>Psychiatry</option>
                                    <option>Internal Medicine</option>
                                    <option>Family Practice</option>
                                    <option>Emergency Medicine</option>
                                    <option>Interventional Cardiology</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-4 control-label" for="inputLicence">Licence
                                ID</label>
                            <div class="col-xs-12 col-sm-9 col-md-8">
                                <input type="text" id="inputLicence" maxlength="40" name="licence" class="form-control"
                                       value="{{ user_session.license_number }}" />
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-4 control-label" for="fileCertification">Certification</label>
                            <div class="col-xs-12 col-sm-9 col-md-8">
                                <input type="file" id="fileCertification" name="certification" class="form-control"
                                       value="{{ user_session.certificate_dir }}"/>
                            </div>
                        </div>
                    {% endif %}

                </div>

                <div class="form-btns-container row">
                    <div id="btnFormReset" class="col-xs-6 col-sm-4 col-md-2 col-md-offset-4 form-button">
                        <button class="btn btn-lg btn-primary btn-block" type="button">Reset</button>
                    </div>
                    <div id="btnFormUpdate" class="col-xs-12 col-sm-4 col-md-2 form-button">
                        <button id="btnUpdateAccount" class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="accountEmailAlertModal" tabindex="-1" role="dialog" aria-labelledby="accountEmailAlertModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="accountEmailAlertModalTitle">Email Used</h4>
        </div>
        <div class="modal-body">
        Email is already used
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">I'll Use Another Email</button>
            <button id="btnAccountEmailOK" type="button" class="btn btn-primary" data-dismiss="modal">I'm the Same Person</button>
        </div>
        </div>
    </div>
</div>

{% include 'miaas/template_footerT.html' %}

<!-- custom javascript -->
<script type="text/javascript">
    usertype = user['user_type'];
</script>

<script src="{% static 'miass/js/country.js' %}"></script>
<script src="{% static 'miass/js/userInfoValidation.js' %}"></script>
<script src="{% static 'miass/js/account.js' %}"></script>

</body>
</html>
