{% load static %}

<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" href="{% static 'miass/css/preview.css' %}">
    <link rel="stylesheet" href="{% static 'miass/css/diagnose.css' %}">
    <link rel="stylesheet" href="{% static 'miass/css/dicom/cornerstone.min.css' %}">
    <head>
    </head>
    <body>
        {% include 'miaas/header.html' %}
        <div id="cur_id" hidden>{{ img_id }}</div>
        <div class="sidenav" id="navigator" >
            <img id="thum_1" class="mx-2 my-1 thumb_img" height="260px" width="260px">
        </div>
        <div class="main h-100" id="main_body">
            <div id="div-data" class="">
{#                <div style="position: relative; z-index: 101; margin-left: 20%; margin-right: 20%;" >#}
{#                    <div class="txt-white ml-3">#}
{#                        Test#}
{#                    </div>#}
{#                    <div class="text-white float-right mr-3">#}
{#                        Test#}
{#                    </div>#}
{#                </div>#}
                <img id="btn_img_info" class="float-right mt-4 mr-4" src="{% static "miass/images/info.svg" %}" style="width: 30px; height: 30px;"/>
            </div >
            <div id="div-img"  class="" style="z-index: 1">
                <div class="" id="img_box">
                    <img class="mx-auto" id="main_viewer_img"  style="z-index: 1" src="{% static 'miass/images/transparent.png' %}">
                    <div class="w-100 h-100 content" id="main_viewer_dicom" style="z-index: 100">
                        <div id="div_info" class="text-white h-100 w-75" style="z-index: 200; position:absolute;
                                                            left:50%; transform: translateX(-50%);" hidden>
                            <div style="position: absolute; left: 10%;">
                                <span id="sp_proto_name"><h6 class="txt_info">Protocol Name:</h6>&ensp;<h6 class="txt_info" id="txt_protocol_name"></h6></span><br>
                            </div>

                            <div class="float-right" style="position: absolute; right: 10%;">
                                <span id="sp_name"><h6 class="txt_info">Patient Name:</h6>&ensp;<h6 class="txt_info" id="txt_pat_name"></h6></span><br>
                                <span id="sp_gender"><h6 class="txt_info">Gender:</h6>&ensp;<h6 class="txt_info" id="txt_pat_gender"></h6></span><br>
                                <span id="sp_birth"><h6 class="txt_info">Birthday:</h6>&ensp;<h6 class="txt_info" id="txt_pat_birthday"></h6></span><br>
                                <span id="sp_age"><h6 class="txt_info">Age:</h6>&ensp;<h6 class="txt_info" id="txt_pat_age"></h6><br></span>
                            </div>
                            <div style="position: absolute; left: 10%; top: 90%;">
                                <span id="sp_slc_loc"><h6 class="txt_info">Slice Location:</h6>&ensp;<h6 class="txt_info" id="txt_slice_loc"></h6></span>
                            </div>
                            <div style="position: absolute; right: 10%; top: 90%;">
                                <span id="sp_taken_date"><h6 class="txt_info">Acquisition Date:</h6>&ensp;<h6 class="txt_info" id="txt_taken_date"></h6></span><br>
{#                                <span id="sp_study_desc"><h5>Study Description:</h5>&ensp;<h5 id="txt_study_desc"></h5></span><br>#}
{#                                <span id="sp_series_desc"><h5>Series Description:</h5>&ensp;<h5 id="txt_series_desc"></h5></span><br>#}
                            </div>
                        </div>
                    </div>
                </div>

            </div >
            <div id="div-footer" class="justify-content-center">

                <div id="div_indicator" class="row mt-4 mx-auto container" style="text-align:center;">
                    <div class=" w-100 mx-auto justify-content-center" style="display: inline-block;">
                        <span class="my-auto">
                            <div id="btn-play_pause">
                                <img class="float-left  my-auto " style="width: 30px; height: 30px;" src="{% static 'miass/images/play.svg' %}" id="img_play">
                                <img class="float-left  my-auto " style="width: 30px; height: 30px; display: none;" src="{% static 'miass/images/pause.svg' %}"  id="img_pause">
                            </div>
                            <img class="float-left  my-auto " style="width: 30px; height: 30px;" src="{% static 'miass/images/stop.svg' %}"  id="btn-stop">

                            <input id="img_slider" class=" float-left" type="range" min="0" max="70" data-slider-step="1" value="0"/>

{#                            <img class="float-left" style="width: 30px; height: 30px;" src="{% static 'miass/images/arrow_left.svg' %}"  id="btn-left">#}
{#                            <img class="mr-3 float-left" style="width: 30px; height: 30px;" src="{% static 'miass/images/arrow_right.svg' %}" id="btn-right">#}
                            <div  class="float-left ml-2 text-white" id="txt_indicator">
                                <div style="text-align: center">
                                <h5 id="txt_num" class="txt_slice">--</h5>
                                <h5  class="txt_slice">  /  </h5>
                                <h5 id="txt_max_num"  class="txt_slice">--</h5>
                                </div>
                            </div>

                        </span>
                    </div>
                </div>

            </div>

        </div>

        {% include 'miaas/spinner.html' %}

        <div id="modal_info" class="modal fade b-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"> Medical Image Information </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                          ×
                        </button>
                    </div>
                    <div class="modal-body" id="img_info">


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                          Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </body>
    <script src="{% static "miass/js/dicom/hammer.min.js" %}"></script>
    <script src="{% static "miass/js/dicom/cornerstone.min.js" %}"></script>
    <script src="{% static "miass/js/dicom/cornerstoneMath.min.js" %}"></script>
    <script src="{% static "miass/js/dicom/dicomParser.min.js" %}"></script>
    <script src="{% static "miass/js/dicom/cornerstoneWADOImageLoader.js" %}"></script>
    <script src="{% static "miass/js/dicom/uids.js" %}"></script>
    <script src="{% static "miass/js/dicom/initializeWebWorkers.js" %}"></script>
    <script src="{% static "miass/js/dicom/cornerstoneWebImageLoader.min.js" %}"></script>
    <script src="{% static "miass/js/dicom/cornerstoneTools.min.js" %}"></script>

    <script src="{% static "lib/jQuery/jquery-3.4.1.js" %}"></script>
    <script src="{% static "miass/js/constants.js" %}"></script>
    <script src="{% static "miass/js/sessions.js" %}"></script>
    <script src="{% static "miass/js/header.js" %}"></script>
    <script src="{% static "miass/js/annotate.js" %}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>