{% load static %}

<link rel="stylesheet" href="{% static 'miass/css/preview.css' %}">
<link rel="stylesheet" href="{% static 'miass/css/text.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MIAS: Medical Image Analysis System</title>
</head>
<body>

    {% include 'miaas/header.html' %}
    <div id="cur_id" hidden>{{ img_id }}</div>

    <div class="container">
        <div class="mt-5">
            <form autocomplete="off" id="diagnosis_form" class="w-75 mx-auto">

                <div class="col-12 p-2">
                    <div class="row ">
                        <h5 class="col-10">Patient Information</h5>
                    </div>
                    <div class="row ml-1">
                        <p class="col-3">Name </p>
                        <p class="col-9" id="txt_patient_name"> </p>
                    </div>
                    <div class="row ml-1">
                        <p class="col-3">Medical Record Number  </p>
                        <p class="col-9" id="txt_patient_mrn"> </p>
                    </div>
                    <div class="row ml-1">
                        <p class="col-3">Birthday </p>
                        <p class="col-9" id="txt_birthday"> </p>
                    </div>

                </div>

                <div class="col-12 p-2 mt-2">
                    <h5>LIRADS Stage Information</h5>
                    <div class="row ml-2 mb-1">
                        <p class="col-3 mb-1">Tumor Type</p>
                        <p class="col-2 ml-2 mb-1 px-1" id="txt_tumor_type"></p>
                    </div>
                    <div class="row ml-2 mb-1">
                        <p class="col-3 mb-1">Image Features</p>
                        <p class="col-2 mb-1 px-1" id="txt_tumor_img_features">
                    </div>
                    <div class="row ml-4 mb-1 ">
                        <p class="col-3 mb-1">APHE Type</p>
                        <p class="col-2 mb-1 px-1" id="txt_tumor_aphe_type"></p>
                    </div>
                    <div class="row ml-4 mb-1">
                        <p class="col-3 mb-1">Tumor Size</p>
                        <p class="col-2 mb-1 px-1" id="txt_tumor_size"></p>
                    </div>
                    <div class="row ml-4 mb-1">
                        <p class="col-3 mb-1"># of Major Features</p>
                        <p class="col-2 mb-1 px-1" id="txt_number_major_feature"></p>
                    </div>
                    <div class="row ml-4 mb-1">
                        <p class="col-3 mb-1">Stage</p>
                        <p class="col-2 mb-1 px-1" id="txt_stage"></p>
                    </div>
                </div>

{#                <div class="col-12 border rounded p-2 mt-4">#}
{#                    <h4 class="col-12">Diagnosis Management</h4>#}
{#                    <div class="row m-0">#}
{#                        <h5 class="col-10 ml-2">Data Modification</h5>#}
{#                        <button class="btn btn-primary" id="btn_modify">Modify</button>#}
{#                    </div>#}
{#                    <div class="row m-0">#}
{#                        <h5 class="col-10  ml-2">Data Deletion</h5>#}
{#                        <button class="btn btn-danger" id="btn_delete">Delete </button>#}
{#                    </div>#}
{#                </div>#}

            </form>

        </div>
    </div>
</body>

<script src="{% static "miass/js/sessions.js" %}"></script>
<script src="{% static "miass/js/header.js" %}"></script>
<script src="{% static "lib/jQuery/jquery-3.4.1.js" %}"></script>
<script src="{% static "miass/js/constants.js" %}"></script>
<script src="{% static "miass/js/detail_diagnosis.js" %}"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>