{% load static %}

<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" href="{% static 'miass/css/preview.css' %}">
    <link rel="stylesheet" href="{% static 'miass/css/diagnose.css' %}">
    <link rel="stylesheet" href="{% static 'miass/css/dicom/cornerstone.min.css' %}">
    <head>
    </head>
    <body>
        {% include 'miaas/header.html' %}
        <div id="cur_id" hidden>{{ img_id }}</div>
        <div class="sidenav" id="navigator" >
            <img id="thum_1" class="mx-2 my-1 thumb_img" height="260px" width="260px">
        </div>
        <div class="main h-100 py-5" id="main_body">
{#            <form id="form" class="form-horizontal">#}
{#                <div class="form-group">#}
{#                    <div class="col-sm-3">#}
{#                        <input type="file" id="selectFile" >#}
{#                    </div>#}
{#                </div>#}
{#            </form>#}
{#            <div id="dicomImage"#}
{#                style="width:512px;height:512px;top:0px;left:0px; position:absolute">#}
{#            </div>#}
            <img class="h-75  mx-auto" id="main_viewer">
{#            <div class="w-100 h-100" id="main_viewer"></div>#}
            <div align="right" class="mr-5">
                <span class="center-block mx-auto pull-right">
                    <h5 id="txt_num">--</h5>
                    <h5 >  /  </h5>
                    <h5 id="txt_max_num">--</h5>
                </span>
            </div>
        </div>


    </body>
    <script src="{% static "miass/js/dicom/cornerstone.min.js" %}"></script>
    <script src="{% static "miass/js/dicom/cornerstoneMath.min.js" %}"></script>
    <script src="{% static "miass/js/dicom/cornerstoneTools.min.js" %}"></script>
    <script src="{% static "miass/js/dicom/dicomParser.min.js" %}"></script>
    <script src="{% static "miass/js/dicom/cornerstoneWADOImageLoader.js" %}"></script>
    <script src="{% static "miass/js/dicom/uids.js" %}"></script>
    <script src="{% static "miass/js/dicom/initializeWebWorkers.js" %}"></script>

    <script src="{% static "lib/jQuery/jquery-3.4.1.js" %}"></script>
    <script src="{% static "miass/js/constants.js" %}"></script>
    <script src="{% static "miass/js/sessions.js" %}"></script>
    <script src="{% static "miass/js/header.js" %}"></script>
    <script src="{% static "miass/js/diagnose.js" %}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>