{% load static %}

<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" href="{% static 'miass/css/preview.css' %}">
    <link rel="stylesheet" href="{% static 'miass/css/diagnose.css' %}">
    <link rel="stylesheet" href="{% static 'miass/css/dicom/cornerstone.min.css' %}">
    <head>
    </head>
    <body>
        {% include 'miaas/header.html' %}
        <div id="cur_id" hidden>{{ img_id }}</div>
        <div class="sidenav" id="navigator" >
            <img id="thum_1" class="mx-2 my-1 thumb_img" height="260px" width="260px">
        </div>
        <div class="main h-100 py-5" id="main_body">
{#            <form id="form" class="form-horizontal">#}
{#                <div class="form-group">#}
{#                    <div class="col-sm-3">#}
{#                        <input type="file" id="selectFile" >#}
{#                    </div>#}
{#                </div>#}
{#            </form>#}
{#            <div id="dicomImage"#}
{#                style="width:512px;height:512px;top:0px;left:0px; position:absolute">#}
{#            </div>#}
            <div class="w-100 h-100" id="img_box">
                <img class="h-75  mx-auto" id="main_viewer_img"  style="z-index: 1">
                <div class="w-100 h-100 content" id="main_viewer_dicom" style="z-index: 100"></div>
            </div>
            <div class="row">
                <div class=" mx-auto" style="display: inline-block">
                    <span>
                        <img class="float-left" style="width: 30px; height: 30px;" src="{% static 'miass/images/arrow_left.svg' %}"  id="btn-left">
                        <div  class="mx-3 float-left"  style="width: 80px">
                                <div style="text-align: center">
                                <h5 id="txt_num">--</h5>
                                <h5 >  /  </h5>
                                <h5 id="txt_max_num">--</h5>
                                </div>
                            </div>
                        <img class="mr-3 float-left" style="width: 30px; height: 30px;" src="{% static 'miass/images/arrow_right.svg' %}" id="btn-right">
                    </span>
                </div>
            </div>

        </div>


        <div class="loader text-center">
            <div class="loader-inner">

                <!-- Animated Spinner -->
                <div class="lds-roller mb-3">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

            </div>
        </div>
    </body>
    <script src="{% static "miass/js/dicom/cornerstone.min.js" %}"></script>
    <script src="{% static "miass/js/dicom/cornerstoneMath.min.js" %}"></script>
    <script src="{% static "miass/js/dicom/cornerstoneTools.min.js" %}"></script>
    <script src="{% static "miass/js/dicom/dicomParser.min.js" %}"></script>
    <script src="{% static "miass/js/dicom/cornerstoneWADOImageLoader.js" %}"></script>
    <script src="{% static "miass/js/dicom/uids.js" %}"></script>
    <script src="{% static "miass/js/dicom/initializeWebWorkers.js" %}"></script>

    <script src="{% static "lib/jQuery/jquery-3.4.1.js" %}"></script>
    <script src="{% static "miass/js/constants.js" %}"></script>
    <script src="{% static "miass/js/sessions.js" %}"></script>
    <script src="{% static "miass/js/header.js" %}"></script>
    <script src="{% static "miass/js/diagnose.js" %}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>