{% load static %}

<link rel="stylesheet" href="{% static 'miass/css/preview.css' %}">
<link rel="stylesheet" href="{% static 'miass/css/text.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MIAS: Medical Image Analysis System</title>
</head>
<body>

    {% include 'miaas/header.html' %}
    <div class="container">
        <div class="mt-5">
            <h1 class="text-center txt_font" style="font-size: 60px">Forgot your password?</h1>
            <p class="text-center txt_font mt-3">Please input your email. We will send new password to your e-mail.</p>

            <form autocomplete="off" id="signup_form" class="w-50 mx-auto my-5">
                <div class="form-group  w-75 mx-auto">
                    <label for="txt_first_name" class="txt_font">Email: </label>
                    <input type="text" class="form-control" id="txt_user_name" required>
                </div>
            </form>
            <div class="w-25 mx-auto my-2">
                <button type="button" class="btn btn-primary w-100" id="btn_send">Send New Password</button>
                <button class="btn btn-primary w-100" type="button" id="btn_loading" disabled hidden>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&ensp;Sending ...
                </button>
            </div>

        </div>

    </div>

    <div class="modal fade" id="modal_forgot_pwd" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    We sent an email to your address. You can change your password following the email. Please check your email.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn_yes">Yes</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="{% static "lib/jQuery/jquery-3.4.1.js" %}"></script>
<script src="{% static "miass/js/constants.js" %}"></script>
<script src="{% static "miass/js/sessions.js" %}"></script>
<script src="{% static "miass/js/forgot_password.js" %}"></script>
<script src="{% static "miass/js/header.js" %}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>