{% load static %}
{% load my_filters %}

{#<!DOCTYPE html>#}
{#<html lang="en">#}

{#<body>#}
    <header style="z-index: 1000;">
        <nav class="navbar navbar-expand-sm justify-content-center px-0" id="nav" style="background-color: #0066FF;">
            <div  style="background-color: #ff0000; " class="my-auto py-0 px-4 ml-0 h-100  row">
                <h3 class="navbar-brand title txt_nav_title txt_font mx-auto my-0 pt-1" style="font-size: 32px;" id="nav_main">MIAS</h3>
            </div>
            <div class="collapse navbar-collapse ml-4" id="navbarSupportedContent">
                <ul class="nav-item dropdown my-auto py-0 pl-1">
                    <li role="button" type="button" class="btn dropdown text-white txt_nav_button txt_font my-0 py-0" data-toggle="dropdown" style="font-size: 28px;" id="btn_images">
                        Images
                    </li>
                    <div class="dropdown-menu float-right" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item txt_font" href="#" id="nav_register_img">Register Images</a>
                      <a class="dropdown-item txt_font" href="#" id="nav_browse_img">Browse Images</a>
                      <a class="dropdown-item txt_font" href="#" id="nav_annotate_img">Annotate Images</a>
                      <a class="dropdown-item txt_font" href="#" id="nav_remove_img">Remove Images</a>
                    </div>
                </ul>

                <ul class="nav-item dropdown my-auto py-0  pl-1">
                    <li role="button" type="button" class="btn dropdown text-white txt_nav_button txt_font my-0 py-0" data-toggle="dropdown" style="font-size: 28px;">
                        Diagnosis
                    </li>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item txt_font" href="#" id="nav_brain_abnormality">Brain Abnormality</a>
                      <a class="dropdown-item txt_font" href="#" id="nav_liver_abnormality">Liver Abnormality</a>
                      <a class="dropdown-item txt_font" href="#" id="nav_lung_abnormality">Lung Abnormality</a>
                      <a class="dropdown-item txt_font" href="#" id="nav_breast_abnormality">Breast Abnormality</a>
                      <a class="dropdown-item txt_font" href="#" id="nav_stomach_abnormality">Stomach Abnormality</a>
                    </div>
                </ul>

                <ul class="nav-item dropdown my-auto py-0  pl-1">
                    <li role="button" type="button" class="btn dropdown text-white txt_nav_button txt_font my-0 py-0" data-toggle="dropdown" style="font-size: 28px;">
                        Treatment
                    </li>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item txt_font" id="nav_load_diagnosis" href="#">Load Diagnosis</a>
                      <a class="dropdown-item txt_font" id="nav_recommend_treatments" href="#">Recommend Treatments</a>
                      <a class="dropdown-item txt_font" id="nav_retrieve_diagnosis" href="#">Retrieve Diagnosis</a>
                    </div>
                </ul>
                <ul class="navbar-nav nav-item dropdown  ml-auto" id="nav_user" hidden>
                    <li role="button" type="button" class="btn dropdown text-white txt_font my-1 py-0  mr-3" data-toggle="dropdown" style="font-size: 22px;" id="txt_role">
                    </li>
                    <div class="w-100 dropdown-menu mx-auto" aria-labelledby="navbarDropdown" id="drop_profile">
                        <div class="w-100 my-2 ">
                            <div class="mx-auto" id="body_img_profile">
                                <img src="{% static 'miass/images/perm_identity-24px.svg' %}" id="img_profile">
                            </div>
                        </div>
                        <a class="dropdown-item txt_font mx-auto" id="nav_profile" href="#">Update Profile</a>
                        <a class="dropdown-item txt_font" id="nav_change_role" href="#" data-target="#modal_chg_role" data-toggle="modal">Change Role</a>
                        <a class="dropdown-item txt_font" id="nav_log_out" href="#">Logout</a>
                    </div>
                </ul>
            </div>
        </nav>
    </header>
{#</body>#}


<!-- Modal -->
<div class="modal fade" id="modal_chg_role" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <p>Choose the role to change. </p>
                    <div id="div_patient" hidden>
                        <input type="radio" id="rdo_patient" name="role" value="Patient">
                        <label for="rdo_patient">Patient</label>
                    </div>
                    <div id="div_physician" hidden>
                        <input type="radio" id="rdo_physician" name="role" value="Physician">
                        <label for="rdo_physician">Physician</label>
                    </div>
                    <div id="div_staff" hidden>
                        <input type="radio" id="rdo_staff" name="role" value="Physician">
                        <label for="rdo_staff">Staff</label>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="btn_change">Change</button>
            </div>
        </div>
    </div>
</div>




<script src="{% static "lib/jQuery/jquery-3.4.1.js" %}"></script>
{#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>#}
{#</html>#}
