{% load static %}

<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{% static 'miass/css/preview.css' %}">
<head>
</head>
<body>
    {% include 'miaas/header.html' %}
    <div class="container">
        <div class="mt-5">
        <table class="table table-hover" id="list_image">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Image Type</th>
                    <th scope="col">Acquisition Date</th>
                    <th scope="col">Examination Source</th>
                </tr>
            </thead>

            <tbody>

            </tbody>
        </table>

        </div>
    </div>


</body>
<script src="{% static "lib/jQuery/jquery-3.4.1.js" %}"></script>
<script src="{% static "miass/js/constants.js" %}"></script>
<script src="{% static "miass/js/browse_image.js" %}"></script>
<script src="{% static "miass/js/sessions.js" %}"></script>
<script src="{% static "miass/js/header.js" %}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>