{% if not user_session or user_session.user_type != 'physician' %}
<script type="text/javascript">
location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
</script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->


{% include 'miaas/template_nav_physician.html' %}

<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                {#                <h2 class="text-primary" id="titleSubject">Analytics Result for "{{ subject }}"</h2>#}
                <h2 class="text-primary" id="titleSubject">Interpretation Result for "{{ physician_intpr_detail.request_subject }}"</h2>
            </div>

            <div class="col-xs-12 col-form">
                <div class="form-container form-boxed form-horizontal row">
                    {#                    <div class="col-xs-12 form-title">#}
                    {#                        <h3 class="text-center">Physician's Interpretation</h3>#}
                    {#                    </div>#}
                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Physician ID</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="itp1-id"><a href="#">{{ physician_intpr_detail.physician_id }}</a></span>
                        </div>

                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Physician Name</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="itp1-name" >{{ physician_intpr_detail.physician_name }}</span>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Level</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <span id="itp1-level" >{{ physician_intpr_detail.level }}</span>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Summary</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <span id="itp1-summary" >{{ physician_intpr_detail.summary }}</span>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Interpretation</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <div id="itp1-interpretation" >
                                {{ physician_intpr_detail.interpretation }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" >Image Subject</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="imgSubject" >{{ physician_intpr_detail.image_subject }}</span>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Image Type</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="type" >{{ physician_intpr_detail.image_type }}</span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-overlay col-md-overlay-right
                                col-md-overlay-2 form-group medimage-preview-container">
                        <div class="medimage-preview-wrapper">
                            <div class="medimage-preview">
                                <div class="text-center text-warning" style="margin-top:86px;">Image Preview</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Date</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="date" >{{ physician_intpr_detail.image_date|datetime_string }}</span>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Taken From</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="taken" >{{ physician_intpr_detail.taken_from }}</span>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Physician</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="physician" >{{ physician_intpr_detail.physician }}</span>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Place</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="place" >{{ physician_intpr_detail.place }}</span>
                        </div>
                    </div>

                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Description</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <div id="description" >
                                <p>{{ physician_intpr_detail.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label no-pad-top" for="inputReqSubject" >Request Subject</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <span id="reqSubject" >{{ physician_intpr_detail.request_subject }}</span>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="reqMessage" >Request Message</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <div id="reqMessage" >
                                <p>{{ physician_intpr_detail.request_message }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-btns-container row">
                    <div id="btnFormCancel" class="col-xs-12 col-md-4 col-md-offset-4 form-button">
                        <a class="btn btn-lg btn-success btn-block" onclick="javascript:history.back();">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->


</body>
</html>
