{% if not user_session or user_session.user_type != 'patient' %}
<script type="text/javascript">
location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
</script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->


{% include 'miaas/template_nav_patient.html' %}

<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary">Request New Interpretation</h2>
            </div>
            <form class="col-xs-12 col-form">
                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="inputSubject" >Image Subject</label>
                        <div class="col-xs-12 col-sm-6 col-md-8">
                            <input type="text" id="inputSubject" name="subject" class="form-control"
                                   placeholder="Subject" required>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2">
                            <a class="btn btn-primary btn-block" href="#">Search Image</a>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Image Type</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="type" >ECG</span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-overlay col-md-overlay-right
                                col-md-overlay-2 form-group medimage-preview-container">
                        <div class="medimage-preview-wrapper">
                            <div class="medimage-preview">
                                <div class="text-center text-warning" style="margin-top:86px;">Image Preview</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Date</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="date" >2015/02/11</span>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Taken From</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="taken" >Hospital</span>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Physician</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="physician" >Dr.Peter</span>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Place</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="place" >Dr.Peter's Hospital</span>
                        </div>
                    </div>

                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Description</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <div id="description" >
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis lacus eget tincidunt vehicula. Nulla ullamcorper porttitor quam ut porta. Mauris posuere mauris non tortor laoreet commodo. Fusce lacinia euismod diam, vel viverra velit ornare non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur felis nulla, ultrices et fringilla eu, scelerisque ac urna. Donec vitae pretium sem. Donec id arcu tempor, hendrerit justo nec, dapibus lorem. Nam nunc purus, sollicitudin nec dui vitae, convallis auctor quam. Donec sit amet condimentum lacus.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Comment</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <span id="comment" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla egestas libero purus, ac suscipit augue porta a. Vivamus maximus arcu.</span>
                        </div>
                    </div>
                </div>

                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label no-pad-top" for="inputReqSubject" >Request Subject</label>
                        <div class="col-xs-12 col-sm-6 col-md-10">
                            <input type="text" id="inputReqSubject" name="reqSubject" class="form-control"
                                   placeholder="Subject" required>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label no-pad-top" for="taMessage" >Request Message</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="taMessage" name="message" class="form-control"
                                      placeholder="Request Message" rows="5" required></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-btns-container row">
                    <div id="btnFormCancel" class="col-xs-6 col-sm-4 col-md-2 col-md-offset-6 form-button">
                        <a class="btn btn-lg btn-info btn-block" onclick="javascript:history.back();">Cancel</a>
                    </div>
                    <div id="btnFormReset" class="col-xs-6 col-sm-4 col-md-2 form-button">
                        <button class="btn btn-lg btn-info btn-block" type="reset">Reset</button>
                    </div>
                    <div id="btnFormConfirm" class="col-xs-12 col-sm-4 col-md-2 form-button">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>


{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script>
    $(document).ready(function() {
        $('#btnFormConfirm').on('submit', function(e) {
            e.preventDefault();
            $.LoadingOverlay('show');

            $.ajax("api/interpretation", {
                method: 'POST',
                data: {
                    action: 'request_interpretation',
                    patient_id: $('#inputId').val()

                },
                dataType: 'json',
                success: function (res) {
                    //console.log(res);

                    $.LoadingOverlay('hide');
                    if (res['code'] == 'SUCCESS') {
                        if (res['existedId']==false) {
                            //pw check
                            if($('#inputPw').val() != $('#inputPwConfirm').val()) {
                                openSignupFailModal("Password Confirm is not same.");
                                return;
                            }

                            $('#col-signup-basic').hide();
                            if (usertype == 'patient') {
                                $('#col-signup-detail-patient').show();
                            } else if (usertype == 'physician') {
                                $('#col-signup-detail-physician').show();
                            }
                        } else {
                            openSignupFailModal("ID is already existed. Please use another ID.")
                        }
                    } else {
                        openSignupFailModal("Checking ID is failed. Please try again.")
                    }
                }
            });
        });
    });
</script>


</body>
</html>
