{% if not user_session or user_session.user_type != 'physician' %}
    <script type="text/javascript">
        location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
    </script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'lib/wado/conerstone/cornerstone.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'miass/css/imageViewer.css' %}">

{% include 'miaas/template_nav_physician.html' %}

<div class="container">
    <section class="section section-default">
        <div class="row">
            <form id="searchDetailForm" class="col-xs-12 col-table">
                <div class="col-xs-12 col-form">
                    <div class="form-container form-boxed form-horizontal row">
                        <div class="col-xs-12 form-group">
                            <label class="col-sm-3 col-md-2 control-label" >Image Subject</label>
                            <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                                <span id="imgSubject" >{{ request_detail.image_subject }}</span>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Image Type</label>
                            <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                                <span id="type" >{{ request_detail.image_type }}</span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-md-overlay col-md-overlay-right
                                    col-md-overlay-2 form-group medimage-preview-container">
                            <div class="medimage-preview-wrapper">
                                <div id="image-previewer" class="medimage-preview">
                                    <div class="text-center text-warning" style="margin-top:86px;">Image Preview</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Date</label>
                            <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                                <span id="date" >{{ request_detail.image_date|datetime_string }}</span>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Taken From</label>
                            <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                                <span id="taken" >{{ request_detail.taken_from }}</span>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Physician</label>
                            <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                                <span id="physician" >{{ request_detail.physician_name }}</span>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Place</label>
                            <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                                <span id="place" >{{ request_detail.place }}</span>
                            </div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Description</label>
                            <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                                <div id="description" >
                                    <p>{{ request_detail.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-container form-boxed form-horizontal row">
                        <div class="col-xs-12 form-group">
                            <label class="col-sm-3 col-md-2 control-label no-pad-top" for="inputReqSubject" >Request Subject</label>
                            <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                                <span id="reqSubject" >{{ request_detail.request_subject }}</span>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <label class="col-sm-3 col-md-2 control-label" for="reqMessage" >Request Message</label>
                            <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                                <div id="reqMessage" >
                                    <p>{{ request_detail.request_message }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-container form-boxed form-horizontal row">
                        <div class="col-xs-12 form-group">
                            <label class="col-sm-3 col-md-2 control-label no-pad-top" for="taMessage" >Acceptance Message</label>
                            <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="taMessage" name="message" class="form-control"
                                      rows="5" required ></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-btns-container row">
                        <div id="btnFormCancel" class="col-xs-6 col-md-4 col-md-offset-4 form-button">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Response</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="responseDetailModal" tabindex="-1" role="dialog" aria-labelledby="responseDetailModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="responseDetailModalTitle">Signin Failed</h4>
            </div>
            <div class="modal-body">
                Signin failed
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imageViewModal" tabindex="-1" role="dialog" aria-labelledby="imageViewModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="imageViewModalTitle">Medical Image View</h4>
            </div>
            <div class="modal-body">
                <div id="imageView" class="image-view">
                    <div class="image-view-explorer col-sm-5 col-md-4">
                        <h4>Image Explorer</h4>
                        <ul id="image-view-list"></ul>
                    </div>
                    <div class="image-view-image col-sm-7 col-md-8">
                        <h4>Image View&nbsp;&nbsp;&nbsp;<span id="imageViewModalTitleName" class="text-primary"></span></h4>

                        <div id="imageViewerWrapper" style="width:512px;height:512px;position:relative;color:white;"
                             oncontextmenu="return false"
                             class='disable-selection noIbar'
                             unselectable='on'
                             onselectstart='return false;'
                             onmousedown='return false;'>
                            <div id="imageViewer" class="image-view-viewer"
                                 style="width:512px;height:512px;top:0px;left:0px; position:absolute;">
                            </div>
                            <div id="imageViewerLoader" style="background-image: url('{% static 'lib/jquery/plugins/loading.gif' %}');"></div>
                        </div>
                    </div>
                </div>
                <div id="graphView" class="image-view">
                    <div class="image-view-image col-xs-12 col-md-12">
                        <div id="graphViewer" class="image-view-viewer">
                        </div>
                    </div>
                    <div class="image-view-image-settings col-xs-12 col-md-12">
                        <div class="form-group form-inline">
                            <label class="control-label" for="rollPeriod" >Roll Period:</label>
                            <input id="rollPeriod" type="number" name="rollPeriod" class="form-control"
                                   placeholder="roll" size="1" maxlength="1">
                            <button id="rollPeriodConfirm" class="btn btn-default">Change</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="alertModalTitle">Request Failed</h4>
        </div>
        <div class="modal-body">
        Request failed
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script>
    $(document).ready(function() {
        $('#searchDetailForm').on('submit', function(e) {
            e.preventDefault();
            $.LoadingOverlay('show');
            $.ajax("/api/interpretation", {
                method: 'PUT',
                data: JSON.stringify({
                    action: 'physicianResp',
                    request_id: '{{ request_detail.request_id }}',
                    physician_id: '{{ user_session.user_id }}',
                    message: $('#taMessage').val()
                }),
                dataType: 'json',
                success: function (res) {
                    $.LoadingOverlay('hide');
                    console.info(res)
                    if (res['code'] == 'SUCCESS') {
                        openResponseDetailModal("Success", "Physician Response Succeed")
                    } else {
                        openResponseDetailModal(res['msg'], "Physician Response Failed")
                    }
                }
            });
        });

        setOpenImageViewerListener($('#image-previewer'));
    });

    function openResponseDetailModal(msg, title) {
        if (title!=undefined && title!=null && title!='') {
            $('#responseDetailModalTitle').text(title)
        }
        if (msg==undefined || msg==null || msg=='') {
            msg = 'Sign in failed. Please try again.'
        }
        $('#responseDetailModal .modal-body').text(msg);
        $('#responseDetailModal').modal();
    }

    imageInfo = JSON.parse("{{ image | jsonstr }}");
    archiveURL = "{% url 'miaas:archive' %}";
</script>

<!-- include the cornerstone library -->
<script src="{% static 'lib/wado/conerstone/cornerstone.js' %}"></script>
<script src="{% static 'lib/wado/cornerstoneMath.js' %}"></script>
<script src="{% static 'lib/wado/cornerstoneTools.js' %}"></script>

<!-- include the dicomParser library as the WADO image loader depends on it -->
<script src="{% static 'lib/wado/dicomParser/dicomParser.min.js' %}"></script>

<!-- jpeg 2000 codec -->
<script src="{% static 'lib/wado/jpx.min.js' %}"></script>

<!-- include the cornerstoneWADOImageLoader library -->
<script src="{% static 'lib/wado/cornerstoneWADOImageLoader.min.js' %}"></script>

<!-- include the dygraph library -->
<script src="{% static 'lib/dygraph/dygraph-combined.js' %}"></script>
<script src="{% static 'lib/dygraph/smooth-plotter.js' %}"></script>

<script src="{% static 'miass/js/imageViewer.js' %}"></script>
<script src="{% static 'miass/js/imagePreviewer.js' %}"></script>

</body>
</html>
