{% if not user_session or user_session.user_type != 'physician' %}
<script type="text/javascript">
location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
</script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->


{% include 'miaas/template_nav_physician.html' %}

<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary">Search Medical Image Interpretation Request</h2>
            </div>
            <div class="col-xs-12 col-table">
                <div class="table-container row">
                    <div class="table-title col-xs-12 col-md-4">Medical Image List</div>
                    <form class="table-search col-xs-12 col-md-8 form-group form-inline" method="get">
                        <button class="btn btn-default pull-right" type="submit">Search</button>
                        <input name="request_subject" id="inputSearch" type="text" class="form-control pull-right" placeholder="Search">
                        <select name="image_type" id="selectImageType" class="form-control pull-right" style="display: none;">
                            <option>EEG</option>
                            <option>ECG</option>
                            <option>EMG</option>
                            <option>CT</option>
                            <option>MRI</option>
                            <option>Ultrasonography</option>
                            <option value="Radiography">Radiography (X-ray)</option>
                        </select>
                        <select name="query_type" id="selectSearch" class="form-control pull-right">
                            <option>Request Subject</option>
                            <option>Image Type</option>
                        </select>
                    </form>
                    {% if requested_intpr.requested_intpr_list %}
                    <table class="table table-striped table-hover col-xs-12">
                        <thead>
                            <td>Request Date</td>
                            <td>Patient</td>
                            <td>Image Type</td>
                            <td>Request Subject</td>
                            <td>Status</td>
                        </thead>
                        <tbody>
                        {% for request_info in requested_intpr.requested_intpr_list %}
                            <tr onclick="javascript: location.href='{% url 'miaas:interpretation_detail' request_info.request_id %}';">
                                <td>{{ request_info.requested_date|datetime_string }}</td>
                                <td>{{ request_info.patient_id }}</td>
                                <td>{{ request_info.image_type }}</td>
                                <td>{{ request_info.request_subject }}</td>
                                <td class="bold interpretation-status-{{ request_info.status }}">{{ request_info.status|get_interpretation_status }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    <div class="col-xs-12 text-center table-page-container">
{#                    {% for page_num in archive.image_count|get_page_num:10|get_range2 %}#}
{#                        <a class="table-page-number" href="?page_num={{ page_num }}">{{ page_num }}</a>#}
{#                    {% endfor %}#}
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script type="text/javascript">
$('#selectSearch').change(function() {
    if($(this).val() == 'Request Subject') {
        $('#inputSearch').show();
        $('#selectImageType').hide();
    } else if ($(this).val() == 'Image Type') {
        $('#inputSearch').hide();
        $('#selectImageType').show();
    }
});
</script>

</body>
</html>
