{% if not user_session or user_session.user_type != 'physician' %}
    <script type="text/javascript">
        location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
    </script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->
{#<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/plugin/bootstrap-wyshiwyg/libs/css/bootstrap-responsive.min.css' %}">#}
{#<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/plugin/bootstrap-wyshiwyg/libs/css/wysiwyg-color.css' %}">#}
{#<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/plugin/bootstrap-wyshiwyg/libs/css/prettify.css' %}">#}
{#<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/plugin/bootstrap-wyshiwyg/bootstrap-wysihtml5-0.0.2.css' %}">#}

{% include 'miaas/template_nav_physician.html' %}

<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary" id="titleSubject">Interpreting for "{{ request_detail.request_subject }}"</h2>
            </div>
            <form id="writeForm" class="col-xs-12 col-form">
                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" >Patient ID</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="name" >{{ request_detail.patient_id }}</span>
                        </div>
                        <label class="col-sm-3 col-md-2 control-label" >Patient Name</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="name" >{{ request_detail.name }}</span>
                        </div>
                        {% if request_detail.level == 3 %}

                            <label class="col-sm-3 col-md-2 control-label" >Phone Number</label>
                            <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                                <span id="phoneNumber" >{{ request_detail.phone_number }}</span>
                            </div>

                            <label class="col-sm-3 col-md-2 control-label" >Email</label>
                            <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                                <span id="email" >{{ request_detail.email }}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" >Image Subject</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="imgSubject" >{{ request_detail.image_subject }}</span>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Image Type</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="type" >{{ request_detail.image_type }}</span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-overlay col-md-overlay-right
                                col-md-overlay-2 form-group medimage-preview-container">
                        <div class="medimage-preview-wrapper">
                            <div class="medimage-preview">
                                <div class="text-center text-warning" style="margin-top:86px;">Image Preview</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Date</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="date" >{{ request_detail.image_date|datetime_string }}</span>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Taken From</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="taken" >{{ request_detail.taken_from }}</span>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Physician</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="physician" >{{ request_detail.physician_name }}</span>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Place</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="clinicName" >{{ request_detail.place }}</span>
                        </div>
                    </div>

                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Description</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <div id="description" >
                                <p>{{ request_detail.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Level</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <span id="itp1-level" >Level {{ request_detail.level }} </span>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Summary</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <textarea type="textarea" id="summary" name="summary" class="form-control"
                                      placeholder="Input your interpretation summary" rows="3" required></textarea>
                        </div>

                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Interpretation</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <textarea type="textarea" id="interpretation" name="interpretation" class="form-control"
                                      placeholder="Input your interpretation detail" rows="12" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-btns-container row">
                    <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-4 form-button">
                        <a class="btn btn-lg btn-primary btn-block" onclick="$('#patientProfileModal').modal();"> View Profile</a>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2 form-button">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Write</button>
                    </div>

                </div>
            </form>

        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade modal-profile" id="patientProfileModal" tabindex="-1" role="dialog" aria-labelledby="patientProfileModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="patientProfileModalTitle">Patient Profile</h4>
            </div>
            <div class="modal-body">
                <div id="patientProfileForm" class="col-xs-12 col-form">
                    <div class="form-container form-boxed form-horizontal row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="height">Height</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <output id="height" name="hieght"></output>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="weight" >Weight</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <output id="weight" name="weight"></output>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="drinkingCapacity" >Drinking Capacity</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <output id="drinkingCapacity" name="drinkingCapacity"></output>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="drinkingFrequency" >Drinking Frequency</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <output id="drinkingFrequency" name="drinkingFrequency"></output>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="sleeping" >Sleeping Hours</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <output id="sleeping" name="sleeping"></output>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="exercise" >Exercise Hours</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <output id="exercise" name="exercise"></output>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="smoking" >Smoking Status</label>
                            <div class="col-sm-9 col-md-7">
                                <output id="smoking" name="smoking"></output>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="water" >Water Intake</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <output id="water" name="water"></output>
                            </div>
                        </div>
                    </div>

                    <div class="form-container form-boxed form-horizontal row">
                        <div class="col-xs-12 form-group">
                            <label class="col-sm-3 col-md-2 control-label" for="diseaseHistory" >Disease History</label>
                            <div class="col-sm-9 col-md-10" style="height:100px;overflow-y:scroll">
                                <output id="diseaseHistory" name="diseaseHistory"></output>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-sm-3 col-md-2 control-label" for="medication" > Medication</label>
                            <div class="col-sm-9 col-md-10" style="height:100px;overflow-y:scroll">
                                <output id="medication" name="medication"></output>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-sm-3 col-md-2 control-label" for="familyHistory" >Family History</label>
                            <div class="col-sm-9 col-md-10" style="height:100px;overflow-y:scroll">
                                <output id="familyHistory" name="familyHistory"></output>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-sm-3 col-md-2 control-label" for="significant" >Significant</label>
                            <div class="col-sm-9 col-md-10" style="height:100px;overflow-y:scroll">
                                <output id="significant" name="significant"></output>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-sm-3 col-md-2 control-label" for="notice" >Notice</label>
                            <div class="col-sm-9 col-md-10" style="height:100px;overflow-y:scroll">
                                <output id="notice" name="notice"></output>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="writeInterpretationModal" tabindex="-1" role="dialog" aria-labelledby="writeInterpretationModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="writeInterpretationModalTitle">Signin Failed</h4>
            </div>
            <div class="modal-body">
                Signin failed
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script>
    var profiles;
    $(document).ready(function() {
        $.LoadingOverlay('show');
        $.ajax("/api/patient_profile", {
            method: 'GET',
            data: {
                user_id: '{{ request_detail.patient_id }}'
            },
            dataType: 'json',
            success: function(res) {
                $.LoadingOverlay('hide');
                //console.log(JSON.stringify(res));
                if(res['code'] == 'SUCCESS') {
                    profiles = res['profiles'];
                    for (var i in profiles) {
                        var profile = profiles[i];
                        console.info("type="+profile.type+" / value="+profile.value);
                        $('#'+profile.type).val(profile.value);
                    }
                } else {
                    openWriteInterpretationModal(res['msg'], 'Getting Profile Failed');
                }
            }
        });

        $('#writeForm').on('submit', function(e) {
            e.preventDefault();
            $.LoadingOverlay('show');
            $.ajax("/api/interpretation", {
                method: 'PUT',
                data: JSON.stringify({
                    action: 'finishIntpr',
                    request_id: '{{ request_detail.request_id }}',
                    patient_id: '{{ request_detail.patient_id }}',
                    physician_id: '{{ user_session.user_id }}',
                    image_id: '{{ request_detail.image_id }}',
                    level: '{{ request_detail.level }}',
                    summary: $('#summary').val(),
                    interpretation:$('#interpretation').val()
                }),
                dataType: 'json',
                success: function (res) {
                    $.LoadingOverlay('hide');
                    if (res['code'] == 'SUCCESS') {
                        openWriteInterpretationModal("Success", "Writing Interpretation Succeed")
                    } else {
                        openWriteInterpretationModal(res['msg'], "Writing Interpretation Failed")
                    }
                }
            });
        });
    });

    function openWriteInterpretationModal(msg, title) {
        if (title!=undefined && title!=null && title!='') {
            $('#writeInterpretationModalTitle').text(title)
        }
        if (msg==undefined || msg==null || msg=='') {
            msg = 'Sign in failed. Please try again.'
        }
        $('#writeInterpretationModal .modal-body').text(msg);
        $('#writeInterpretationModal').modal();
    }

</script>

</body>
</html>