{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="w-100" style="height: 6%;">
        <div id="div_init_tumor">
            <button class="btn btn-outline-info float-right" id="btn_compute_feature">Compute</button>
            <button class="btn btn-outline-info float-right mr-2" id="btn_load_prv_data">Load Previous Data</button>
        </div>
        <div id="div_start_tumor" style="display: none;">
            <button class="btn btn-outline-info float-right" id="btn_stop_compute_feature">Stop</button>
            <button class="btn btn-outline-info float-right mr-2" id="btn_pause_compute_feature">Pause</button>
        </div>
        <div id="div_pause_tumor"  style="display: none;">
            <button class="btn btn-outline-info float-right" id="btn_resume_compute_feature">Resume</button>
        </div>
    </div>
    <div class="w-100 row" style="height: 84%">
        <div id="list_slices_step_6" role="tablist" class="list-group border border-primary" style="width: 22%; overflow-x: hidden; max-height: 100%; -ms-overflow-style:none">

        </div>
        <div id="sl_id_tumors" style="width: 78%;" class="tab-content  mx-0 mt-3">
            <div class="row mx-0">
                <h6>Type of APHE: </h6>
                <h6 id="txt_aphe_type">Nonrim APHE</h6>
            </div>
            <div class="row mx-0">
                <h6>Tumor Size: </h6>
                <h6 id="txt_tumor_size">32 mm</h6>
            </div>
            <div class="mx-0">
                <h6>Major Features </h6>
                <div class="row mx-0 ml-2">
                    <h6>Existence of Capsule: </h6>
                    <h6 id="txt_capsule">Yes</h6>
                </div>
                <div class="row mx-0 ml-2">
                    <h6>Existence of Washout: </h6>
                    <h6 id="txt_washout">Yes</h6>
                </div>
                <div class="row mx-0 ml-2">
                    <h6>Existence of Threshold Growth: </h6>
                    <h6 id="txt_th_growth">None</h6>
                </div>
            </div>
        </div>
    </div>

    <div>
        <button id="btn_lirads_step6_next" class="col-1 btn btn-primary float-right">Next</button>
        <button id="btn_lirads_step6_back" class="col-1 btn btn-primary float-right mr-1">Back</button>
    </div>
</body>
<script src="{% static "miass/js/console.js" %}"></script>
<script src="{% static "miass/js/lirads_step6.js" %}"></script>
</html>