{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="w-100" style="height: 6%;">
        <div id="div_init">
            <button class="btn btn-outline-info float-right" id="btn_segment_liver">Segment Liver</button>
        </div>
        <div id="div_start" style="display: none;">
            <button class="btn btn-outline-info float-right" id="btn_stop_segment_liver">Stop</button>
            <button class="btn btn-outline-info float-right mr-2" id="btn_pause_segment_liver">Pause</button>
        </div>
        <div id="div_pause"  style="display: none;">
            <button class="btn btn-outline-info float-right" id="btn_resume_segment_liver">Resume</button>
        </div>
    </div>
    <div class="w-100 row" style="height: 84%">
{#        <div  style="display: block; width: 22%; overflow-x: hidden; max-height: 100%; -ms-overflow-style:none">#}

{#        </div>#}
        <div id="list_img_part" role="tablist" class="list-group border border-dark" style="width: 22%; overflow-x: hidden; max-height: 100%; -ms-overflow-style:none">

        </div>
        <div id="sl_id_part" style="width: 78%;" class="tab-content">

        </div>
    </div>
    <div class="w-100">
        <button id="btn_lirads_step2_next" class="col-1 btn btn-primary float-right">Next</button>
        <button id="btn_lirads_step2_back" class="col-1 btn btn-primary float-right mr-1">Back</button>
    </div>
</body>

<script src="{% static "miass/js/console.js" %}"></script>
<script src="{% static "miass/js/lirads_step2.js" %}"></script>
</html>