{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="ml-2 mb-1">
        <h5>LIRADS Stage Information</h5>
        <div class="row ml-2 mb-1">
            <p class="col-3 mb-1">Tumor Type</p>
            <p class="col-2 mb-1 px-1" id="txt_tumor_type"></p>
        </div>
        <div class="row ml-2 mb-1">
            <p class="col-3 mb-1">Image Features</p>
            <p class="col-2 mb-1 px-1" id="txt_tumor_img_features">
        </div>
        <div class="row ml-4 mb-1 ">
            <p class="col-3 mb-1">APHE Type</p>
            <p class="col-2 mb-1 px-1" id="txt_tumor_aphe_type"></p>
        </div>
        <div class="row ml-4 mb-1">
            <p class="col-3 mb-1">Tumor Size</p>
            <p class="col-2 mb-1 px-1" id="txt_tumor_size"></p>
        </div>
        <div class="row ml-4 mb-1">
            <p class="col-3 mb-1">Number of Major Features</p>
            <p class="col-2 mb-1 px-1" id="txt_number_major_feature"></p>
        </div>
    </div>
    <div class="row ml-2 mt-3">
        <h5 class="col-3 mb-1 px-0">Predicted Stage</h5>
        <h5 class="col-2 mb-1 px-1" style="font-weight: bold;" id="txt_lirad_stage"></h5>
        <button id="btn_pred_hcc_stage" class="btn btn-outline-info">Predict</button>
    </div>
    <div class="ml-2 mt-3">
        <h5>Report</h5>
        <div class="row ml-2 mb-1">
            <p class="col-4">Generating Report</p>
            <button id="btn_generate_report" class="btn btn-outline-info">Generate</button>
        </div>
    </div>

    <div>
        <button id="btn_lirads_step7_done" class="col-1 btn btn-primary float-right">Done</button>
        <button id="btn_lirads_step7_back" class="col-1 btn btn-primary float-right mr-1">Back</button>
    </div>
</body>
<script src="{% static "miass/js/console.js" %}"></script>
<script src="{% static "miass/js/lirads_step7.js" %}"></script>
</html>