{% if not session or session.user_info.user_type != 'patient' %}
<script type="text/javascript">
location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
</script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->


{% include 'miaas/template_nav_patient.html' %}


<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary" id="titleSubject">My Chest CT on February 2, 2016</h2>
            </div>
            <form class="col-xs-12 col-form">
                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="inputSubject" >Subject</label>
                        <div class="col-sm-9 col-md-4">
                            <input type="text" id="inputSubject" name="subject" class="form-control"
                                   placeholder="Subject" required readonly value="My Chest CT on February 2, 2016">
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="inputType" >Image Type</label>
                        <div class="col-sm-9 col-md-4">
                            <select class="form-control" id="selectType" name="type" required disabled>
                                <option>CT</option>
                                <option>X-ray</option>
                                <option>MRI</option>
                                <option>EEG</option>
                                <option>ECG</option>
                                <option>EMG</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-overlay col-md-overlay-right form-group">
                        <label class="col-sm-3 col-md-4 control-label" for="fileImage">Medical Image</label>
                        <div class="col-sm-9 col-md-8">
                            <input type="file" id="fileImage" name="medicalImage" class="form-control"
                                   placeholder="Medical Image" required readonly>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-overlay col-md-overlay-right
                                col-md-overlay-2 form-group medimage-preview-container">
                        <div class="medimage-preview-wrapper">
                            <div class="medimage-preview">
                                <div class="text-center text-warning" style="margin-top:86px;">Image Preview</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="inputDate" >Date</label>
                        <div class="col-sm-9 col-md-4">
                            <input type="date" id="inputDate" name="date" class="form-control"
                                   placeholder="Date" required readonly value="2016-02-02">
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="selectTaken" >Taken From</label>
                        <div class="col-sm-9 col-md-4">
                            <select class="form-control" id="selectTaken" name="taken" required disabled>
                                <option>Hospital</option>
                                <option>Health Center</option>
                                <option>Home</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="inputPhysician" >Physician</label>
                        <div class="col-sm-9 col-md-4">
                            <input type="text" id="inputPhysician" name="physician" class="form-control"
                                   placeholder="Examining Physician" required readonly value="Yo Han Lee">
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="inputPlace" >Place</label>
                        <div class="col-sm-9 col-md-4">
                            <input type="text" id="inputPlace" name="place" class="form-control"
                                   placeholder="Place" required readonly value="Top Hospital, Incheon">
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="taDescription" >Description</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="taDescription" name="description" class="form-control"
                                      placeholder="Description" rows="5" readonly>The physician who examined me said I needed to get a more complete medical checkup. His opinion was that I've already had malignant pleural effusion. But I doubt because I'm healthy until examination in the year before last.</textarea>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="taComment" >Comment</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="taComment" name="comment" class="form-control"
                                      placeholder="Comment" rows="3" readonly>This image is the CT scans for the first time.</textarea>
                        </div>
                    </div>

                    <div class="col-xs-12 form-btns-innerbox">
                        <div class="form-btns-container row">
                            <div id="btnRequest" class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-4 col-md-offset-0 form-button">
                                <a class="btn btn-lg btn-warning btn-block" href="{% url 'miaas:interpretation_request' %}" type="button">Request Interpretation</a>
                            </div>
                            <div id="btnFormCancel" class="col-xs-6 col-sm-4 col-sm-offset-3 col-md-3 col-md-offset-2 form-button">
                                <button class="btn btn-lg btn-danger btn-block" type="button">Delete</button>
                            </div>
                            <div id="btnFormConfirm" class="col-xs-6 col-sm-5 col-md-3 form-button">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- End of Image information Row -->

        <!-- to be loop -->
        <div class="row">
            <div class="col-xs-12 col-title">
                <h3 class="text-success" id="itp1-title">Interpretation #1</h3>
            </div>
            <div class="col-xs-12 col-form">
                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Physician ID</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="itp1-id"><a href="#">mdjames</a></span>
                        </div>

                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Physician Name</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="itp1-name" >James Park, MD</span>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Level</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <span id="itp1-level" >Level 3 - With available images and patient interview/symptom</span>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Summary</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <span id="itp1-summary" >I agree your first doctor's opinion. You may already have malignant pleural effusion. I recommend that you need to take the medical examination again to make sure.</span>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Interpretation</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <div id="itp1-interpretation" >
                                <p>
                                    Transudative pleural effusions are formed when normal hydrostatic and oncotic pressures are disrupted. Exudative pleural effusions occur when pleural membranes or vasculature are damaged or disrupted therefore leading to increased capillary permeability or decreased lymphatic drainage.
                                    <br/>
                                    <br/>
                                    TREE-IN-BUD<br/>
                                    &nbsp;&nbsp;- Infection: Tuberculosis, mycobacterium avium intracellulare complex (MAC), bacterial, fungal<br/>
                                    &nbsp;&nbsp;- Airway disease (i.e. cystic fibrosis or bronchiectasis)<br/>
                                    &nbsp;&nbsp;- Allergic bronchopulmonary aspergilosis (rare)<br/>
                                    <br/>
                                    GROUND GLASS OPACITY (CHRONIC)<br/>
                                    &nbsp;&nbsp;- Desquamative interstitial pneumonitis<br/>
                                    &nbsp;&nbsp;- Idiopathic pulmonary fibrosis<br/>
                                    &nbsp;&nbsp;- Alveolar proteinosis<br/>
                                    &nbsp;&nbsp;- Hypersensitivity pneumonitis - chronic<br/>
                                    <br/>
                                    PLEURAL EFFUSION<br/>
                                    &nbsp;&nbsp;- Pulmonary edema<br/>
                                    &nbsp;&nbsp;- Lymphangitic spread of carcinoma - often unilateral<br/>
                                    &nbsp;&nbsp;- Tuberculosis<br/>
                                    &nbsp;&nbsp;- Lymphangiomyomatosis<br/>
                                    &nbsp;&nbsp;- Asbestosis<br/>
                                    <!-- https://www.med-ed.virginia.edu/courses/rad/hrct/effusion.html -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-title">
                <h3 class="text-success" id="itp2-title">Interpretation #2</h3>
            </div>
            <div class="col-xs-12 col-form">
                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Physician ID</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="itp2-id"><a href="#">greatalex</a></span>
                        </div>

                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Physician Name</label>
                        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                            <span id="itp2-name" >Alexander Halesis</span>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Level</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <span id="itp2-level" >Level 2 - Only with available Images</span>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Summary</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <span id="itp2-summary" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue diam eget semper elementum. Nam non purus dictum, pharetra.</span>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Interpretation</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <div id="itp2-interpretation" >
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis purus dolor. Sed suscipit sagittis dignissim. Nam mi nisl, lobortis sit amet ornare ut, maximus sit amet purus. Proin sit amet libero eu sapien auctor euismod ac ac tortor. Curabitur vel pharetra purus, nec tristique tortor. Duis quis mauris cursus, ultricies magna non, tempor arcu. Nulla vel accumsan tellus. Pellentesque posuere mattis elit, vel aliquam justo pellentesque in. Nullam iaculis congue est. Donec dapibus urna quam, a cursus purus lacinia sit amet. Praesent imperdiet id lorem nec vehicula. Integer dolor orci, dignissim tincidunt dignissim ornare, sodales eu nunc. Morbi ac velit et justo pharetra aliquam id vel libero. Fusce a semper tortor.</p>
                                <p>Nam quis risus non eros eleifend molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eu tellus sodales, convallis leo et, fringilla elit. Fusce ac nisi augue. Pellentesque malesuada convallis commodo. Integer et leo quis lectus euismod euismod. Donec gravida arcu enim, at posuere quam sollicitudin sed. Aenean risus sem, vulputate ut nulla ut, efficitur suscipit nunc. Curabitur in est molestie, venenatis nisl volutpat, laoreet nulla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed arcu sem, bibendum sed suscipit nec, laoreet vel augue. Aenean vitae malesuada nulla. Donec dapibus orci at pulvinar commodo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-btns-container row">
            <div id="btnFormCancel" class="col-xs-12 col-md-4 col-md-offset-4 form-button">
                <a class="btn btn-lg btn-success btn-block" onclick="javascript:history.back();">OK</a>
            </div>
        </div>
    </section>
</div>

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->


</body>
</html>