{% if not user_session or user_session.user_type != 'patient' %}
<script type="text/javascript">
location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
</script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->


{% include 'miaas/template_nav_patient.html' %}


<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary">Upload Medical Image</h2>
            </div>
            <form id="uploadImageForm" class="col-xs-12 col-form">
                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="inputSubject" >Subject</label>
                        <div class="col-sm-9 col-md-4">
                            <input type="text" id="inputSubject" name="subject" class="form-control"
                                   placeholder="Subject" required>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="inputType" >Image Type</label>
                        <div class="col-sm-9 col-md-4">
                            <select class="form-control" id="selectType" name="type" required>
                                <option>EEG (Electroencephalography)</option>
                                <option>ECG (Electrocardiography)</option>
                                <option>EMG (Electromyography)</option>
                                <option>CT (Computed Tomography)</option>
                                <option>X-ray (Radiography)</option>
                                <option>MRI (Magnetic Resonance Imaging)</option>
                                <option>Ultrasonography (Ultrasound)</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-overlay col-md-overlay-right form-group">
                        <label class="col-sm-3 col-md-4 control-label" for="fileImage">Medical Image</label>
                        <div class="col-sm-9 col-md-8">
                            <input type="file" id="fileImage" name="medicalImage" class="form-control"
                                   placeholder="Medical Image" required>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-overlay col-md-overlay-right
                                col-md-overlay-2 form-group medimage-preview-container">
                        <div class="medimage-preview-wrapper">
                            <div class="medimage-preview">
                                <div class="text-center text-warning" style="margin-top:86px;">Image Preview</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="inputDate" >Date</label>
                        <div class="col-sm-9 col-md-4">
                            <input type="date" id="inputDate" name="date" class="form-control"
                                   placeholder="Date" required>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="selectTaken" >Taken From</label>
                        <div class="col-sm-9 col-md-4">
                            <select class="form-control" id="selectTaken" name="taken" required>
                                <option>Medical Clinic</option>
                                <option>Home</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="inputPhysician" >Physician</label>
                        <div class="col-sm-9 col-md-4">
                            <input type="text" id="inputPhysician" name="physician" class="form-control"
                                   placeholder="Examining Physician" required>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="inputPlace" >Clinic Name</label>
                        <div class="col-sm-9 col-md-4">
                            <input type="text" id="inputPlace" name="place" class="form-control"
                                   placeholder="Place" required>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="taDescription" >Description</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="taDescription" name="description" class="form-control"
                                      placeholder="Description" rows="5"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-btns-container row">
                    <div id="btnFormCancel" class="col-xs-6 col-sm-4 col-md-2 col-md-offset-6 form-button">
                        <a class="btn btn-lg btn-info btn-block" onclick="javascript:history.back();">Cancel</a>
                    </div>
                    <div id="btnFormReset" class="col-xs-6 col-sm-4 col-md-2 form-button">
                        <button class="btn btn-lg btn-info btn-block" type="reset">Reset</button>
                    </div>
                    <div id="btnFormConfirm" class="col-xs-12 col-sm-4 col-md-2 form-button">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script type="text/javascript">
    $('#uploadImageForm').on('submit', function(e) {
        e.preventDefault();


    });
</script>

</body>
</html>
