{% if not user_session or user_session.user_type != 'patient' %}
<script type="text/javascript">
location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
</script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->


{% include 'miaas/template_nav_patient.html' %}

<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary">Personal Profile</h2>
            </div>
            <form id="patientProfileForm" class="col-xs-12 col-form">
                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="height" >Height</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="height" name="height" class="form-control"
                                   >
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4">
                            <select class="form-control" id="heightType" name="heightType">
                                <option>Centimeters</option>
                                <option>Inch</option>
                                <option>Feet</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="weight" >Weight</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="weight" name="weight" class="form-control"
                                   >
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4">
                            <select class="form-control" id="weightType" name="weightType">
                                <option>Kilogram</option>
                                <option>Pound</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="drinkingCapacity" >Drinking Capacity</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="drinkingCapacity" name="drinkingCapacity" class="form-control"
                                   >
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4 control-text">
                            <span>bottles</span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="drinkingFrequency" >Drinking Frequency</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="drinkingFrequency" name="drinkingFrequency" class="form-control"
                                   >
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4 control-text no-pad-right">
                            <span>times per a week</span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="sleeping" >Sleeping Hours</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="sleeping" name="sleeping" class="form-control"
                                   >
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4 control-text">
                            <span>hours per a day</span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="exercise" >Exercise Hours</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="exercise" name="exercise" class="form-control"
                                   >
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4 control-text no-pad-right">
                            <span>minutes per a day</span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="smoking" >Smoking Status</label>
                        <div class="col-sm-9 col-md-7">
                            <select class="form-control" id="smoking" name="smoking">
                                <option>Nonsmoker</option>
                                <option>Scarcely</option>
                                <option>Sometimes</option>
                                <option>A pack per two weeks</option>
                                <option>A pack per week</option>
                                <option>2 packs per week</option>
                                <option>3 packs per week</option>
                                <option>5 packs per week</option>
                                <option>1 pack per a day</option>
                                <option>2 packs per a day</option>
                                <option>3 or more packs per a day</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="water" >Water Intake</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="water" name="water" class="form-control"
                                   >
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4 control-text">
                            <span>cups per a day</span>
                        </div>
                    </div>
                </div>

                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="diseaseHistory" >Disease History</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="diseaseHistory" name="diseaseHistory" class="form-control"
                                      placeholder="Diseases" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="medication" > Medication</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="medication" name="medication" class="form-control"
                                      placeholder="Medications" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="familyHistory" >Family History</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="familyHistory" name="familyHistory" class="form-control"
                                      placeholder="Family History (Heritability)" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="significant" >Significant</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="significant" name="significant" class="form-control"
                                      placeholder="Significant Cases" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="notice" >Notice</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="notice" name="notice" class="form-control"
                                      placeholder="Notices" rows="3"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-btns-container row">
                    <div id="btnFormReset" class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-4 form-button">
                        <button class="btn btn-lg btn-primary btn-block" type="button">Reset</button>
                    </div>
                    <div id="btnFormUpdate" class="col-xs-12 col-sm-4 col-md-2 form-button">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="updateFailedModal" tabindex="-1" role="dialog" aria-labelledby="updateFailedTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="updateFailedTitle">Update Failed</h4>
        </div>
        <div class="modal-body">
        Signup failed
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="updatedModal" tabindex="-1" role="dialog" aria-labelledby="updatedTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="updatedTitle">Update Success</h4>
        </div>
        <div class="modal-body">
        Your profile is successfully updated.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script src="{% static 'miass/js/profile.js' %}"></script>

</body>
</html>
