{% if not user_session or user_session.user_type != 'patient' %}
    <script type="text/javascript">
        location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
    </script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'miass/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'miass/css/dataTable-custom.css' %}">

{% include 'miaas/template_nav_patient.html' %}

<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary">Interpretation Requests</h2>
            </div>

            <div class="col-xs-12 col-table">
                {% if dt_list %}
                    <div class="table-container row">
                        <div class="table-title col-xs-12">Interpretation Request List</div>
                        <table id="dataTable" class="display" width="100%"></table>
                    </div>
                {% else %}
                    <div class="table-nodata">
                        <h4 class="text-danger">There is no requests.</h4>
                        <p>You can request your FIRST Interpretation of a Medical Image.</p>
                        <a class="btn btn-default" href="{% url 'miaas:archive' %}" type="button">Go to Archive</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script src="{% static 'lib/jquery/jquery.dataTables.min.js' %}"></script>
<script>
    var dataSet = {{ dt_list | safe }};
    $(document).ready(function() {
        var table = $('#dataTable').DataTable({
            data: dataSet,
            columns: [
                { title: "Requested Date" },
                { title: "Request Subject" },
                { title: "Image Subject" },
                { title: "Image Type" },
                { title: "Level" },
                { title: "Status" }
            ]
        });
        $('#dataTable tbody').on('click', 'tr', function () {
            $.LoadingOverlay('show');
            var data = table.row( this ).data();
            var index_id = data[data.length-1];
            location.href = '{% url 'miaas:interpretation_request_list' %}/detail/' +index_id;
        });
    });
</script>


</body>
</html>
