{% if not user_session or user_session.user_type != 'patient' %}
    <script type="text/javascript">
        location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
    </script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->


{% include 'miaas/template_nav_patient.html' %}

<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary">Personal Profile</h2>
            </div>
            <form id="patientProfileForm" class="col-xs-12 col-form" accept-charset="UTF-8">
                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="height">Height</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="height" name="height" maxlength="10" step="0.01" class="form-control" min="60" max="300">
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4">
                            <select class="form-control" id="heightType" name="heightType">
                                <option value="Centimeters">Centimeters</option>
                                <option value="Inch">Inch</option>
                                <option value="Feet">Feet</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="weight">Weight</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="weight" name="weight" maxlength="10" step="0.01" class="form-control" min="30" max="500">
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4">
                            <select class="form-control" id="weightType" name="weightType">
                                <option value="Kilogram">Kilogram</option>
                                <option value="Pound">Pound</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="drinkingCapacity">Drinking
                            Capacity</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="drinkingCapacity" name="drinkingCapacity" maxlength="10" class="form-control" min="0" max="100">
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4 control-text">
                            <span>glasses</span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="drinkingFrequency">Drinking
                            Frequency</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="drinkingFrequency" name="drinkingFrequency" maxlength="10" step="0.1" class="form-control" min="0" max="7">
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4 control-text no-pad-right">
                            <span>times per a week</span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="sleeping">Sleeping Hours</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="sleeping" name="sleeping" maxlength="10" step="0.1" class="form-control" min="0" max="24">
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4 control-text">
                            <span>hours per a day</span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="exercise">Exercise Time</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="exercise" name="exercise" maxlength="10" class="form-control" min="0" max="1440">
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4 control-text no-pad-right">
                            <span>minutes per a day</span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="smoking">Smoking Status</label>
                        <div class="col-sm-9 col-md-7">
                            <select class="form-control" id="smoking" name="smoking">
                                <option value="" selected disabled>Select</option>
                                <option>Nonsmoker</option>
                                <option>Scarcely</option>
                                <option>Sometimes</option>
                                <option>A pack per two weeks</option>
                                <option>A pack per week</option>
                                <option>2 packs per week</option>
                                <option>3 packs per week</option>
                                <option>5 packs per week</option>
                                <option>1 pack per a day</option>
                                <option>2 packs per a day</option>
                                <option>3 or more packs per a day</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="water">Water Intake</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="water" name="water" maxlength="10" class="form-control" min="0" max="100"
                            >
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4 control-text">
                            <span>cups per a day</span>
                        </div>
                    </div>
                </div>

                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="pastMedicalHistory">Past Medical
                            History</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="pastMedicalHistory" name="pastMedicalHistory"
                                      class="form-control"
                                      placeholder="Write your past medical history which is about treatment, suffered diseases, or surgical history. &#10;Example) 10 years ago, I developed Hypertension which was controlled by medication and Diabetes Mellitus."
                                      rows="5"></textarea>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="existingDiseases">Existing Diseases </label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="existingDiseases" name="existingDiseases"
                                      class="form-control"
                                      placeholder="Write your existing diseases. &#10;Example) Diabetes, Osteoporosis, …"
                                      rows="5"></textarea>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="suspectedDiseases">Suspected
                            Diseases </label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="suspectedDiseases" name="suspectedDiseases"
                                      class="form-control"
                                      placeholder="Write your suspected diseases with related symptoms. &#10;Example) I frequently spit blood, so I was told that I have a possibility to have ileus."
                                      rows="5"></textarea>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="medications">Medications </label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="medications" name="medications"
                                      class="form-control"
                                      placeholder="Write your current or past medications. &#10;Example) I took Plendil and Avandia 10 years ago."
                                      rows="5"></textarea>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="familyMedicalHistory">Family Medical
                            History </label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="familyMedicalHistory" name="familyMedicalHistory"
                                      class="form-control"
                                      placeholder="Write your family medical history. &#10;Example) My father died of heart attack at 54, had Type 2 DM."
                                      rows="5"></textarea>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="allergies">Allergies</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="allergies" name="allergies"
                                      class="form-control"
                                      placeholder="Write your allergies. &#10;Example) I’m allergic to pollen."
                                      rows="5"></textarea>
                        </div>
                    </div>


                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="notice">Notice</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="notice" name="notice"
                                      class="form-control"
                                      placeholder="Write any notifications that need to be informed to physicians. &#10;Example) I have my heart on the right side by nature."
                                      rows="5"></textarea>
                        </div>
                    </div>

                    <div class="form-btns-container row">
                        <div id="btnFormReset"
                             class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-4 form-button">
                            <button class="btn btn-lg btn-primary btn-block" type="button">Reset</button>
                        </div>
                        <div id="btnFormUpdate" class="col-xs-12 col-sm-4 col-md-2 form-button">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="updateFailedModal" tabindex="-1" role="dialog" aria-labelledby="updateFailedTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="updateFailedTitle">Update Failed</h4>
            </div>
            <div class="modal-body">
                Signup failed
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="updatedModal" tabindex="-1" role="dialog" aria-labelledby="updatedTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="updatedTitle">Update Success</h4>
            </div>
            <div class="modal-body">
                Your profile is successfully updated.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script src="{% static 'miass/js/profile.js' %}"></script>

</body>
</html>
