{% if not user_session or user_session.user_type != 'patient' %}
    <script type="text/javascript">
        location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
    </script>
{% endif %}


{% load my_filters %}{% load staticfiles %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'lib/wado/conerstone/cornerstone.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'miass/css/imageViewer.css' %}">

{% include 'miaas/template_nav_patient.html' %}

<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary" id="titleSubject">Interpretation Result for "{{ request_detail.request_subject }}"</h2>
            </div>

            <div class="col-xs-12 col-form">
                {% include 'miaas/template_container_intpr_info.html' %}
                {% include 'miaas/template_container_image_info.html' %}

                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label no-pad-top" for="inputReqSubject" >Request Subject</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <span id="reqSubject" >{{ request_detail.request_subject }}</span>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="reqMessage" >Request Message</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <div id="reqMessage" >
                                <p>{{ request_detail.request_message }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-btns-container row">
                    <div id="btnFormCancel" class="col-xs-12 col-md-4 col-md-offset-4 form-button">
                        <a class="btn btn-lg btn-success btn-block" onclick="javascript:history.back();">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Modal -->
{% include 'miaas/template_modal_physician_profile.html' %}
{% include 'miaas/template_modal_imageviewer.html' %}

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script>
    $(document).ready(function() {
        $('.view-profile').click(function(){
            var physician_id = $(this).attr('physician_id');
            $.LoadingOverlay('show');
            $.ajax("/api/physician_profile", {
                method: 'GET',
                data: {
                    user_id: physician_id
                },
                dataType: 'json',
                success: function(res) {
                    $.LoadingOverlay('hide');
                    if(res['code'] == 'SUCCESS') {
                        profiles = res['profiles'];
                        resetProfile();
                        $('#physicianProfileModal').modal()
                    } else {
                        openModal(res['msg'], 'Getting Profile Failed');
                    }
                }
            });
        });

        setOpenImageViewerListener($('#image-previewer'));
    });

    function resetProfile() {
        $('#physicianProfileForm input, #physicianProfileForm textarea').each(function() {
            $(this).val('');
        });

        for (var i in profiles) {
            var profile = profiles[i];
            $('#'+profile.type).val(profile.value);
        }
    }

    imageInfo = JSON.parse("{{ image | jsonstr }}");
    archiveURL = "{% url 'miaas:archive' %}";
</script>

<!-- include the cornerstone library -->
<script src="{% static 'lib/wado/conerstone/cornerstone.js' %}"></script>
<script src="{% static 'lib/wado/cornerstoneMath.js' %}"></script>
<script src="{% static 'lib/wado/cornerstoneTools.js' %}"></script>

<!-- include the dicomParser library as the WADO image loader depends on it -->
<script src="{% static 'lib/wado/dicomParser/dicomParser.min.js' %}"></script>

<!-- jpeg 2000 codec -->
<script src="{% static 'lib/wado/jpx.min.js' %}"></script>

<!-- include the cornerstoneWADOImageLoader library -->
<script src="{% static 'lib/wado/cornerstoneWADOImageLoader.min.js' %}"></script>

<!-- include the dygraph library -->
<script src="{% static 'lib/dygraph/dygraph-combined.js' %}"></script>
<script src="{% static 'lib/dygraph/smooth-plotter.js' %}"></script>

<script src="{% static 'miass/js/dygraphsInteraction.js' %}"></script>
<script src="{% static 'miass/js/imageViewer.js' %}"></script>
<script src="{% static 'miass/js/imagePreviewer.js' %}"></script>



</body>
</html>