{% if not user_session or user_session.user_type != 'patient' %}
<script type="text/javascript">
location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
</script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->


{% include 'miaas/template_nav_patient.html' %}

<script>
    var session = "{{ user_session | jsonstr }}";
    console.log(JSON.parse(session));
</script>

<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary">Personal Profile</h2>
            </div>
            <form class="col-xs-12 col-form">
                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="inputHeight" >Height</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="inputHeight" name="height" class="form-control"
                                   >
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4">
                            <select class="form-control" id="selectHeightType" name="heightType">
                                <option>Centimeters</option>
                                <option>Inch</option>
                                <option>Feet</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="inputWeight" >Weight</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="inputWeight" name="weight" class="form-control"
                                   >
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4">
                            <select class="form-control" id="selectWeightType" name="weightType">
                                <option>Kilogram</option>
                                <option>Pound</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="inputDrinkingCapacity" >Drinking Capacity</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="inputDrinkingCapacity" name="drinkingCapacity" class="form-control"
                                   >
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4 control-text">
                            <span>bottles</span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="inputDrinkingFrequency" >Drinking Frequency</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="inputDrinkingFrequency" name="drinkingFrequency" class="form-control"
                                   >
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4 control-text no-pad-right">
                            <span>times per a week</span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="inputSleeping" >Sleeping Hours</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="inputSleeping" name="sleeping" class="form-control"
                                   >
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4 control-text">
                            <span>hours per a day</span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="inputExercise" >Exercise Hours</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="inputExercise" name="exercise" class="form-control"
                                   >
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4 control-text no-pad-right">
                            <span>minutes per a day</span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="selectSmoking" >Smoking Status</label>
                        <div class="col-sm-9 col-md-7">
                            <select class="form-control" id="selectSmoking" name="smoking">
                                <option>Nonsmoker</option>
                                <option>Scarcely</option>
                                <option>Sometimes</option>
                                <option>A pack per two weeks</option>
                                <option>A pack per week</option>
                                <option>2 packs per week</option>
                                <option>3 packs per week</option>
                                <option>5 packs per week</option>
                                <option>1 pack per a day</option>
                                <option>2 packs per a day</option>
                                <option>3 or more packs per a day</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="inputWater" >Water Intake</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <input type="number" id="inputWater" name="water" class="form-control"
                                   >
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-4 control-text">
                            <span>cups per a day</span>
                        </div>
                    </div>
                </div>

                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="taDisease" >Disease History</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="taDisease" name="disease" class="form-control"
                                      placeholder="Diseases" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="taMedication" > Medication</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="taMedication" name="medication" class="form-control"
                                      placeholder="Medications" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="taFamilyHistory" >Family History</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="taFamilyHistory" name="familyHistory" class="form-control"
                                      placeholder="Family History (Heritability)" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="taSignificant" >Significant</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="taSignificant" name="significant" class="form-control"
                                      placeholder="Significant Cases" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="taNotice" >Notice</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="taNotice" name="notice" class="form-control"
                                      placeholder="Notices" rows="3"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-btns-container row">
                    <div id="btnFormReset" class="col-xs-6 col-sm-4 col-md-2 col-md-offset-4 form-button">
                        <button class="btn btn-lg btn-primary btn-block" type="reset">Reset</button>
                    </div>
                    <div id="btnFormUpdate" class="col-xs-12 col-sm-4 col-md-2 form-button">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script src="{% static 'miass/js/profile.js' %}"></script>

</body>
</html>
