{% if not user_session or user_session.user_type != 'patient' %}
<script type="text/javascript">
location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
</script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->

{% include 'miaas/template_nav_patient.html' %}


<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary">Upload Medical Image</h2>
            </div>
            <form id="uploadImageForm" class="col-xs-12 col-form" action="" accept-charset="UTF-8"
                  method="post" enctype="multipart/form-data">
                <div class="form-container form-boxed form-horizontal row">

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="subject" >Image Subject</label>
                        <div class="col-sm-9 col-md-10">
                            <input type="text" id="subject" maxlength="255" name="subject" class="form-control"
                                   placeholder="Example) CT image for suspected lung cancer" required>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="image_file">Image File</label>
                        <div class="col-sm-9 col-md-10">
                            {% csrf_token %}
                            <input type="file" id="image_file" multiple="multiple" name="attachments" class="form-control"
                                   placeholder="Supported file extensions are dcm, dicom, csv, edf, and zip." required
                                   accept=".csv, .edf, .png, .jpg, .dicom, .dcm, .zip" >
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="imageType" >Image Type</label>
                        <div class="col-sm-9 col-md-10">
                            <select class="form-control" id="imageType" name="imageType" required>
                                <option value="EEG">EEG (Electroencephalography)</option>
                                <option value="ECG">ECG (Electrocardiography)</option>
                                <option value="EMG">EMG (Electromyography)</option>
                                <option value="CT">CT (Computed Tomography)</option>
                                <option value="X-ray">X-ray (Radiography)</option>
                                <option value="MRI">MRI (Magnetic Resonance Imaging)</option>
                                <option value="US">Ultrasonography (Ultrasound)</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="takenDate" >Recorded Date</label>
                        <div class="col-sm-9 col-md-10">
                            <input type="date" id="takenDate" name="takenDate" class="form-control"
                                   placeholder="YYYY-MM-DD" required>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="takenFrom" >Recording Place</label>
                        <div class="col-sm-9 col-md-10">
                            <select class="form-control" id="takenFrom" name="takenFrom" required>
                                <option>Medical Clinic</option>
                                <option>Home</option>
                            </select>
                        </div>
                    </div>

                    <div id="physicianGroup" class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="takenPhysicianName" >Doctor in Charge</label>
                        <div class="col-sm-9 col-md-10">
                            <input type="text" maxlength="100" id="takenPhysicianName" name="takenPhysicianName" class="form-control"
                                   placeholder="Example) Doctor. Smith" required>
                        </div>
                    </div>

                    <div id="clinicNameGroup" class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="clinicName" >Clinic Name</label>
                        <div class="col-sm-9 col-md-10">
                            <input type="text" maxlength="255" id="clinicName" name="clinicName" class="form-control"
                                   placeholder="Example) Seoul Severance Hospital" required>
                        </div>
                    </div>

                    <div id="medicalDepartmentGroup" class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="medicalDepartment" >Medical Department</label>
                        <div class="col-sm-9 col-md-10">
                            <input type="text" maxlength="255" id="medicalDepartment" name="medicalDepartment" class="form-control"
                                   placeholder="Example) Cardiothoracic surgery" required>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="imageDescription" >Notice</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="imageDescription" name="imageDescription" class="form-control"
                                      placeholder="Write any notifications that need to be informed to physicians.&#10;Example) This image was taken for suspected lung cancer." rows="5"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-btns-container row">
                    <div id="btnFormCancel" class="col-xs-6 col-sm-6 col-md-3 col-md-offset-3 form-button">
                        <a class="btn btn-lg btn-info btn-block" onclick="javascript:history.back();">Cancel</a>
                    </div>
                    <div id="btnFormConfirm" class="col-xs-6 col-sm-6 col-md-3 form-button">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="uploadFailModal" tabindex="-1" role="dialog" aria-labelledby="uploadFailTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="uploadFailTitle">Upload Failed</h4>
        </div>
        <div class="modal-body">
            Uploading Medical Image Failed.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

{% include 'miaas/template_modal_uploader.html' %}

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script src="{% static 'lib/jquery/plugins/progressbar.min.js' %}"></script>
<script type="text/javascript">
    archiveURL = "{% url 'miaas:archive' %}";
</script>
<script src="{% static 'miass/js/imageUploader.js' %}"></script>
<script src="{% static 'miass/js/medical_image_upload.js' %}"></script>

</body>
</html>
