{% if not user_session or user_session.user_type != 'patient' %}
    <script type="text/javascript">
        location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
    </script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->


{% include 'miaas/template_nav_patient.html' %}

<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary">Interpretation Requests</h2>
            </div>

            <div class="col-xs-12 col-table">
                {% if intpr_request.intpr_request_list %}
                    <div class="table-container row">
                        <div class="table-title col-xs-12">Interpretation Request List</div>
                        <table class="table table-striped table-hover col-xs-12">
                            <thead>
                            <td>Requested Date</td>
                            <td>Subject</td>
                            <td>Image Type</td>
                            <td>Level</td>
                            <td>Status</td>
                            </thead>
                            <tbody>
                            {% for intpr_req in intpr_request.intpr_request_list %}
                                <tr onclick="javascript: $.LoadingOverlay('show'); location.href='{% url 'miaas:interpretation_request_detail' intpr_req.request_id %}';">
                                    <td>{{ intpr_req.request_date|datetime_string }}</td>
                                    <td>{{ intpr_req.request_subject }}</td>
                                    <td>{{ intpr_req.image_type }}</td>
                                    <td>{{ intpr_req.level }}</td>
                                    <td class="bold interpretation-status-{{ intpr_req.status }}">{{ intpr_req.status|get_interpretation_status }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="col-xs-12 text-center table-page-container">
                        <a class="table-page-first" href="?page=1"> < </a>

                            {% for page_num in intpr_request.start_page|get_range_from_to2:intpr_request.end_page %}
                                {% if page_num == intpr_request.now_page %}
                                    <b>
                                {% endif %}
                            <a class="table-page-number" href="?page={{ page_num }}">{{ page_num }}</a>
                                {% if page_num == intpr_request.now_page %}
                                    </b>
                                {% endif %}
                            {% endfor %}

                        <a class="table-page-last" href="?page={{ intpr_request.end_page }}"> > </a>
                        </div>
                    </div>
                {% else %}
                    <div class="table-nodata">
                        <h4 class="text-danger">There is no requests.</h4>
                        <p>You can request your FIRST Interpretation of a Medical Image.</p>
                        <a class="btn btn-default" href="{% url 'miaas:archive' %}" type="button">Request New</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->


</body>
</html>
