{% if not user_session or user_session.user_type != 'patient' %}
    <script type="text/javascript">
        location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
    </script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}
{% include 'miaas/template_nav_patient.html' %}
<!-- custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'miass/data_table_css/dataTables.bootstrap.css' %}">


<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary">Medical Image Archive</h2>
            </div>
            <div class="col-xs-12 col-table">
                {% if dt_list %}
                    <div class="table-container row">
                        <div class="table-title col-xs-12 col-md-4">Medical Image List</div>
                        <table id="dataTable" class="table table-striped table-bordered table-hover display"
                               width="100%"></table>
                        {% else %}

                        <div class="table-nodata">
                            <h4 class="text-danger">There is no Medical Images</h4>
                            <p>You can upload your FIRST medical image</p>
                            <a class="btn btn-primary" href="{% url 'miaas:archive_upload' %}" type="button">Upload</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if dt_list %}
                <div class="col-xs-12 col-md-4 col-md-offset-4">
                    <a class="btn btn-primary btn-lg btn-block"
                       href="{% url 'miaas:archive_upload' %}" type="button">Upload Image</a>
                </div>
            {% endif %}
    </section>
</div>


{% include 'miaas/template_footer.html' %}


<script src="{% static 'miass/data_table_js/jquery.dataTables.js' %}"></script>
<script src="{% static 'miass/data_table_js/dataTables.bootstrap.js' %}"></script>
<!-- custom javascript -->
<script>
    {% if dt_list %}
        var dataSet = {{ dt_list |  safe }};

        $(document).ready(function () {
            $.LoadingOverlay('show');
            var table = $('#dataTable')
                    .DataTable({
                        "fnInitComplete": function(oSettings){
                            $.LoadingOverlay('hide')
                        },
                        data: dataSet,
                        order: [[0, "desc"]],
                        columns: [
                            {
                                title: "Upload Date",
                                render: {
                                    "display": function (data) {
                                        var date = new Date(data);
                                        var year = date.getFullYear();
                                        var month = (1 + date.getMonth()).toString();
                                        month = month.length > 1 ? month : '0' + month;
                                        var day = date.getDate().toString();
                                        day = day.length > 1 ? day : '0' + day;
                                        return (month + '/' + day + '/' + year.toString().substr(2))
                                    }
                                }
                            },
                            {title: "Image Subject"},
                            {title: "Image Type"},
                            {
                                title: "Recorded Date",
                                render: {
                                    "display": function (data) {
                                        var date = new Date(data);
                                        var year = date.getFullYear();
                                        var month = (1 + date.getMonth()).toString();
                                        month = month.length > 1 ? month : '0' + month;
                                        var day = date.getDate().toString();
                                        day = day.length > 1 ? day : '0' + day;
                                        return (month + '/' + day + '/' + year.toString().substr(2))
                                    }
                                }
                            },
                            {title: "Interpretation Count"}
                        ]
                    });
            table.afnSortData = function (osSettings, iColumn) {
                var aData = [];
                $()
            };
            $('#dataTable tbody').on('click', 'tr', function () {
                $.LoadingOverlay('show');
                var data = table.row(this).data();
                var index_id = data[data.length - 1];
                location.href = '{% url 'miaas:archive' %}/detail/' + index_id;
            });
        });

    {% endif %}

</script>

</body>
</html>
