{% if not user_session or user_session.user_type != 'patient' %}
<script type="text/javascript">
location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
</script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'lib/wado/conerstone/cornerstone.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'miass/css/imageViewer.css' %}">

{% include 'miaas/template_nav_patient.html' %}


<div class="container">
    <section class="section section-default">
    {% if image and intpr_list|is_list %}
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary" id="titleSubject">{{ image.subject }}</h2>
            </div>
            <form id="imageInfoForm" class="col-xs-12 col-form" accept-charset="UTF-8">
                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="subject" >*Image Subject</label>
                        <div class="col-sm-9 col-md-4">
                            <input type="text" id="subject" maxlength="255" name="subject" class="form-control"
                                   placeholder="Subject" required readonly value="{{ image.subject }}">
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="imageType" >*Image Type</label>
                        <div class="col-sm-9 col-md-4">
                            <select class="form-control" id="imageType" name="imageType" required disabled>
                                <option value="EEG">EEG (Electroencephalography)</option>
                                <option value="ECG">ECG (Electrocardiography)</option>
                                <option value="EMG">EMG (Electromyography)</option>
                                <option value="CT">CT (Computed Tomography)</option>
                                <option value="X-ray">X-ray (Radiography)</option>
                                <option value="MRI">MRI (Magnetic Resonance Imaging)</option>
                                <option value="US">Ultrasonography (Ultrasound)</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-overlay col-md-overlay-right form-group">
                        <label class="col-sm-3 col-md-4 control-label" for="image_file">*Medical Image</label>
                        <div class="col-sm-9 col-md-8">
                            <button id="btnImageFile" class="btn btn-default btn-block text-black" disabled type="button">Click Here to Upload</button>
                        </div>
{#                        <div class="col-sm-9 col-md-8">#}
{#                            <input type="file" id="image_file" name="image_file" class="form-control"#}
{#                                   placeholder="Medical Image" required readonly>#}
{#                        </div>#}
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-overlay col-md-overlay-right
                                col-md-overlay-2 form-group medimage-preview-container">
                        <div class="medimage-preview-wrapper">
                            <div id="image-previewer" class="medimage-preview">
                                <div id="image-previewer-image" class="medimage-previewer">
                                    <div class="text-center text-warning" style="margin-top:136px;">*Image Preview</div>
                                </div>
                                <div id="image-previewer-graph" class="medimage-previewer" style="display: none;"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="takenDate" >*Recorded Date</label>
                        <div class="col-sm-9 col-md-4">
                            <input type="date" id="takenDate" name="takenDate" class="form-control" min="1800-01-01"
                                   placeholder="YYYY-MM-DD" required readonly value="2016-02-02">
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label no-pad-left-sm" for="takenFrom" >*Recording Place</label>
                        <div class="col-sm-9 col-md-4">
                            <select class="form-control" id="takenFrom" name="takenFrom" required disabled>
                                <option>Medical Clinic</option>
                                <option>Home</option>
                            </select>
                        </div>
                    </div>

                    <div id="physicianGroup" class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label no-pad-left-sm" for="takenPhysicianName" >Doctor in Charge</label>
                        <div class="col-sm-9 col-md-4">
                            <input type="text" maxlength="100" id="takenPhysicianName" name="takenPhysicianName" class="form-control"
                                   placeholder="Examining Physician" required readonly value="{{ image.physician }}">
                        </div>
                    </div>

                    <div id="clinicNameGroup" class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="clinicName" >Clinic Name</label>
                        <div class="col-sm-9 col-md-4">
                            <input type="text" id="clinicName" maxlength="255" name="clinicName" class="form-control"
                                   placeholder="Place" required readonly value="{{ image.place }}">
                        </div>
                    </div>


                    <div id="medicalDepartmentGroup" class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label no-pad-top pad-7-bot" for="clinicName" >Medical Department</label>
                        <div class="col-sm-9 col-md-4">
                            <input type="text" id="medicalDepartment" maxlength="255" name="medicalDepartment" class="form-control"
                                   placeholder="Place" required readonly value="{{ image.medical_department }}">
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="imageDescription" >Notice</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="imageDescription" name="imageDescription" class="form-control"
                                      placeholder="Description" rows="5" readonly>{{ image.description }}</textarea>
                        </div>
                    </div>

                    <div class="col-xs-12 form-btns-innerbox">
                        <div class="form-btns-container row">
                            <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-4 col-md-offset-0 form-button">
                                <a id="btnRequest" class="btn btn-lg btn-primary btn-block"
                                   href="#" type="button">Request Interpretation</a>
                            </div>

                            {% if intpr_list|is_empty %}
                                <div id="btnFormDelete" class="col-xs-6 col-sm-4 col-sm-offset-3 col-md-3 col-md-offset-2 form-button">
                                    <button class="btn btn-lg btn-danger btn-block" type="button">Delete</button>
                                </div>
                                <div id="btnFormCancel" class="col-xs-6 col-sm-4 col-sm-offset-3 col-md-3 col-md-offset-2 form-button" style="display: none;">
                                    <button class="btn btn-lg btn-primary btn-block" type="button">Cancel</button>
                                </div>
                                <div id="btnFormEdit" class="col-xs-6 col-sm-5 col-md-3 form-button">
                                    <button class="btn btn-lg btn-primary btn-block" type="button">Edit</button>
                                </div>
                                <div id="btnFormEditConfirm" class="col-xs-6 col-sm-5 col-md-3 form-button" style="display: none;">
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
                                </div>
                            {% else %}
                                <div id="btnFormDelete" class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-3 col-md-offset-5 form-button">
                                    <button class="btn btn-lg btn-danger btn-block" type="button">Delete</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>

            <form id="requestIntprForm" class="col-xs-12 col-form" style="display: none;" accept-charset="UTF-8">
                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="reqLevel"
                               style="padding-top: 7px;">*Request Level</label>
                        <div class="col-xs-12 col-sm-6 col-md-10">
                            <select class="form-control" id="reqLevel" name="reqLevel" required>
                                <option value="1" disabled>{{ 1|intpr_level_string }}</option>
                                <option value="2" selected>{{ 2|intpr_level_string }}</option>
                                <option value="3">{{ 3|intpr_level_string }}</option>
                            </select>
                        </div>
                    </div>

                    <div id="reqSubjectGroup" class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label no-pad-top" for="reqSubject" >*Request Subject</label>
                        <div class="col-xs-12 col-sm-6 col-md-10">
                            <input type="text" id="reqSubject" maxlength="255" name="reqSubject" class="form-control"
                                   placeholder="Example) Please interpret my CT image for suspected lung cancer." required>
                        </div>
                    </div>

                    <div id="reqMessageGroup" class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label no-pad-top" for="reqMessage" >*Request Message</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="reqMessage" name="reqMessage" class="form-control"
                                      placeholder="Write any messages that you want to tell physicians.&#10; Example) I was recommended to have a serious operation, so I want to receive others’ opinion for this image." rows="5" required></textarea>
                        </div>
                    </div>

                    <div class="col-xs-12 form-btns-innerbox">
                        <div class="form-btns-container row">
                            <div id="btnFormReset" class="col-xs-6 col-sm-4 col-sm-offset-3 col-md-3 col-md-offset-6 form-button">
                                <button class="btn btn-lg btn-danger btn-block" type="reset">Reset</button>
                            </div>
                            <div id="btnFormConfirm" class="col-xs-6 col-sm-5 col-md-3 form-button">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Request</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- End of Image information Row -->

        {% for intpr_num in intpr_list|list_size|get_range %}
        {% with intpr_list|list_get:intpr_num as intpr %}
            <!-- to be loop -->
            <div class="row">
                <div class="col-xs-12 col-title">
                    <h3 class="text-success">Interpretation #{{ intpr_num|plus:1 }}</h3>
                </div>
                <div class="col-xs-12 col-form">
                    {% include 'miaas/template_container_intpr_info.html' %}
                </div>
            </div>
        {% endwith %}
        {% endfor %}

        <div class="form-btns-container row">
            <div id="btnFormCancel" class="col-xs-12 col-md-4 col-md-offset-4 form-button">
                <a class="btn btn-lg btn-success btn-block"  onclick="javascript:history.back();">Back</a>
            </div>
        </div>

    {% else %}
        <script type="text/javascript">
            location.replace("{% url 'miaas:archive' %}");
        </script>
    {% endif %}
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteImageConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteImageConfirmTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="deleteImageConfirmTitle">Confirm Delete</h4>
        </div>
        <div class="modal-body">
        {% if intpr_list|list_size %}
            There are 1 or more <i>interpretations</i> for this medical image. <br/>
            If you delete the image, all the interpretations about the image will be deleted. <br/><br/>
        {% endif %}
            Are you sure to delete this image?
        </div>
        <div class="modal-footer">
            <button id="btnDeleteCofirm" type="button" class="btn btn-default" data-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imageUploadModal" tabindex="-1" role="dialog"
     aria-labelledby="imageUploadModalTitle">
    <form id="formUpdateFile" class="modal-dialog" role="document" accept-charset="UTF-8"
          action="" method="post" enctype="multipart/form-data">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="imageUploadModalTitle">Image Upload</h4>
            </div>
            <div class="modal-body">
                <div class="form-group col-xs-12">
                    <label class="col-sm-3 control-label no-pad-right" for="image_file">Medical Image</label>
                    {% csrf_token %}
                    <div class="col-sm-9">
                        <input type="file" id="image_file" multiple="multiple" name="attachments" class="form-control"
                               placeholder="Medical Image" accept=".csv, .edf, .png, .jpg, .dcm, .zip" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
                <button id="imageUploadModalCancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Select</button>
            </div>
        </div>
    </form>
</div>

{% include 'miaas/template_modal_uploader.html' %}
{% include 'miaas/template_modal_imageviewer.html' %}

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script type="text/javascript">
    $('#imageType').val("{{ image.image_type }}").attr("selected", "selected");
    $('#takenFrom').val("{{ image.taken_from }}").attr("selected", "selected");
    $('#takenDate').val(new Date(parseInt("{{ image.taken_date }}")).format("yyyy-MM-dd"));

    imageInfo = JSON.parse("{{ image | jsonstr }}");
    intprSize = {{ intpr_list|list_size }};

    archiveURL = "{% url 'miaas:archive' %}";
    requestListURL = "{% url 'miaas:interpretation_request_list' %}";
</script>

<!-- include the progressbar library -->
<script src="{% static 'lib/jquery/plugins/progressbar.min.js' %}"></script>

<!-- include the cornerstone library -->
<script src="{% static 'lib/wado/conerstone/cornerstone.js' %}"></script>
<script src="{% static 'lib/wado/cornerstoneMath.js' %}"></script>
<script src="{% static 'lib/wado/cornerstoneTools.js' %}"></script>

<!-- include the dicomParser library as the WADO image loader depends on it -->
<script src="{% static 'lib/wado/dicomParser/dicomParser.min.js' %}"></script>

<!-- jpeg 2000 codec -->
<script src="{% static 'lib/wado/jpx.min.js' %}"></script>

<!-- include the cornerstoneWADOImageLoader library -->
<script src="{% static 'lib/wado/cornerstoneWADOImageLoader.min.js' %}"></script>

<!-- include the dygraph library -->
<script src="{% static 'lib/dygraph/dygraph-combined.js' %}"></script>
<script src="{% static 'lib/dygraph/smooth-plotter.js' %}"></script>

<script src="{% static 'miass/js/imageUploader.js' %}"></script>
<script src="{% static 'miass/js/dygraphsInteraction.js' %}"></script>
<script src="{% static 'miass/js/imageViewer.js' %}"></script>
<script src="{% static 'miass/js/imagePreviewer.js' %}"></script>
<script src="{% static 'miass/js/medical_image.js' %}"></script>

</body>
</html>