{% if not user_session or user_session.user_type != 'patient' %}
    <script type="text/javascript">
        location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
    </script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'lib/wado/conerstone/cornerstone.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'miass/css/imageViewer.css' %}">

{% include 'miaas/template_nav_patient.html' %}
<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary" id="titleSubject">Interpretation Request "{{ request_detail.request_subject }}"</h2>
            </div>
            {% if request_detail.status == '1' or request_detail.status == 1 %} {# Waiting Interpretation #}
                <div class="col-xs-12 col-form">
                    <div class="table-container row">
                        <div class="table-title col-xs-12">Physician</div>
                        <table class="table table-striped table-hover col-xs-12">
                            <thead>
                            <td>Physician ID</td>
                            <td>Physician Name</td>
                            <td>Medical Field</td>
                            <td>Acceptance Message</td>
                            </thead>
                            <tbody>
                            {% for res in responses %}
                                <tr>
                                    <td><a class="text-primary view-profile" href="#" physician_id="{{ res.physician_id }}">{{ res.physician_id }}</a></td>
                                    <td class="word-break">{{ res.physician_name }}</td>
                                    <td class="word-break">{{ res.medical_field }}</td>
                                    <td class="word-break">{{ res.response_message }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% include 'miaas/template_container_image_info.html' %}
                    {% include 'miaas/template_container_request_info.html' %}

                    <div class="form-btns-container row">
                        <div id="btnFormCancel" class="col-xs-6 col-md-3 col-md-offset-3 form-button">
                            <a class="btn btn-lg btn-success btn-block"  onclick="javascript:history.back();">Back</a>
                        </div>
                        <div id="btnFormCancel" class="col-xs-6 col-md-3  form-button">
                            <a class="btn btn-lg btn-danger btn-block btn-request-cancel">Cancel Request</a>
                        </div>
                    </div>
                </div>

            {% elif request_detail.status == '2' or request_detail.status == 2 %} {# Candidate Waiting #}
{#                <div class="col-xs-12 col-table">#}
                <div class="table-container detail-page-table-container row">
                    <div class="table-title col-xs-12">Candidate Physician List</div>
                    <table class="table table-striped table-hover col-xs-12">
                        <thead>
                        <td>Physician ID</td>
                        <td>Physician Name</td>
                        <td>Medical Field</td>
                        <td>Acceptance Message</td>
                        <td>Select</td>
                        </thead>
                        <tbody>
                        {% for res in responses %}
                            <tr>
                                <td><a class="text-primary view-profile" href="#" physician_id="{{ res.physician_id }}">{{ res.physician_id }}</a></td>
                                <td class="word-break">{{ res.physician_name }}</td>
                                <td class="word-break">{{ res.medical_field }}</td>
                                <td class="word-break">{{ res.response_message }}</td>
                                <td class="valign vcenter">
                                    <a class="btn btn-success btn-block btn-physician-select" physician_id="{{ res.physician_id }}" >SELECT</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-xs-12 col-form">
                    {% include 'miaas/template_container_image_info.html' %}
                    {% include 'miaas/template_container_request_info.html' %}

                    <div class="form-btns-container row">
                        <div id="btnFormCancel" class="col-xs-6 col-md-3 col-md-offset-3 form-button">
                            <a class="btn btn-lg btn-success btn-block" onclick="javascript:history.back();">Back</a>
                        </div>
                        <div id="btnFormCancel" class="col-xs-6 col-md-3  form-button">
                            <a class="btn btn-lg btn-danger btn-block btn-request-cancel">Cancel Request</a>
                        </div>

                    </div>
                </div>

            {% elif request_detail.status == '3' or request_detail.status == 3 %} {# Finding Physician #}
{#                <div class="col-xs-12 col-table">#}
                <form id="formRequestEdit">
                    <div class="col-xs-12 col-form">
                        {% include 'miaas/template_container_image_info.html' %}

                        <div class="form-container form-boxed form-horizontal row">
                            <div class="col-xs-12 form-group">
                                <label class="col-sm-3 col-md-2 control-label no-pad-top" for="inputReqSubject" >*Request Subject</label>
                                <div class="col-xs-12 col-sm-6 col-md-10">
                                    <textarea type="textarea" id="taSubject" name="txt_request_subject"
                                              class="form-control" required>{{ request_detail.request_subject }}</textarea>
                                </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                <label class="col-sm-3 col-md-2 control-label no-pad-top" for="taMessage" >*Request Message</label>
                                <div class="col-sm-9 col-md-10">
                                <textarea type="textarea" id="taMessage" name="message" class="form-control"
                                          rows="5" required >{{ request_detail.request_message }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-btns-container row" accept-charset="UTF-8">
                        <div id="btnFormCancel" class="col-xs-6 col-md-3 col-md-offset-3 form-button">
                            <a class="btn btn-lg btn-success btn-block" onclick="javascript:history.back();">Back</a>
                        </div>
                        <div id="btnFormCancel" class="col-xs-6 col-md-3 form-button">
                            <a class="btn btn-lg btn-danger btn-block btn-request-cancel">Cancel Request</a>
                        </div>
                        <div id="btnFormCancel" class="col-xs-6 col-md-3 form-button">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                        </div>

                    </div>
                </form>

            {% endif %}

            </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="updateFailedModal" tabindex="-1" role="dialog" aria-labelledby="updateFailedTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="updateFailedTitle">Update Failed</h4>
            </div>
            <div class="modal-body">
                Signup failed
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cancelRequest" tabindex="-1" role="dialog" aria-labelledby="cancelRequestTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="cancelRequestTitle">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                Are you sure to cancel the request?
            </div>
            <div class="modal-footer">
                <button id="btnDeleteConfirm" type="button" class="btn btn-default" data-dismiss="modal">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% include 'miaas/template_modal_physician_profile.html' %}
{% include 'miaas/template_modal_imageviewer.html' %}

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script>
    listURL = "{% url 'miaas:interpretation_request_list' %}";
    $(document).ready(function() {
        $('.btn-request-cancel').click(function() {
            $('#cancelRequest').modal()
        });
        $('#btnDeleteConfirm').click(function() {
            $.LoadingOverlay('show');
            $.ajax({
                url:"/api/interpretation?action=delPatientReq&request_id={{ request_detail.request_id }}",
                type: 'DELETE',
                success: function (res) {
                    $.LoadingOverlay('hide');
                    if (res['code'] == 'SUCCESS') {
                        location.replace(listURL);
                    } else {
                        openModal(res['msg'], "Request Deletion Failed")
                    }
                }
            });
            console.log("/api/interpretation?action=delPatientReq&request_id={{ request_detail.request_id }}")
        });

        $('.view-profile').click(function(){
            var physician_id = $(this).attr('physician_id');
            console.log(physician_id);
            $.LoadingOverlay('show');
            $.ajax("/api/physician_profile", {
                method: 'GET',
                data: {
                    user_id: physician_id
                },
                dataType: 'json',
                success: function(res) {
                    $.LoadingOverlay('hide');
                    console.log(res);
                    if(res['code'] == 'SUCCESS') {
                        profiles = res['profiles'];
                        resetProfile();
                        $('#physicianProfileModal').modal()
                    } else {
                        openModal(res['msg'], 'Getting Profile Failed');
                    }
                }
            });
        });

        $('.btn-physician-select').click(function() {
            $.LoadingOverlay('show');
            var physician_id = $(this).attr('physician_id');
            $.LoadingOverlay('show');
            $.ajax("/api/interpretation", {
                method: 'POST',
                data: JSON.stringify({
                    action: 'patientSelReq',
                    request_id: {{ request_detail.request_id }},
                    request_subject: '{{ request_detail.request_subject }}',
                    patient_id: '{{ user_session.user_id }}',
                    physician_id: physician_id
                }),
                dataType: 'json',
                success: function (res) {
                    $.LoadingOverlay('hide');
                    if (res['code'] == 'SUCCESS') {
                        location.replace(listURL);
                    } else {
                        openModal(res['msg'], "Physician Selection Failed")
                    }
                }
            });
        });

        $('#formRequestEdit').on('submit', function(e) {
            e.preventDefault();
            $.LoadingOverlay('show');
            $.ajax("/api/interpretation", {
                method: 'POST',
                data: JSON.stringify({
                    action: 'reqUpdate',
                    request_id: {{ request_detail.request_id }},
                    subject: $('#taSubject').val(),
                    message: $('#taMessage').val()
                }),
                dataType: 'json',
                success: function (res) {
                    $.LoadingOverlay('hide');
                    if (res['code'] == 'SUCCESS') {
                        openModal("Success", "Editing Request Succeed")
                    } else {
                        openModal(res['msg'], "Editing Request Failed")
                    }
                }
            });
        });

        setOpenImageViewerListener($('#image-previewer'));
    });

    function resetProfile() {
        $('#physicianProfileForm input, #physicianProfileForm textarea').each(function() {
            $(this).val('');
        });
        for (var profileName in profiles) {
            var profile = profiles[profileName];
            if(profile == null){
                $('#' + profileName).val("The information isn't provided by the physician.");
            }
            else {
                $('#' + profileName).val(profile);
            }
        }
    }

    imageInfo = JSON.parse("{{ image | jsonstr }}");
    archiveURL = "{% url 'miaas:archive' %}";
</script>

<!-- include the cornerstone library -->
<script src="{% static 'lib/wado/conerstone/cornerstone.js' %}"></script>
<script src="{% static 'lib/wado/cornerstoneMath.js' %}"></script>
<script src="{% static 'lib/wado/cornerstoneTools.js' %}"></script>

<!-- include the dicomParser library as the WADO image loader depends on it -->
<script src="{% static 'lib/wado/dicomParser/dicomParser.min.js' %}"></script>

<!-- jpeg 2000 codec -->
<script src="{% static 'lib/wado/jpx.min.js' %}"></script>

<!-- include the cornerstoneWADOImageLoader library -->
<script src="{% static 'lib/wado/cornerstoneWADOImageLoader.min.js' %}"></script>

<!-- include the dygraph library -->
<script src="{% static 'lib/dygraph/dygraph-combined.js' %}"></script>
<script src="{% static 'lib/dygraph/smooth-plotter.js' %}"></script>

<script src="{% static 'miass/js/dygraphsInteraction.js' %}"></script>
<script src="{% static 'miass/js/imageViewer.js' %}"></script>
<script src="{% static 'miass/js/imagePreviewer.js' %}"></script>

</body>
</html>