{% if not user_session or user_session.user_type != 'physician' %}
    <script type="text/javascript">
        location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
    </script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->
{#<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/plugin/bootstrap-wyshiwyg/libs/css/bootstrap-responsive.min.css' %}">#}
{#<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/plugin/bootstrap-wyshiwyg/libs/css/wysiwyg-color.css' %}">#}
{#<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/plugin/bootstrap-wyshiwyg/libs/css/prettify.css' %}">#}
{#<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/plugin/bootstrap-wyshiwyg/bootstrap-wysihtml5-0.0.2.css' %}">#}
<link rel="stylesheet" type="text/css" href="{% static 'lib/wado/conerstone/cornerstone.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'miass/css/imageViewer.css' %}">

{% include 'miaas/template_nav_physician.html' %}

<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary" id="titleSubject">Interpreting for "{{ request_detail.request_subject }}"</h2>
            </div>
            <form id="writeForm" class="col-xs-12 col-form" accept-charset="UTF-8">
                {% include 'miaas/template_container_request_info.html' %}

                {% include 'miaas/template_container_image_info.html' %}

                <div class="form-container form-boxed form-horizontal row">
                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Level</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <span id="itp1-level" >Level {{ request_detail.level }} </span>
                        </div>
                    </div>

                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Suspected Disease</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <textarea type="textarea" id="suspectedDisease" name="suspectedDisease" class="form-control interpretation-writer"
                                      placeholder="Write suspected diseases. &#10; Example) Diabetes, Osteoporosis, …"
                                      rows="3" >
                                <p style="color: #999;">Write suspected diseases.<br/>Example) Diabetes, Osteoporosis, …</p>
                            </textarea>
                        </div>
                    </div>

                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Opinion</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <textarea type="textarea" id="opinion" name="opinion" class="form-control interpretation-writer"
                                      placeholder="Write your opinions about the medical image.&#10;Example) Look closely at the third CT image, there is a tumor in right side of lung …"
                                      rows="7" >
                                <p style="color: #999;">Write your opinions about the medical image.<br/>Example) Look closely at the third CT image, there is a tumor in right side of lung …</p>
                            </textarea>
                        </div>
                    </div>

                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Recommendation</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <textarea type="textarea" id="recommendation" name="recommendation" class="form-control interpretation-writer"
                                      placeholder="Write recommended actions or treatments.&#10;Example) In this case, you’d better to take an operation as soon as possible…"
                                      rows="7" >
                                <p style="color: #999;">Write recommended actions or treatments.<br/>Example) In this case, you’d better to take an operation as soon as possible…</p>
                            </textarea>
                        </div>
                    </div>

                    <div class="col-sm-12 form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Summary</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <textarea type="textarea" id="summary" name="summary" class="form-control interpretation-writer"
                                      placeholder="Write summary of your interpretation.&#10;Example) There is possibility of lung cancer, so you’d better to take an operation as soon as possible …"
                                      rows="3" >
                                <p style="color: #999;">Write summary of your interpretation.<br/>Example) There is possibility of lung cancer, so you’d better to take an operation as soon as possible …</p>
                            </textarea>
                        </div>

                    </div>

                </div>
                <div class="form-btns-container row">
                    <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-4 form-button">
                        <a class="btn btn-lg btn-primary btn-block" onclick="$('#patientProfileModal').modal();"> View Profile</a>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-2 form-button">
                        <button id="btnWrite" class="btn btn-lg btn-primary btn-block" type="submit">Write</button>
                    </div>

                </div>
            </form>

        </div>
    </section>
</div>

<!-- Modal -->
{% include 'miaas/template_modal_patient_profile.html' %}
{% include 'miaas/template_modal_imageviewer.html' %}

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script>
    var profiles;
    var phIntprList = "{% url 'miaas:physician_interpretation' %}";
    $(document).ready(function() {
        $.LoadingOverlay('show');

        tinymce.init({
            selector: 'textarea.interpretation-writer',
            menubar: false,
            plugins: 'table link textcolor autolink autoresize',
            toolbar: 'undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table | link',
            init_instance_callback: function(ed) {
{#            }, setup: function(ed) {#}
                ed.on('click', function() {
                    ed.off('click');
                    ed.setContent('');
                    ed.undoManager.clear();
                });
            }
        });

{#        $('.mce-edit-area iframe').each(function(elem) {#}
{#            $(elem).contents().find('body').html();#}
{#        });#}

        $.ajax("/api/patient_profile", {
            method: 'GET',
            data: {
                user_id: '{{ request_detail.patient_id }}'
            },
            dataType: 'json',
            success: function(res) {
                $.LoadingOverlay('hide');
                //console.log(JSON.stringify(res));
                if(res['code'] == 'SUCCESS') {
                    profiles = res['profiles'];
{#                    console.log(profiles);#}
                    for (var i in profiles) {
                        var profile = profiles[i];
{#                        console.info("type="+profile.type+" / value="+profile.value);#}
                        $('#'+profile.type).val(profile.value);
                    }
                } else {
                    openModal(res['msg'], 'Getting Profile Failed');
                }
            }
        });

        $('#writeForm').on('submit', function(e) {
            e.preventDefault();

            var summary = tinymce.get('summary').getContent();
            var suspectedDisease = tinymce.get('suspectedDisease').getContent();
            var opinion = tinymce.get('opinion').getContent();
            var recommendation = tinymce.get('recommendation').getContent();

            if (/\S/.test(summary) && /\S/.test(suspectedDisease) &&
                    /\S/.test(opinion) && /\S/.test(recommendation)) {

                var matchstring = '^<p style="color: #999;">Write';
                if (summary.match(matchstring) || suspectedDisease.match(matchstring) ||
                        opinion.match(matchstring) || recommendation.match(matchstring)) {
                    openModal('Fields are not filled! Please fill all the fields.', 'Writing Failed');
                    return;
                }

                $.LoadingOverlay('show');
                $.ajax("/api/interpretation", {
                    method: 'PUT',
                    data: JSON.stringify({
                        action: 'finishIntpr',
                        request_id: '{{ request_detail.request_id }}',
                        patient_id: '{{ request_detail.patient_id }}',
                        physician_id: '{{ user_session.user_id }}',
                        image_id: '{{ request_detail.image_id }}',
                        level: '{{ request_detail.level }}',
                        summary: tinymce.get('summary').getContent(),
                        suspected_disease: tinymce.get('suspectedDisease').getContent(),
                        opinion: tinymce.get('opinion').getContent(),
                        recommendation: tinymce.get('recommendation').getContent()
                    }),
                    dataType: 'json',
                    success: function (res) {
                        $.LoadingOverlay('hide');
                        if (res['code'] == 'SUCCESS') {
                            openModal("Success", "Writing Interpretation Succeed", location.replace(phIntprList))
                        } else {
                            openModal(res['msg'], "Writing Interpretation Failed")
                        }
                    }
                });
            } else {
                openModal('Fields are not filled! Please fill all the fields.', 'Writing Failed')
            }
        });

        setOpenImageViewerListener($('#image-previewer'));
    });

    imageInfo = JSON.parse("{{ image | jsonstr }}");
    archiveURL = "{% url 'miaas:archive' %}";
</script>

<!-- include the tinyMCE library -->
<script src="{% static 'lib/tinymce/tinymce.min.js' %}"></script>

<!-- include the cornerstone library -->
<script src="{% static 'lib/wado/conerstone/cornerstone.js' %}"></script>
<script src="{% static 'lib/wado/cornerstoneMath.js' %}"></script>
<script src="{% static 'lib/wado/cornerstoneTools.js' %}"></script>

<!-- include the dicomParser library as the WADO image loader depends on it -->
<script src="{% static 'lib/wado/dicomParser/dicomParser.min.js' %}"></script>

<!-- jpeg 2000 codec -->
<script src="{% static 'lib/wado/jpx.min.js' %}"></script>

<!-- include the cornerstoneWADOImageLoader library -->
<script src="{% static 'lib/wado/cornerstoneWADOImageLoader.min.js' %}"></script>

<!-- include the dygraph library -->
<script src="{% static 'lib/dygraph/dygraph-combined.js' %}"></script>
<script src="{% static 'lib/dygraph/smooth-plotter.js' %}"></script>

<script src="{% static 'miass/js/imageViewer.js' %}"></script>
<script src="{% static 'miass/js/imagePreviewer.js' %}"></script>

</body>
</html>