{% if not user_session or user_session.user_type != 'physician' %}
    <script type="text/javascript">
        location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
    </script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'miass/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'miass/css/dataTable-custom.css' %}">


{% include 'miaas/template_nav_physician.html' %}

<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary">Respond List</h2>
            </div>

            <div class="col-xs-12 col-table">
                {% if dt_list %}
                    <div class="table-container row">
                    <div class="table-title col-xs-12">Interpretation Request List</div>
                    <table id="dataTable" class="display" width="100%"></table>
                {% else %}
                    <div class="table-nodata">
                        <h4 class="text-danger">No requests.</h4>
                        <p>You can select a request for writing interpretation</p>
                        <a class="btn btn-default" href="{% url 'miaas:interpretation_search' %}" type="button">Select a Request</a>
                    </div>
                {% endif %}
                </div>
            </div>
    </section>
</div>

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script src="{% static 'lib/jquery/jquery.dataTables.min.js' %}"></script>
<script>
    var dataSet = {{ dt_list | safe }};
    $(document).ready(function() {
        var table = $('#dataTable').DataTable({
            data: dataSet,
            order: [[ 0, "desc" ]],
            columns: [
                { title: "Request Date" },
                { title: "Response Date" },
                { title: "Patient ID" },
                { title: "Request Subject" },
                { title: "Image Subject" },
                { title: "Image Type." },
                { title: "Level" },
                { title: "Status" }
            ]
        });
        $('#dataTable tbody').on('click', 'tr', function () {
            var data = table.row( this ).data();
            var index_id = data[data.length-1];
            if(data[data.length-2] == "1"){
                $.LoadingOverlay('show');
                location.href = '{% url 'miaas:physician_interpretation' %}/write/' +index_id;
            }
            else{
                openModal("Please wait the patient's selection.", "Wait")
            }
        });
    });
</script>


</body>
</html>

