{% if not user_session or user_session.user_type != 'physician' %}
    <script type="text/javascript">
        location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
    </script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->
{% include 'miaas/template_nav_physician.html' %}

<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary">Search Medical Image Interpretation Request</h2>
            </div>
            <div class="col-xs-12 col-table">
                {% if dt_list %}
                    <div class="table-container row">
                        <div class="table-title col-xs-12 col-md-4">Medical Image List</div>
                        <table id="dataTable" class="table table-striped table-bordered table-hover" width="100%"></table>
                    </div>
                {% else %}
                    <div class="table-nodata">
                        <h4 class="text-danger">There is no any requests.</h4>
                        <p>Please wait for any patient's request.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script src="{% static 'lib/jquery/jquery.dataTables.min.js' %}"></script>
<script>
    {% if dt_list %}
    var dataSet = {{ dt_list | safe }};
    $(document).ready(function() {
        var table = $('#dataTable').DataTable({
            data: dataSet,
            order: [[ 0, "desc" ]],
            columns: [
                { title: "Request Date" },
                { title: "Patient ID" },
                { title: "Request Subject" },
                { title: "Image Subject" },
                { title: "Image Type." },
                { title: "Level" }
            ]
        });
        $('#dataTable tbody').on('click', 'tr', function () {
            $.LoadingOverlay('show');
            var data = table.row( this ).data();
            var index_id = data[data.length-1];
            location.href = '{% url 'miaas:interpretation_search' %}/detail/' +index_id;
        });
    });
    {% endif %}
</script>



</body>
</html>
