{% if not user_session or user_session.user_type != 'physician' %}
    <script type="text/javascript">
        location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
    </script>
{% endif %}
{% load static %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}
{% include 'miaas/template_nav_physician.html' %}
<!-- custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'miass/data_table_css/dataTables.bootstrap.css' %}">


<div class="container">
    <section class="section section-default">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary">My Interpretations</h2>
            </div>

            <div class="col-xs-12 col-table">
                {% if dt_list %}
                    <div class="table-container row">
                    <div class="table-title col-xs-12">Interpretation List</div>
                    <table id="dataTable" class="table table-striped table-bordered table-hover" width="100%"></table>
                {% else %}
                    <div class="table-nodata">
                        <h4 class="text-danger">There is no your interpretation</h4>
                        <p>You can search for responding patient's interpretation request</p>
                        <a class="btn btn-primary" href="{% url 'miaas:interpretation_search' %}" type="button">Go to
                            Search Page</a>
                    </div>
                {% endif %}
                </div>
            </div>
    </section>
</div>


{% include 'miaas/template_footer.html' %}
<script src="{% static 'miass/data_table_js/jquery.dataTables.js' %}"></script>
<script src="{% static 'miass/data_table_js/dataTables.bootstrap.js' %}"></script>
<!-- custom javascript -->
<script>
    {% if dt_list %}
        var dataSet = {{ dt_list | safe }};
        $(document).ready(function () {
            $.LoadingOverlay('show');
            var table = $('#dataTable').DataTable({
                "fnInitComplete": function(oSettings){
                            $.LoadingOverlay('hide')
                        },
                data: dataSet,
                order: [[0, "desc"]],
                columns: [
                    {
                        title: "Request Date",
                        render: {
                            "display": function (data) {
                                var date = new Date(data);
                                var year = date.getFullYear();
                                var month = (1 + date.getMonth()).toString();
                                month = month.length > 1 ? month : '0' + month;
                                var day = date.getDate().toString();
                                day = day.length > 1 ? day : '0' + day;
                                return (month + '/' + day + '/' + year.toString().substr(2))
                            }
                        }
                    },
                    {
                        title: "Interpret Date",
                        render: {
                            "display": function (data) {
                                var date = new Date(data);
                                var year = date.getFullYear();
                                var month = (1 + date.getMonth()).toString();
                                month = month.length > 1 ? month : '0' + month;
                                var day = date.getDate().toString();
                                day = day.length > 1 ? day : '0' + day;
                                return (month + '/' + day + '/' + year.toString().substr(2))
                            }
                        }
                    },
                    {title: "Patient ID"},
                    {title: "Image Subject"},
                    {title: "Image Type."},
                    {title: "Level"}
                ]
            });

            {% if page %}
                table.page(parseInt({{ page }})-1).draw('page');
            {% endif %}

            $('#dataTable tbody').on('click', 'tr', function () {
                $.LoadingOverlay('show');
                var data = table.row(this).data();
                var index_id = data[data.length - 1];
                var nowPage = table.page.info()["page"]+1;
                location.href = '{% url 'miaas:physician_interpretation' %}/detail/' + index_id + '?lastPage=' + nowPage;
            });
        });
    {% endif %}
</script>


</body>
</html>
