{% if not user_session or user_session.user_type != 'physician' %}
    <script type="text/javascript">
        location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
    </script>
{% endif %}

{% if redirection %}
    <script type="text/javascript">
        location.replace("{% url 'miaas:physician_interpretation' %}/detail/{{ intpr_id }}");
    </script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->
{#<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/plugin/bootstrap-wyshiwyg/libs/css/bootstrap-responsive.min.css' %}">#}
{#<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/plugin/bootstrap-wyshiwyg/libs/css/wysiwyg-color.css' %}">#}
{#<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/plugin/bootstrap-wyshiwyg/libs/css/prettify.css' %}">#}
{#<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/plugin/bootstrap-wyshiwyg/bootstrap-wysihtml5-0.0.2.css' %}">#}
<link rel="stylesheet" type="text/css" href="{% static 'lib/wado/conerstone/cornerstone.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'miass/css/imageViewer.css' %}">
<style>
    .mce-path {
        visibility: hidden !important;
    }
</style>

{% include 'miaas/template_nav_physician.html' %}

<div class="container">
    {% if request_detail.status == 1 %}
        <section class="section section-default">
            <div class="row">
                <div class="col-xs-12 col-title">
                    <h2 class="text-primary" id="titleSubject">*Interpreting for "{{ request_detail.request_subject }}"</h2>
                </div>
                <form id="writeForm" class="col-xs-12 col-form" accept-charset="UTF-8">
                    {% include 'miaas/template_container_request_info.html' %}

                    {% include 'miaas/template_container_image_info.html' %}

                    <div class="form-container form-boxed form-horizontal row">
                        <div class="col-sm-12 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">Level</label>
                            <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                                <span id="itp1-level">Level {{ request_detail.level }} </span>
                            </div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">*Suspected Disease</label>
                            <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <textarea type="textarea" id="suspectedDisease" name="suspectedDisease"
                                      class="form-control interpretation-writer"
                                      placeholder="Write suspected diseases. &#10; Example) Diabetes, Osteoporosis, …"
                                      rows="3">
                                {% if intpr_temp.suspected_disease %}
                                    {{ intpr_temp.suspected_disease }}
                                {% else %}
                                    <p style="color: #999;">Write suspected diseases.<br/>Example) Diabetes,
                                        Osteoporosis, …
                                    </p>
                                {% endif %}
                            </textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">*Opinion</label>
                            <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <textarea type="textarea" id="opinion" name="opinion"
                                      class="form-control interpretation-writer"
                                      placeholder="Write your opinions about the medical image.&#10;Example) Look closely at the third CT image, there is a tumor in right side of lung …"
                                      rows="7">
                                {% if intpr_temp.opinion %}
                                    {{ intpr_temp.opinion }}
                                {% else %}
                                    <p style="color: #999;">Write your opinions about the medical image.<br/>Example)
                                        Look
                                        closely at the third CT image, there is a tumor in right side of lung …</p>
                                {% endif %}
                            </textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">*Recommendation</label>
                            <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <textarea type="textarea" id="recommendation" name="recommendation"
                                      class="form-control interpretation-writer"
                                      placeholder="Write recommended actions or treatments.&#10;Example) In this case, you’d better to take an operation as soon as possible…"
                                      rows="7">
                                {% if intpr_temp.recommendation %}
                                    {{ intpr_temp.recommendation }}
                                {% else %}
                                    <p style="color: #999;">Write recommended actions or treatments.<br/>Example) In
                                        this
                                        case, you’d better to take an operation as soon as possible…</p>
                                {% endif %}
                            </textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">*Summary</label>
                            <div class="col-xs-12 col-sm-9 col-md-10 control-text">
                            <textarea type="textarea" id="summary" name="summary"
                                      class="form-control interpretation-writer"
                                      placeholder="Write summary of your interpretation.&#10;Example) There is possibility of lung cancer, so you’d better to take an operation as soon as possible …"
                                      rows="3">
                                {% if intpr_temp.summary %}
                                    {{ intpr_temp.summary }}
                                {% else %}
                                    <p style="color: #999;">Write summary of your interpretation.<br/>Example) There is
                                        possibility of lung cancer, so you’d better to take an operation as soon as
                                        possible…</p>
                                {% endif %}
                            </textarea>
                            </div>

                        </div>

                    </div>
                    <div class="form-btns-container row">
                        <div class="col-xs-12 col-sm-6 col-md-3 form-button">
                            <a id="btnBack" class="btn btn-lg btn-success btn-block">Back</a>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3 form-button">
                            <a id="btnViewProfile" class="btn btn-lg btn-primary btn-block">View Profile</a>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3 form-button">
                            <button id="btnSave" class="btn btn-lg btn-primary btn-block" type="button"
                                    onclick="tempSave()">Save
                            </button>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3 form-button">
                            <button id="btnWrite" class="btn btn-lg btn-primary btn-block" type="button">Submit</button>
                        </div>

                    </div>
                </form>

            </div>
        </section>

    {% else %}
        <div class="col-xs-12 col-title">
            <h2 class="text-primary" id="titleSubject">Interpretation Request
                "{{ request_detail.request_subject }}"</h2>
        </div>
        <section class="section section-default">
            <div class="row">
                <form id="searchDetailForm" class="col-xs-12 col-table" accept-charset="UTF-8">
                    <div class="col-xs-12 col-form">
                        {% include 'miaas/template_container_image_info.html' %}
                        {% include 'miaas/template_container_request_info.html' %}
                        <form id="requestEditForm" class="form-btns-container row" accept-charset="UTF-8">
                            <div class="col-xs-3 col-md-4 col-md-offset-4 form-button">
                                <a id="btnBack" class="btn btn-lg btn-success btn-block">Back</a>
                            </div>
                        </form>
                    </div>
                </form>
            </div>
        </section>
    {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="writeSubmitConfirmModal" tabindex="-1" role="dialog" aria-labelledby="writeSubmitConfirmModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal-alert-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="writeSubmitConfirmModalTitle">Interpretation Submit Confirm</h4>
            </div>
            <div class="modal-body">
                If you submit, you cannot modify your writing.<br/> Are you really sure to submit?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary modal-alert-close" data-dismiss="modal">Not yet</button>
                <button type="button" id="writeSubmitBtn" class="btn btn-primary" >Submit</button>
            </div>
        </div>
    </div>
</div>

{% include 'miaas/template_modal_patient_profile.html' %}
{% include 'miaas/template_modal_imageviewer.html' %}
{% include 'miaas/template_footer.html' %}

<script>
    imageInfo = JSON.parse("{{ image | jsonstr }}");
    archiveURL = "{% url 'miaas:archive' %}";
    patient = JSON.parse("{{ patient | jsonstr }}");

    $('#btnBack').click(function() {
        $.LoadingOverlay('show');
        var backurl = "{% url 'miaas:interpretation_response' %}";
        {% if lastPage %}
            backurl += '?' + 'page=' + '{{ lastPage }}';
        {% endif %}
        location.href = backurl;
    });
</script>

<!-- include the tinyMCE library -->
<script src="{% static 'lib/tinymce/tinymce.min.js' %}"></script>

<!-- include the cornerstone library -->
<script src="{% static 'lib/wado/conerstone/cornerstone.js' %}"></script>
<script src="{% static 'lib/wado/cornerstoneMath.js' %}"></script>
<script src="{% static 'lib/wado/cornerstoneTools.js' %}"></script>

<!-- include the dicomParser library as the WADO image loader depends on it -->
<script src="{% static 'lib/wado/dicomParser/dicomParser.min.js' %}"></script>

<!-- jpeg 2000 codec -->
<script src="{% static 'lib/wado/jpx.min.js' %}"></script>`

<!-- include the cornerstoneWADOImageLoader library -->
<script src="{% static 'lib/wado/cornerstoneWADOImageLoader.min.js' %}"></script>

<!-- include the dygraph library -->
<script src="{% static 'lib/dygraph/dygraph-combined.js' %}"></script>
<script src="{% static 'lib/dygraph/smooth-plotter.js' %}"></script>

<script src="{% static 'miass/js/dygraphsInteraction.js' %}"></script>
<script src="{% static 'miass/js/imageViewer.js' %}"></script>
<script src="{% static 'miass/js/imagePreviewer.js' %}"></script>

<!-- include the patient profile modal -->
<script src="{% static 'miass/js/modal_patient_profile.js' %}"></script>

<!-- custom javascript -->
<script>
    var phIntprList = "{% url 'miaas:physician_interpretation' %}";

    $(document).ready(function () {
        tinymce.init({
            selector: 'textarea.interpretation-writer',
            fontname: 'Helvetica Neue=Helvetica Neue,Helvetica;Arial=Arial;sans-serif=sans-serif',
            fontsize_formats: '15px 16px 18px 20px 24px 30px 36px',
            content_css : "{% static 'miass/css/tinymce_custom.css' %}",
            menubar: false,
            plugins: 'table link textcolor autolink autoresize',
            autoresize_bottom_margin: 0,
            autoresize_min_height: 160,
            toolbar: 'undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table | link',
            {# max_chars: "3000", #}
            {# max_chars_indicator : "lengthBox",#}
            init_instance_callback: function (editor) {
                {#            }, setup: function(ed) {#}
                editor.on('focus', function () {
                    var content = editor.getContent();
                    if(content.match('^<p style="color: #999;">Write')) {
                        editor.off('focus');
                        editor.setContent('');
                        editor.undoManager.clear();
                    }
                });
            }
        });

        {#        $('.mce-edit-area iframe').each(function(elem) {#}
        {#            $(elem).contents().find('body').html();#}
        {#        });#}


        $('#btnWrite').click(function () {
            $('#writeSubmitConfirmModal').modal();
        });

        $('#writeSubmitBtn').click(function() {
            $('#writeSubmitConfirmModal').off('hidden.bs.modal').on('hidden.bs.modal', function() {
                $('#writeSubmitConfirmModal').off('hidden.bs.modal');
                $('#writeForm').submit();
            });
            $('#writeSubmitConfirmModal').modal('hide');
        });

        $('#writeForm').on('submit', function (e) {
            e.preventDefault();

            var summary = tinymce.get('summary').getContent();
            var suspectedDisease = tinymce.get('suspectedDisease').getContent();
            var opinion = tinymce.get('opinion').getContent();
            var recommendation = tinymce.get('recommendation').getContent();

            if (/\S/.test(summary) && /\S/.test(suspectedDisease) &&
                    /\S/.test(opinion) && /\S/.test(recommendation)) {

                var matchstring = '^<p style="color: #999;">Write';
                if (summary.match(matchstring) || suspectedDisease.match(matchstring) ||
                        opinion.match(matchstring) || recommendation.match(matchstring)) {
                    openModal('Fields are not filled! Please fill all the fields.', 'Writing Failed');
                    return;
                }

                $.LoadingOverlay('show');
                $.ajax("/api/interpretation", {
                    method: 'PUT',
                    data: JSON.stringify({
                        action: 'finishIntpr',
                        request_id: '{{ request_detail.request_id }}',
                        request_subject: '{{ request_detail.request_subject }}',
                        patient_id: '{{ patient.user_id }}',
                        physician_id: '{{ user_session.user_id }}',
                        image_id: '{{ request_detail.image_id }}',
                        level: '{{ request_detail.level }}',
                        summary: tinymce.get('summary').getContent(),
                        suspected_disease: tinymce.get('suspectedDisease').getContent(),
                        opinion: tinymce.get('opinion').getContent(),
                        recommendation: tinymce.get('recommendation').getContent()
                    }),
                    dataType: 'json',
                    success: function (res) {
                        $.LoadingOverlay('hide');
                        if (res['code'] == 'SUCCESS') {
                            openModal("Success", "Writing Interpretation Succeed", location.replace(phIntprList))
                        } else {
                            openModal(res['msg'], "Writing Interpretation Failed")
                        }
                    }
                });
            } else {
                openModal('Fields are not filled! Please fill all the fields.', 'Writing Failed')
            }
        });

        setOpenImageViewerListener($('#image-previewer'));
    });

    function tempSave() {
        var summary = tinymce.get('summary').getContent();
        var suspectedDisease = tinymce.get('suspectedDisease').getContent();
        var opinion = tinymce.get('opinion').getContent();
        var recommendation = tinymce.get('recommendation').getContent();
        $.LoadingOverlay('show');
        $.ajax("/api/interpretation", {
            method: 'PUT',
            data: JSON.stringify({
                action: 'tempSaveIntpr',
                request_id: '{{ request_detail.request_id }}',
                summary: tinymce.get('summary').getContent(),
                suspected_disease: tinymce.get('suspectedDisease').getContent(),
                opinion: tinymce.get('opinion').getContent(),
                recommendation: tinymce.get('recommendation').getContent()
            }),
            dataType: 'json',
            success: function (res) {
                $.LoadingOverlay('hide');
                if (res['code'] == 'SUCCESS') {
                    openModal("Success", "Interpretation is Saved.")
                } else {
                    if (res['msg'] == 'There is no change.')
                        openModal(res['msg'], "Alert");
                    else if (res['msg'] == 'To insert data failed.')
                        openModal('Saving your interpretation is failed.', "Fail to save interpretation");
                    else
                        openModal(res['msg'], "Fail to save interpretation");
                }
            }
        });
    }

    $('#btnViewProfile').click(function() {
        getPatientProfile(function() {
            $('#patientProfileModal').modal();
            $('#btnViewProfile').off('click').unbind('click').click(function() {
                $('#patientProfileModal').modal();
            })
        });
    });
</script>


</body>
</html>