{% if not user_session or user_session.user_type != 'physician' %}
    <script type="text/javascript">
        location.replace({{ "'" }}{% url 'miaas:index' %}{{ "'" }});
    </script>
{% endif %}

{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'lib/wado/conerstone/cornerstone.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'miass/css/imageViewer.css' %}">

{% include 'miaas/template_nav_physician.html' %}

<div class="container">
    <section class="section section-default">
        <div class="row">
            <form id="searchDetailForm" class="col-xs-12 col-table" accept-charset="UTF-8">
                <div class="col-xs-12 col-form">
                    {% include 'miaas/template_container_image_info.html' %}
                    {% include 'miaas/template_container_request_info.html' %}


                    <div class="form-container form-boxed form-horizontal row">
                        <div class="col-xs-12 form-group">
                            <label class="col-sm-3 col-md-2 control-label no-pad-top" for="taMessage" >Acceptance Message</label>
                            <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="taMessage" name="message" class="form-control"
                                      rows="5" required ></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-btns-container row">
                        <div id="btnFormCancel" class="col-xs-6 col-md-4 col-md-offset-4 form-button">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Response</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

<!-- Modal -->
{% include 'miaas/template_modal_imageviewer.html' %}

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script>
    $(document).ready(function() {
        $('#searchDetailForm').on('submit', function(e) {
            e.preventDefault();
            $.LoadingOverlay('show');
            $.ajax("/api/interpretation", {
                method: 'PUT',
                data: JSON.stringify({
                    action: 'physicianResp',
                    request_id: '{{ request_detail.request_id }}',
                    physician_id: '{{ user_session.user_id }}',
                    message: $('#taMessage').val()
                }),
                dataType: 'json',
                success: function (res) {
                    $.LoadingOverlay('hide');
                    console.info(res)
                    if (res['code'] == 'SUCCESS') {
                        openModal("Success", "Physician Response Succeed")
                    } else {
                        openModal(res['msg'], "Physician Response Failed")
                    }
                }
            });
        });

        setOpenImageViewerListener($('#image-previewer'));
    });

    imageInfo = JSON.parse("{{ image | jsonstr }}");
    archiveURL = "{% url 'miaas:archive' %}";
</script>

<!-- include the cornerstone library -->
<script src="{% static 'lib/wado/conerstone/cornerstone.js' %}"></script>
<script src="{% static 'lib/wado/cornerstoneMath.js' %}"></script>
<script src="{% static 'lib/wado/cornerstoneTools.js' %}"></script>

<!-- include the dicomParser library as the WADO image loader depends on it -->
<script src="{% static 'lib/wado/dicomParser/dicomParser.min.js' %}"></script>

<!-- jpeg 2000 codec -->
<script src="{% static 'lib/wado/jpx.min.js' %}"></script>

<!-- include the cornerstoneWADOImageLoader library -->
<script src="{% static 'lib/wado/cornerstoneWADOImageLoader.min.js' %}"></script>

<!-- include the dygraph library -->
<script src="{% static 'lib/dygraph/dygraph-combined.js' %}"></script>
<script src="{% static 'lib/dygraph/smooth-plotter.js' %}"></script>

<script src="{% static 'miass/js/imageViewer.js' %}"></script>
<script src="{% static 'miass/js/imagePreviewer.js' %}"></script>

</body>
</html>
