{% load static %}
{% load my_filters %}

<link rel="stylesheet" href="{% static 'miass/css/preview.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOK Assessment Service</title>
</head>
<body>
<!--Main Navigation-->
<header>
    <nav class="navbar navbar-expand-sm navbar-dark default-color" id="nav" style="background-color: #272b30;">
        <a class="navbar-brand" href=""><h3 class="title">MIAS</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <li class="nav-item active">
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <div class=" sign_border sign" id="btn_signin">
                        <a style="color: #e8e8e8;" id="btn_txt"  href="#">Sign In</a>
                </div>
                <div class=" sign_border sign" id="btn_signup">
                    <a style="color: #e8e8e8;" id="btn_txt"  >Sign up</a>
                </div>
            </ul>
        </div>
    </nav>
</header>
<!--Main Navigation-->

<!--Main Layout-->
<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
{#        {% include icons/placeholder.svg width="100%" height="100%" background="#777" color="#777" text=" " title=" " %}#}
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg" id="btn-accent" href="#" role="button">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
{#        {% include icons/placeholder.svg width="100%" height="100%" background="#777" color="#777" text=" " title=" " %}#}
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg" id="btn-accent" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
{#        {% include icons/placeholder.svg width="100%" height="100%" background="#777" color="#777" text=" " title=" " %}#}
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>One more for good measure.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg" id="btn-accent" href="#" role="button">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
{#        {% include icons/placeholder.svg width="140" height="140" background="#777" color="#777" class="rounded-circle" %}#}
        <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
{#        {% include icons/placeholder.svg width="140" height="140" background="#777" color="#777" class="rounded-circle" %}#}
        <h2>Heading</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
{#        {% include icons/placeholder.svg width="140" height="140" background="#777" color="#777" class="rounded-circle" %}#}
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
{#        {% include icons/placeholder.svg width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" %}#}
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 order-md-1">
{#        {% include icons/placeholder.svg width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" %}#}
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
{#        {% include icons/placeholder.svg width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" %}#}
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
{#    <p>&copy; 2017-{{ site.time | date: "%Y" }} Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>#}
  </footer>

    <div class="modal fade" id="modal_login" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Log In</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="." method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-form-label">
                        <label for="radio_sign_role" class="col-form-label">Role</label>
                        <label id="txt_role_err" class="is-invalid-radio" hidden>Check the Role.</label>
                    </div>
                    <div id="radio_sign_role">
                        <label class="radio-inline col-md-3">
                            <input type="radio" name="signin_role" id="radio_sign_in_patient" value="Patient" required/>Patient
                        </label>
                        <label class="radio-inline col-md-3">
                            <input type="radio" name="signin_role" id="radio_sign_in_physician" value="Physician"/>Physician
                        </label>
                        <label class="radio-inline col-md-3">
                            <input type="radio" name="signin_role" id="radio_sign_in_staff" value="Staff"/>Staff
                        </label>
                        <div id="txt_acc_err" class="is-invalid-radio" hidden>
                          Please check account.
                        </div>
                    </div>
                    <label for="input_problem_name" class="col-form-label">ID </label>
                    <input type="text" class="form-control" id="input_sign_in_id" required>
                    <label for="input_course" class="col-form-label">Password </label>
                    <input type="password" class="form-control" id="input_sign_in_pwd" required>
                    <a for="input_forgot_pw" class="col-form-label" href="">Forgot your password? </a>
                    <div hidden>
                        <label for="input_course_adf" class="col-form-label">Password </label>
                        <input type="password" class="form-control" id="input_sign_in_pwd" required>
                    </div>

                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="btn_sign_in">Enter</button>
          </div>
        </div>
      </div>
    </div>
</main>
<!--Main Layout-->


<div class="modal" id="modal_sign_up_1" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            {% csrf_token %}
            <div class="form-group">
                <label for="txt_first_name">First Name: </label>
                <input type="text" class="form-control" id="txt_first_name" required>

                <label for="txt_last_name">Last Name: </label>
                <input type="text" class="form-control" id="txt_last_name" required>

                <label for="txt_email">email: </label>
                <input type="text" class="form-control" id="txt_email" required>

                <label for="txt_pwd">Password: </label>
                <input type="password" class="form-control" id="txt_pwd" required>
                <label for="txt_pwd_check">Password Check: </label>
                <input type="password" class="form-control " id="txt_pwd_check" required>

                <label for="txt_phone">Phone Number: </label>
                <input type="text" class="form-control" id="txt_phone">

                <label for="txt_phone">User Type: </label>
                <div id="radio_sign_role">
                    <label class="radio-inline col-md-4">
                        <input type="radio" name="signup_role" id="radio_sign_up_patient" value="Patient" required/>Patient
                    </label>
                    <label class="radio-inline col-md-4">
                        <input type="radio" name="signup_role" id="radio_sign_up_physician" value="Physician"/>Physician
                    </label>
                </div>
            </div>


            <label><b>Please check your email after finishing sign up.</b></label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn_finish">Sign Up</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_close">Close</button>
      </div>
    </div>
  </div>
    <form id="form_sending_data">
    {% csrf_token %}
    </form>
</div>

</body>

<script src="{% static "lib/jQuery/jquery-3.4.1.js" %}"></script>
<script src="{% static "miass/js/constants.js" %}"></script>
<script src="{% static "miass/js/preview.js" %}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>

