{% load static %}
{#{% load my_filters %}#}

<link rel="stylesheet" href="{% static 'miass/css/preview.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MIAS: Medical Image Analysis System</title>
</head>
<body>
<!--Main Navigation-->
{% include 'miaas/header.html' %}
<div id="main_container">
    {#{% include 'miaas/sign_in.html' %}#}
</div>
<!--Main Navigation-->
<!--Main Layout-->
{#{% if not user %}#}
{#    <script type="text/javascript">#}
{#        console.log("No");#}
{#    </script>#}
{#    {% include 'miaas/sign_in.html' %}#}
{#{% else %}#}
{#    <script type="text/javascript">#}
{#        console.log("Yes");#}
{#    </script>#}
{#    {% include 'miaas/main.html' %}#}
{#{% endif %}#}
<!--Main Layout-->

</body>

<script src="{% static "miass/js/constants.js" %}"></script>
<script src="{% static "miass/js/preview.js" %}"></script>
<script src="{% static "miass/js/sessions.js" %}"></script>
<script src="{% static "miass/js/session.js" %}"></script>
<script src="{% static "miass/js/header.js" %}"></script>
<script src="{% static "miass/js/sign_in.js" %}"></script>
<script src="{% static "lib/jQuery/jquery-3.4.1.js" %}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>

