{% load static %}

<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{% static 'miass/css/preview.css' %}">
<link rel="stylesheet" href="{% static 'miass/css/profile_management.css' %}">
<head>
</head>
<body>
    {% include 'miaas/header.html' %}
    <div class="container mt-5">
        <!-- Retrieve  -->
        <div id="profile-retrieve" class="row" style="display: block">
            <div class="row">

                <div class="w-25 my-2 ">
                    <div class="mx-auto" id="body_img_profile">
                        <img src="{% static 'miass/images/perm_identity-24px.svg' %}" id="img_curr_profile">
                    </div>
                </div>

                <div class="h-100 w-75">
                    <div class="border border-default rounded p-3">
                        <h4 class="mb-4 ml-2">General Information</h4>

                        <div class="divider mb-2"></div>
                        <div class="w-100 row ml-3 my-3">
                            <h5 class="w-25">Name</h5>
                            <h5 class="col-8 mx-0 px-0" id="txt_user_name"></h5>
                            <img id="btn_change_name" class="float-right" style="width: 30px; height: 30px;" src="{% static 'miass/images/arrow_right_black.svg' %}">
                        </div>

                        <div class="divider mb-2"></div>
                        <div class="w-100 row ml-3 my-3">
                            <h5 class="w-25">Email</h5>
                            <h5 class="col-8 mx-0 px-0" id="txt_user_email"></h5>
                            <img id="btn_change_email" class="float-right" style="width: 30px; height: 30px;" src="{% static 'miass/images/arrow_right_black.svg' %}">
                        </div>

                        <div class="divider mb-2"></div>
                        <div class="w-100 row ml-3 my-3">
                            <h5 class="w-25">Gender</h5>
                            <h5 class="col-8 mx-0 px-0" id="txt_user_gender"></h5>
                            <img id="btn_change_gender" class="float-right" style="width: 30px; height: 30px;" src="{% static 'miass/images/arrow_right_black.svg' %}">
                        </div>

                        <div class="divider mb-2"></div>
                        <div class="w-100 row ml-3 my-3">
                            <h5 class="w-25">Birth Day</h5>
                            <h5 class="col-8 mx-0 px-0" id="txt_user_birthday"></h5>
                            <img id="btn_change_birthday" class="float-right" style="width: 30px; height: 30px;" src="{% static 'miass/images/arrow_right_black.svg' %}">
                        </div>

                        <div class="divider mb-2"></div>
                        <div class="w-100 row ml-3 my-3 ">
                            <h5 class="w-25">Phone</h5>
                            <h5 class="col-8 mx-0 px-0" id="txt_user_phone"></h5>
                            <img id="btn_change_phone" class="float-right" style="width: 30px; height: 30px;" src="{% static 'miass/images/arrow_right_black.svg' %}">
                        </div>

                        <div class="divider mb-2"></div>
                        <div class="w-100 row ml-3 mt-3 ">
                            <h5 class="w-25">Change Password</h5>
                            <h5 class="col-8 mx-0 px-0" id="txt_user_pwd"></h5>
                            <img id="btn_change_pwd" class="float-right" style="width: 30px; height: 30px;" src="{% static 'miass/images/arrow_right_black.svg' %}">
                        </div>
                    </div>

                    <div class="border border-default rounded p-3 my-5">
                        <div class="w-100 row mb-4 mx-2 ">
                            <h4 class="">Additional Information</h4>
                            <img class=" ml-auto mr-4" style="width: 30px; height: 30px;" src="{% static 'miass/images/add_black.svg' %}" id="btn_add_role">
                        </div>

                        <div id="group_Patient" style="display:none">
                            <div class="divider mb-2"></div>
                            <div class="w-100 row ml-3 my-3">
                                <h5 class="w-25">Patient</h5>
                                <h5 class="col-8 mx-0 px-0" ></h5>
                                <img class="float-right" style="width: 30px; height: 30px;" src="{% static 'miass/images/arrow_down_black.svg' %}">
                            </div>
                        </div>

                        <div id="group_Physical" style="display:none">
                            <div class="divider mb-2"></div>
                            <div class="w-100 row ml-3 my-3">
                                <h5 class="w-25">Physician</h5>
                                <h5 class="col-8 mx-0 px-0" ></h5>
                                <img class="float-right" style="width: 30px; height: 30px;" src="{% static 'miass/images/arrow_down_black.svg' %}">
                            </div>
                        </div>

                        <div id="group_Staff" style="display:none">
                            <div class="divider mb-2"></div>
                            <div class="w-100 row ml-3 my-3">
                                <h5 class="w-25">Staff</h5>
                                <h5 class="col-8 mx-0 px-0" ></h5>
                                <img class="float-right" style="width: 30px; height: 30px;" src="{% static 'miass/images/arrow_down_black.svg' %}">
                            </div>
                        </div>
                    </div>

                    <div class="border border-danger rounded p-3 mt-5" >
                        <h4 class="mb-4 ml-2">Danger Zone</h4>
                        <div class="w-100 row ml-3">
                            <h5 class="w-25" style="color:red; font-weight: bold">Withdraw</h5>
                            <h5 class="col-8 mx-0 px-0"></h5>
                            <img id="btn_withdraw" class="float-right" style="width: 30px; height: 30px;" src="{% static 'miass/images/arrow_right_black.svg' %}">
                        </div>
                    </div>
{##}
{#                    <div class="mb-4">#}
{#                        <h3>Profile</h3>#}
{#                        <div class="ml-3 row">#}
{#                            <h5 style="width: 110px;">First Name</h5>#}
{#                            <h5 class="col-8 mx-0 px-0" id="txt_user_fir_name"></h5>#}
{#                        </div>#}
{##}
{#                        <div class="ml-3 row">#}
{#                            <h5 style="width: 110px;">Last Name</h5>#}
{#                            <h5 class="col-8 mx-0 px-0" id="txt_user_last_name"></h5>#}
{#                        </div>#}
{#                        <div class="ml-3 row">#}
{#                            <h5 style="width: 110px;" >E-mail </h5>#}
{#                            <h5 id="txt_user_email"> </h5>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div  class="mb-4">#}
{#                        <h3>General Information</h3>#}
{#                        <div class="ml-3 row">#}
{#                            <h5 style="width: 110px;" >Gender </h5>#}
{#                            <h5 id="txt_user_gender"></h5>#}
{#                        </div>#}
{##}
{#                        <div class="ml-3 row">#}
{#                            <h5 style="width: 110px;" >Birthday </h5>#}
{#                            <h5 id="txt_user_birthday"> </h5>#}
{#                        </div>#}
{##}
{#                        <div class="ml-3 row">#}
{#                            <h5 style="width: 110px;" >Phone </h5>#}
{#                            <h5 id="txt_user_phone"></h5>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div  class="mb-4">#}
{#                        <h3>Additional Information</h3>#}
{#                        <div class="ml-3 row">#}
{#                            <h5 style="width: 110px;" >Role </h5>&nbsp#}
{#                            <h5 id="txt_user_role"></h5>#}
{#                        </div>#}
{#                    </div>#}
{##}
{##}
{#                    <div class="mt-5 mr-5 float-right">#}
{#                        <button id="btn_update" class="btn btn-primary">#}
{#                            Update#}
{#                        </button>#}
{##}
{#                        <button id="btn_withdraw" class="btn btn-danger">#}
{#                            Withdraw#}
{#                        </button>#}
{#                    </div>#}

                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="modal_change_name" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body" id="modal_signup_text">
                        <h5>Enter the name to change.</h5>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="txt_first_name">First Name</label>
                                <input type="text" class="form-control" id="txt_change_first_name">

                                <label for="txt_last_name">Last Name</label>
                                <input type="text" class="form-control" id="txt_change_last_name">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btn_submit_name">Submit</button>
                        <button type="button" class="btn btn-default" id="btn_cancel_change_name">No</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modal_withdraw" tabindex="-1" role="dialog">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body" id="modal_signup_text">
                        Do you want to withdraw MIAS system?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btn_yes_withdraw">Yes</button>
                        <button type="button" class="btn btn-default" id="btn_no_withdraw">No</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_notice" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body" id="modal_text_notice">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btn_checked_notice">Yes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>
<script src="{% static "lib/jQuery/jquery-3.4.1.js" %}"></script>
<script src="{% static "miass/js/constants.js" %}"></script>
<script src="{% static "miass/js/sessions.js" %}"></script>
<script src="{% static "miass/js/header.js" %}"></script>
<script src="{% static "miass/js/retrieve_profile.js" %}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>