{% load static %}

<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{% static 'miass/css/preview.css' %}">
<link rel="stylesheet" href="{% static 'miass/css/profile_update.css' %}">
<link rel="stylesheet" href="{% static 'miass/css/bootstrap-datepicker.css' %}">
<head>
</head>
<body>
    {% include 'miaas/header.html' %}
    <div class="container mt-5">
        <!-- Updating -->
        <div class="row" id="profile-update">
            <div>

            </div>
            <div class="w-25 my-2 ">
                <div class="mx-auto" id="body_img_profile">
                    <img src="{% static 'miass/images/perm_identity-24px.svg' %}" id="img_chng_default" style="display: none;">
                    <img id="img_chng_profile" style="display: block;">
                </div>
                <form id="form_upload" class="mx-auto mt-3 w-100 form-inline justify-content-center" enctype="multipart/form-data">
                    <div class="filebox">
                        <label for="btn_select_profile_img">Select Image</label>
                        <input value="Select Image"  type="file" name="files"  id="btn_select_profile_img" class="btn btn-primary"/>
                    </div>
                    <div class="filebox ml-3">
                        <label id="btn_remove_profile" >Remove </label>
{#                        <input value="Select Image"  type="button" name="profile" class="btn btn-primary"/>#}
                    </div>
                </form>
            </div>
{#            <div class="w-25 my-2 ">#}
{#                <div class="mx-auto" id="body_img_profile">#}
{#                    <img src="{% static 'miass/images/perm_identity-24px.svg' %}" id="img_modi_profile">#}
{#                </div>#}
{#                <input type="button" value="Select Image" class="btn btn-primary"/>#}
{#                <input type="button" value="Remove Image" class="btn btn-primary"/>#}
{#            </div>#}

            <div class="h-100 w-75">

                <form autocomplete="off" id="signup_form" class="w-75 mx-auto ">
                <h4>General Information</h4>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-6 form-inline">
                                <div class="col form-group px-0">
                                    <label for="txt_first_name" class="mt-2 mb-1">First Name</label>
                                    <input type="text" class="form-control w-100" id="txt_first_name" required>
                                </div>
                            </div>
                            <div class="col-6 form-inline">
                                <div class="col form-group  px-0">
                                    <label for="txt_last_name" class="mt-2 mb-1">Last Name</label>
                                    <input type="text" class="form-control w-100" id="txt_last_name" required>
                                </div>
                            </div>
                        </div>

                        <div class="mt-3" >
                            <label for="" class="mt-2 mb-1">Change Password</label>
                            <input type="button" class="btn btn-primary float-right"  id="btn_change_pwd" value="Change">
                        </div>

                        <label for="txt_gender" class="mt-4 mb-1">Gender</label>
                        <div id="txt_gender">
                          <label class="col-5"><input type="radio" name="rdo_gender" id="rdo_male" value="Male" class="mr-2"/>Male</label>
                          <label class="col-5"><input type="radio" name="rdo_gender" id="rdo_female" value="Female" class="mr-2"/>Female</label>
                        </div>

                        <label for="txt_birthday" class="mt-2 mb-1">Birthday </label>
                        <input type="text" class="form-control" id="txt_birthday">

                        <div class="mb-1">
                            <label for="txt_phone" class="mt-2 mb-1">Phone Number</label>
                            <input type="text" class="form-control" id="txt_phone">
                        </div>

                    </div>
                </form>

                <div class="w-75 mx-auto mt-5 mb-5">
                    <h4>Additional Information</h4>
                    <div class="mb-1">
                        <h5 for="txt_user_role" class="mt-2 mb-1 mr-3" style="display: inline;">Role</h5>
                        <label class="mt-2 mb-1" id="txt_user_role"></label>
                        <input type="button" class="btn btn-primary float-right" id="btn_add_role" value="Add ">
                    </div>
                </div>

                <div class="w-75 mx-auto mt-4 mb-5" style="height: 40px;">
                    <button id="btn_cancel" class="btn btn-secondary float-right">
                        Cancel
                    </button>
                    <button id="btn_apply" class="btn btn-primary float-right mr-3">
                        Save
                    </button>
                </div>

                <div class="w-75 mx-auto mt-5 row  justify-content-between" style="margin-top: 100px;">
                    <h5>Withdraw</h5>
                    <button id="btn_withdraw" class="btn btn-danger  float-right ">
                        Withdraw
                    </button>
                </div>

            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_change_pwd" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" id="">
                    <h5>Input new password </h5>
                    <form>
                        <label for="txt_pwd" class="mt-2 mb-1">Current Password<span style="color:red">*</span>
                                    <span style="color:red" id="txt_chk_crr_pwd" hidden>&nbsp;Check current password</span></label>
                        <input type="password" class="form-control" id="txt_crr_pwd" required>

                        <label for="txt_pwd" class="mt-2 mb-1">Password<span style="color:red">*</span>
                                    <span style="color:red" id="txt_chk_pwd" hidden>&nbsp;Check password</span></label>
                        <input type="password" class="form-control" id="txt_pwd" required>

                        <label for="txt_pwd_check" class="mt-2 mb-1">Re-enter password<span style="color:red">*</span>
                                    <span style="color:red" id="txt_chk_pwd_re" hidden>&nbsp;Check password</span></label>
                        <input type="password" class="form-control " id="txt_pwd_check" required>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn_change_yes">Yes</button>
                    <button type="button" class="btn btn-secondary" id="btn_change_no">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_add_role" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="modal_add_role_title">Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" id="modal_add_role_txt">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn_yes">Yes</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal_withdraw" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" id="modal_signup_text">
                    Do you want to withdraw MIAS system?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn_yes_withdraw">Yes</button>
                    <button type="button" class="btn btn-default" id="btn_no_withdraw">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_update_notice" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notice</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" id="modal_text_notice">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn_checked_notice">Yes</button>
                </div>
            </div>
        </div>
    </div>


</body>
<script src="{% static "lib/jQuery/jquery-3.4.1.js" %}"></script>
<script src="{% static "miass/js/bootstrap-datepicker.js" %}"></script>
<script src="{% static "miass/js/constants.js" %}"></script>
<script src="{% static "miass/js/sessions.js" %}"></script>
<script src="{% static "miass/js/update_profile.js" %}"></script>
<script src="{% static "miass/js/header.js" %}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>