{% load static %}

<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{% static 'miass/css/preview.css' %}">
<head>
</head>
<body>
    {% include 'miaas/header.html' %}
    <div class="container mt-5">
        <!-- Retrieve  -->
        <div id="profile-retrieve" class=" row" style="display: block">
            <div class="row">

                <div class="w-25 my-2 ">
                    <div class="mx-auto" id="body_img_profile">
                        <img src="{% static 'miass/images/perm_identity-24px.svg' %}" id="img_profile">
                    </div>
                </div>

                <div class="h-100 w-75">
                    <div class="">
                        <h5>Name</h5>
                        <div class="ml-3">
                            <h5 style="display: inline">First Name:</h5>&nbsp
                            <h5 style="display: inline" id="txt_user_fir_name"></h5>
                        </div>
                        <div class="ml-3">
                            <h5 style="display: inline">Last Name:</h5>&nbsp
                            <h5 style="display: inline"  id="txt_user_last_name"></h5>
                        </div>
                    </div>
                    <div class="inline">
                        <h5  style="display: inline">E-mail: </h5>&nbsp
                        <h5  style="display: inline" id="txt_user_email"> </h5>
                    </div>

                    <div class="mt-3">
                        <div>
                            <h5  style="display: inline" >Gender: </h5>&nbsp
                            <h5  style="display: inline" id="txt_user_gender"></h5>
                        </div>

                        <div>
                            <h5 style="display: inline">Birthday: </h5>&nbsp
                            <h5 style="display: inline" id="txt_user_birthday"> </h5>
                        </div>
                    </div>

                    <div class="">
                        <h5  style="display: inline">Role: </h5>&nbsp
                        <h5  style="display: inline" id="txt_user_role"></h5>
                    </div>
                    <div class="mb-5">
                        <h5 style="display: inline" >Phone: </h5>&nbsp
                        <h5 style="display: inline" id="txt_user_phone"></h5>
                    </div>

                    <div class="mt-5 mr-5 float-right">
                        <button id="btn_update" class="btn btn-primary">
                            Update
                        </button>

                        <button id="btn_withdraw" class="btn btn-danger">
                            Withdraw
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Updating -->
        <div style="display: none" class="row" id="profile-update">
            <h3>Profile Image</h3>
            <div class="w-25 my-2 ">
                <div class="mx-auto" id="body_img_profile">
                    <img src="{% static 'miass/images/perm_identity-24px.svg' %}" id="img_modi_profile">
                </div>
                <input type="button" value="Change Image" class="btn"/>
            </div>

            <div class="h-100 w-75">


            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal_signup" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body" id="modal_signup_text">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btn_yes">Yes</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modal_withdraw" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body" id="modal_signup_text">
                        Do you want to withdraw MIAS system?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btn_yes_withdraw">Yes</button>
                        <button type="button" class="btn btn-default" id="btn_no_withdraw">No</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>
<script src="{% static "lib/jQuery/jquery-3.4.1.js" %}"></script>
<script src="{% static "miass/js/constants.js" %}"></script>
<script src="{% static "miass/js/sessions.js" %}"></script>
<script src="{% static "miass/js/update_profile.js" %}"></script>
<script src="{% static "miass/js/header.js" %}"></script>
<script src="{% static "miass/js/retrieve_profile.js" %}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>