{% load static %}

<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{% static 'miass/css/register_image.css' %}">
<link rel="stylesheet" href="{% static 'miass/css/preview.css' %}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="title" content="Register Image">
    <meta name="keyword" content="Register, Image">
    <meta name="author" content="jdy">
    <meta name="description" content="Page for registering folder">
    <title>MIAS: Medical Image Analysis System</title>
</head>
<body>

    {% include 'miaas/header.html' %}
    <div class="container">
            <div class="mt-5 w-100 row">
                <div class="w-100 row">
                    <div class="col-6">
                        <h1 class="txt_font text-white w-50 pl-2" style="font-size: 28px; background-color: #0066ff">Medical Image</h1>
                        <div class="mb-3">
                            <form id="form_upload" enctype="multipart/form-data">
                                <input id="btn_img_loader" type="file" name="files"  multiple="multiple"  webkitdirectory mozdirectory>
                            </form>
                        </div>
                        <div style="width: 512px" class="mx-auto">
                            <img id="img_preview">

                            <input id="img_slider" class="w-100 mt-2" type="range" min="0" max="70" data-slider-step="1" value="0"/>
                        </div>
                        <h5 id="txt_num">0</h5>
                        <div class="pull-right mt-5">
                            <button type="button" class="btn btn-primary float-right w-25" id="btn_submit">Upload</button>
                        </div>
                    </div>

                    <div class="col-5">
                        <div>
                            <h1 class="txt_font text-white w-50 pl-2" style="font-size: 28px; background-color: #0066ff">Patient Information</h1>
                            <form autocomplete="off" id="signup_form">
                                <div class="form-group">
                                    <span>
                                        <label for="txt_fir_name" >First Name: <span style="color:red">*</span></label>
                                        <input type="text" class="form-control" id="txt_fir_name" required>
                                    </span>
                                    <label for="txt_last_name" >Last Name:  <span style="color:red">*</span></label>
                                    <input type="text" class="form-control" id="txt_last_name" required>

                                    <label for="txt_birthday" >Birthday: </label>
                                    <input type="text" id="txt_Birthday" class="form-control" >

                                    <label for="txt_gender">Gender: </label>
                                    <input type="text" class="form-control" id="txt_gender" >
                                </div>
                            </form>
{#                        <div class="mt-5">#}
                            <h1 class="txt_font text-white w-50 pl-2" style="font-size: 28px; background-color: #0066ff">Image Information</h1>
                            <form autocomplete="off" id="signup_form" >
                                <div class="form-group">
                                    <label for="txt_img_type" >Image Type:  <span style="color:red">*</span></label>
                                    <input type="text" class="form-control" id="txt_img_type" required>

                                    <label for="txt_acq_date" >Acquisition Date:  <span style="color:red">*</span></label>
                                    <input type="text" class="form-control" id="txt_acq_date" required>

                                    <label for="txt_exam_src" >Examination Source:  <span style="color:red">*</span></label>
                                    <input type="text" class="form-control" id="txt_exam_src" required>

                                    <label for="txt_interpret" >Interpretation: </label>
                                    <input type="text" id="txt_interpret" class="form-control">

                                    <label for="txt_desc">Description: </label>
                                    <input type="text" class="form-control" id="txt_desc" >
                                </div>
                            </form>
{#                        </div>#}

                        </div>
                    </div>
                </div>
            </div>

    </div>



</body>

<script src="{% static "miass/js/constants.js" %}"></script>
<script src="{% static "miass/js/register_image.js" %}"></script>
<script src="{% static "miass/js/preview.js" %}"></script>
<script src="{% static "miass/js/session.js" %}"></script>
<script src="{% static "miass/js/sessions.js" %}"></script>
<script src="{% static "miass/js/header.js" %}"></script>
<script src="{% static "lib/jQuery/jquery-3.4.1.js" %}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>