{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="title" content="Register Image">
    <meta name="keyword" content="Register, Image">
    <meta name="author" content="jdy">
    <meta name="description" content="Page for registering folder">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Input Images</h2>
            </div>
            <!-- Input Information-->
            <form>
                <div class="form-group input-group">
                    <label for="uploader_id">Uploader ID</label>
                    <input type="text" class="form-control" id="uploader_id" required>
                </div>
                <div class="form-group input-group">
                    <label for="taken_date">Taken Date</label>
                    <input type="text" class="form-control" id="taken_date" required>
                </div>
                <div class="form-group input-group">
                    <label for="taken_place">Taken Place</label>
                    <input type="text" class="form-control" id="taken_place" required>
                </div>
                <div class="form-group input-group">
                    <label for="image_path">Image Path</label>
                    <input type="text" class="form-control" id="image_path" required>
                </div>
            </form>
            <!-- Image Upload-->
            <form>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Medical Image</span>
                    </div>
                    <div class="custom-file">
                        <label class="custom-file-label" for="image_folder">Click Here to Upload Image Folder</label>
                        <input type="file" class="custom-file-input" id="image_folder"
                               webkitdirectory mozdirectory msdirectory odirectory directory multiple
                               aria-describedby="inputGroupFileAddon01">
                    </div>
                </div>
            </form>

            <input type="submit" class="btn" id="btn_submit" value="Submit">

        </div>
    </div>
</div>



</body>
<script src="{% static "miass/js/constants.js" %}"></script>
<script src="{% static "miass/js/register_image.js" %}"></script>
<script src="{% static "miass/js/sessions.js" %}"></script>
<script src="{% static "miass/js/header.js" %}"></script>
<script src="{% static "lib/jQuery/jquery-3.4.1.js" %}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>