{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

    <link rel="stylesheet" type="text/css" href="{% static 'miass/css/signin.css' %}">

</head>

<body>
    <nav>
        <div class="container">
            <div class="menu-right">
                <span><a href="http://smartylab.co.kr" target="_blank">Lean More</a></span>&nbsp;&nbsp;&nbsp;
                <span><a href="mailto:someone@example.com">Contact Us</a></span>
            </div>
            <div>
                <h1 class="menu-title text-primary">MIAAS</h1>
                <h4 class="menu-subtitle">Medical Image Archival & Analytics Service</h4>
            </div>
        </div>
    </nav>

    <div class="container page-container">
        <section class="section">
            <div>
                <br />
                <h1 class="intro-title text-center text-primary">Healthy Life with Digital Healthcare Service</h1>
                <div class="intro-content">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-md-offset-2 intro-column column-right" >
                            <form id="loginForm" class="form-signin" name="signinForm" accept-charset="UTF-8">
                                <label for="inputId" class="sr-only">Username</label>
                                <input type="text" id="inputId" name="id" maxlength="20" class="form-control"
                                       placeholder="User ID" required autofocus>
                                <label for="inputPw" class="sr-only">Password</label>
                                <input type="password" id="inputPw" name="pw" maxlength="20" class="form-control"
                                       placeholder="Password" required>
                                <div class="checkbox">
                                    <label>
                                        <input id="checkRemember" type="checkbox" value="remember"> Remember Me
                                    </label>
                                </div>
                                <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                                <div class="hr-label">
                                    <span class="hr-label-text">OR</span>
                                </div>
                                <a id="btnSignup" class="btn btn-lg btn-primary btn-block" href="{% url 'miaas:signup' %}">Signup</a>
                                <br/><p><a href="{% url 'miaas:find' %}">Lost your ID or Password?</a></p>
                            </form>
                        </div>

                        <div class="col-xs-12 col-md-4 intro-column column-left" >
                            <div class="column-image center-block" style="background-image: url('{% static 'miass/image/main/mimage.png' %}');"></div>
                            <h5 class="column-title">Archival in One Place</h5>
                            <div class="column-content">Archive all your medical images in the free cloud storage.</div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-4 intro-column column-left">
                            <div class="column-image center-block" style="background-image: url('{% static 'miass/image/main/manal.png' %}');"></div>
                            <h5 class="column-title">Medical Analytics</h5>
                            <div class="column-content">Analyze your medical data with advanced machine learning.</div>
                        </div>

                        <div class="col-xs-12 col-md-4 intro-column column-right">
                            <div class="column-image center-block" style="background-image: url('{% static 'miass/image/main/secondopinion.png' %}');"></div>
                            <h5 class="column-title">Second Opinions</h5>
                            <div class="column-content">Seek second opinions on your medical diagnosis.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="page-footer">
        <div class="container footer-container">
            <div>Smartylab Corporation, Seoul, Korea</div>
            <div>
                <span>Tel. 02-826-0909</span>&nbsp;&nbsp;&nbsp;
                <span><a href="http://smartylab.co.kr" target="_blank">http://smartylab.co.kr</a></span>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <span>© 2016 SmartyLab, All rights reserved.</span>
                <a href="http://smartylab.co.kr" target="_blank">
                    <image src="{% static 'miass/image/main/logo.png' %}" class="copyright-logo pull-right"></image>
                </a>
            </div>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="signinFailedModal" tabindex="-1" role="dialog" aria-labelledby="signinFailedTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="signinFailedTitle">Signin Failure</h4>
            </div>
            <div class="modal-body">
            Signin failed
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

    <!-- scripts -->
    <script src="{% static 'lib/jquery/jquery-2.2.0.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/jquery/plugins/loadingoverlay.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'lib/bootstrap/assets/js/ie10-viewport-bug-workaround.js' %}"></script>

    <!-- custom javascript -->
    <script type="text/javascript">
        var indexPage = "{% url 'miaas:index' %}";
    {% if user_session %}
        location.replace(indexPage);
    {% endif %}
    </script>
    <script src="{% static 'lib/jquery/plugins/jquery.cookie-1.4.1.min.js' %}"></script>
    <script src="{% static 'miass/js/signin.js' %}"></script>


</body>
</html>
