{% load staticfiles %}
{% load my_filters %}

{% include 'miaas/template_header.html' %}

<!-- custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'miass/css/signup.css' %}">

<body>

<div class="container">
    <section class="section section-signup">
        <div class="form-signup">
            <div class="row row-signup-title">
                <div class="col-xs-12">
                    <h2 class="text-primary">Sign Up for MIAAS</h2>
                </div>
            </div>
            <div class="row row-signup-content">
                <div class="col-xs-12" id="col-signup-usertype">
                    <h4>Step1: Choose Who You Are</h4>
                    <h5>Are you a Patient? Or are you a Physician?</h5>
                    <button id="btn-patient" type="button" class="btn btn-lg btn-primary btn-block">I'm a Patient</button>
                    <button id="btn-physician" type="button" class="btn btn-lg btn-primary btn-block">I'm a Physician</button>
                </div>

                <form class="col-xs-12" id="col-signup-basic" name="signupStep2" style="display: none;">
                    <h4>Step2: Write Your Basic Information</h4>
                    <div class="form-group">
                        <label for="inputId" >User ID</label>
                        <input type="text" id="inputId" name="id" class="form-control valid"
                               placeholder="ID" required>
                    </div>
                    <div class="form-group">
                        <label for="inputPw">Password</label>
                        <input type="password" id="inputPw" name="pw" class="form-control invalid"
                               placeholder="Password" required>
                        <input type="password" id="inputPwConfirm" name="pwConfirm" class="form-control"
                               placeholder="Password Confirm" required>
                    </div>
                    <div class="form-group">
                        <label for="inputId" >User Name</label>
                        <input type="text" id="inputName" name="name" class="form-control valid"
                               placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="inputMobile">Phone Number</label>
                        <input type="tel" id="inputMobile" name="mobile" class="form-control"
                               placeholder="Mobile" required>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email Address</label>
                        <input type="email" id="inputEmail" name="email" class="form-control"
                               placeholder="Email" required>
                    </div>
                    <br/>
                    <div class="row" class="row-form-btns">
                        <div id="btn-basic-prev" class="col-xs-6 col-md-4">
                            <button class="btn btn-lg btn-primary btn-block" type="button">Prev</button>
                        </div>
                        <div id="btn-basic-next" class="col-xs-6 col-md-4 col-md-offset-4">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Next</button>
                        </div>
                    </div>
                </form>

                <form class="col-xs-12" id="col-signup-detail-patient" name="signupStep3Patient" style="display: none;">
                    <h4>Step3: Write Your Personal Information</h4>
                    <div class="form-group">
                        <label for="selectGender" >Gender</label>
                        <select class="form-control" id="selectGender" name="gender" required>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputBirthday">Birthday</label>
                        <input type="date" id="inputBirthday" name="birthday" class="form-control"
                               placeholder="Birthday" required>
                    </div>
                    <br/>
                    <div class="row" class="row-form-btns">
                        <div id="btn-patient-prev" class="col-xs-6 col-md-4">
                            <button class="btn btn-lg btn-primary btn-block" type="button">Prev</button>
                        </div>
                        <div id="btn-patient-done" class="col-xs-6 col-md-4 col-md-offset-4">
                            <button class="btn btn-lg btn-success btn-block" type="submit">Done</button>
                        </div>
                    </div>
                </form>

                <form class="col-xs-12" id="col-signup-detail-physician" name="signupStep3Physician" style="display: none;">
                    <h4>Step3: Write Your Physician Information</h4>
                    <div class="form-group">
                        <label for="selectField" >Field of Medicine</label>
                        <select class="form-control" id="selectField" name="field" required>
                            <option>Heart Specialist</option>
                            <option>Brain Specialist</option>
                            <option>Thoracic Specialist</option>
                            <option>Orthopedic Specialist</option>
                            <option>Pediatrics</option>
                            <option>Psychiatry</option>
                            <option>Internal Medicine</option>
                            <option>Family Practice</option>
                            <option>Emergency Medicine</option>
                            <option>Interventional Cardiology</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputLicence" >Licence ID</label>
                        <input type="text" id="inputLicence" name="licence" class="form-control valid"
                               placeholder="Licence number" required>
                    </div>
                    <div class="form-group">
                        <label for="fileCertification">Certification</label>
                        <input type="file" id="fileCertification" name="certification" class="form-control"
                               placeholder="Certification" required>
                        <p class="help-block">Please upload your authenticatable thing (e.g. doctor's licence and etc.)</p>
                    </div>
                    <br/>
                    <div class="row" class="row-form-btns">
                        <div id="btn-physician-prev" class="col-xs-6 col-md-4">
                            <button class="btn btn-lg btn-primary btn-block" type="button">Prev</button>
                        </div>
                        <div id="btn-physician-done" class="col-xs-6 col-md-4 col-md-offset-4">
                            <button class="btn btn-lg btn-success btn-block" type="submit">Done</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="signupFailedModal" tabindex="-1" role="dialog" aria-labelledby="signupFailedTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="signupFailedTitle">Signup Failed</h4>
        </div>
        <div class="modal-body">
        Signup failed
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

{% include 'miaas/template_footer.html' %}

<!-- custom javascript -->
<script type="text/javascript">
    var indexPage = "{% url 'miaas:index' %}";
</script>
<script src="{% static 'miass/js/signup.js' %}"></script>

</body>
</html>
