{% load static %}
{% load my_filters %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{#<!DOCTYPE html>#}
{#<html lang="en">#}

<main role="main">
    <div class="py-0 jumbotron-codeline mx-0 h-50" style="background-color: #4d94ff">
        <div class="js-experiment-homepage-signup-container-xl p-responsive position-relative container-lg">
    </div>

    <div class="container marketing">
        <div class="row h-100">
            <div class="col-9 text-center text-md-left" >
                <h2 class="featurette-heading">Medical Image Analysis System</h2>
                <h4 class="text-muted mb-4">...</h4>
            </div>

            <div class="col-3 float-sm-right">
                <div class="login_body py-4 px-3 signInView"  id="signInView" >
                    <div class="form-group">
                        <div class="input-wrapper">
                            <input type="text" class="form-control form-control-signin rounded-pill  w-100" placeholder="user name" id="input_sign_in_id" required>
{#                            <label for="input_sign_in_id" class="bigicon input-icon" src="{% static 'miass/images/person-24px.svg' %}"></label>#}
                            <img src="{% static 'miass/images/person-24px.svg' %}"  class="bigicon input-icon">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-wrapper">
                            <input type="password" class="form-control form-control-signin rounded-pill mt-2 w-100" placeholder="password" id="input_sign_in_pwd" required>
                            <img src="{% static 'miass/images/vpn_key-24px.svg' %}"  class="bigicon input-icon">
                        </div>
                    </div>

                    <div class="mt-2">
                        <input type="checkbox" id="chk_remember" class="ml-2 my-auto">
                        <label for="chk_remember" class="mb-0 text-white">Remember me</label>
                    </div>
                    <div class="mx-auto w-100 mt-3">
                        <button class="col-5 rounded-pill txt_font btn_white" id="btn_sign_in">
                            Login
                        </button>
                        <span class="col-2"></span>
                        <button class="col-5 rounded-pill txt_font btn_white" id="btn_go_sign_up">
                            Sign Up
                        </button>
                    </div>
                    <div style="text-align: center" class="mt-3"> <a class="col-form-label text-white" href="forgot_password" style="font-size: 13px;"> <u>Forgot password?</u> </a></div>

                </div>
            </div>

        </div>
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
    {#        {% include icons/placeholder.svg width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" %}#}
      </div>
    </div>

    <hr class="featurette-divider">

    </div><!-- /.container -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
    {#    <p>&copy; 2017-{{ site.time | date: "%Y" }} Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>#}
      </footer>

    </div>
  <!-- FOOTER -->
    <form id="form_sending_data">

    </form>

</main>
{##}
{#<script src="{% static "miass/js/constants.js" %}"></script>#}
<script src="{% static "miass/js/sign_in.js" %}"></script>
{#<script src="{% static "miass/js/sessions.js" %}"></script>#}
{#<script src="{% static "lib/jQuery/jquery-3.4.1.js" %}"></script>#}