{% load static %}

<link rel="stylesheet" href="{% static 'miass/css/preview.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MIAS: Medical Image Analysis System</title>
</head>
<body>

{% include 'miaas/header.html' %}

    <div class="container">
        <div class="mt-5">
            <h1 class="text-center txt_font" style="font-size: 60px">Welcome MIAS!</h1>
            <h3 class="text-center txt_font mt-4" style="font-size: 40px">Your account is activated successfully.</h3>
            <div class="w-75 mx-auto px-auto my-5" style="text-align:center;">
                <button type="button" class="btn btn-primary mx-auto" id="btn_main">Go to Main</button>
            </div>

        </div>

    </div>
</body>

<script src="{% static "lib/jQuery/jquery-3.4.1.js" %}"></script>
<script src="{% static "miass/js/constants.js" %}"></script>
<script src="{% static "miass/js/success_activate.js" %}"></script>
<script src="{% static "miass/js/header.js" %}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html> 