{% load staticfiles %}
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collasped"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand onloading" href="{% url 'miaas:index' %}">MIAAS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ><a class="onloading" href="{% url 'miaas:physician_profile' %}">Physician Profile</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Interpretations</a>
                    <ul class="dropdown-menu">
                        <li><a class="onloading" href="{% url 'miaas:interpretation_response' %}">Request List for Writing</a></li>
                        <li><a class="onloading" href="{% url 'miaas:interpretation_search' %}">Search Interpretation Request</a></li>
                        <li><a class="onloading"href="{% url 'miaas:physician_interpretation' %}">My Interpretations</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span id="navbar-logined-text">
                        <span>Hi, Dr. {{ user_session.name }} </span></span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="onloading" href="{% url 'miaas:account' %}">Account Setting</a></li>
                        <li><a href="#" onclick="signout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>