<div class="modal fade modal-profile" id="patientProfileModal" tabindex="-1" role="dialog" aria-labelledby="patientProfileModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="patientProfileModalTitle">Patient Profile</h4>
            </div>
            <div class="modal-body">
                <div id="patientProfileForm" class="col-xs-12 col-form">
                    <div class="form-container form-boxed form-horizontal row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="height">Height</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <output id="height" name="hieght"></output>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="weight" >Weight</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <output id="weight" name="weight"></output>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="drinkingCapacity" >Drinking Capacity</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <output id="drinkingCapacity" name="drinkingCapacity"></output>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="drinkingFrequency" >Drinking Frequency</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <output id="drinkingFrequency" name="drinkingFrequency"></output>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="sleeping" >Sleeping Hours</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <output id="sleeping" name="sleeping"></output>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="exercise" >Exercise Hours</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <output id="exercise" name="exercise"></output>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="smoking" >Smoking Status</label>
                            <div class="col-sm-9 col-md-7">
                                <output id="smoking" name="smoking"></output>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="water" >Water Intake</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <output id="water" name="water"></output>
                            </div>
                        </div>
                    </div>

                    <div class="form-container form-boxed form-horizontal row">
                        <div class="col-xs-12 form-group">
                            <label class="col-sm-3 col-md-2 control-label" for="diseaseHistory" >Disease History</label>
                            <div class="col-sm-9 col-md-10" style="height:100px;overflow-y:scroll">
                                <output id="diseaseHistory" name="diseaseHistory"></output>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-sm-3 col-md-2 control-label" for="medication" > Medication</label>
                            <div class="col-sm-9 col-md-10" style="height:100px;overflow-y:scroll">
                                <output id="medication" name="medication"></output>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-sm-3 col-md-2 control-label" for="familyHistory" >Family History</label>
                            <div class="col-sm-9 col-md-10" style="height:100px;overflow-y:scroll">
                                <output id="familyHistory" name="familyHistory"></output>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-sm-3 col-md-2 control-label" for="significant" >Significant</label>
                            <div class="col-sm-9 col-md-10" style="height:100px;overflow-y:scroll">
                                <output id="significant" name="significant"></output>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-sm-3 col-md-2 control-label" for="notice" >Notice</label>
                            <div class="col-sm-9 col-md-10" style="height:100px;overflow-y:scroll">
                                <output id="notice" name="notice"></output>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>