;{% load staticfiles %}
<div class="modal fade" id="imageViewModal" tabindex="-1" role="dialog" aria-labelledby="imageViewModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="imageViewModalTitle">Medical Image View</h4>
            </div>
            <div class="modal-body">
                <div id="imageView" class="image-view">
                    <div class="image-view-explorer col-sm-5 col-md-4">
                        <h4>Image Explorer</h4>
                        <ul id="image-view-list"></ul>
                    </div>
                    <div class="image-view-image col-sm-7 col-md-8">
                        <h4>Image View&nbsp;&nbsp;&nbsp;<span id="imageViewModalTitleName" class="text-primary"></span></h4>

                        <div id="imageViewerWrapper" style="width:320px; height:320px; position:relative;color:white;"
                             oncontextmenu="return false"
                             class='disable-selection noIbar'
                             unselectable='on'
                             onselectstart='return false;'
                             onmousedown='return false;'>
                            <div id="imageViewer" class="image-view-viewer"
                                 style="width:512px;height:512px;top:0px;left:0px; position:absolute;">
                            </div>
                            <div id="imageViewerLoader" style="background-image: url('{% static 'lib/jquery/plugins/loading.gif' %}');"></div>
                        </div>
                        <div>
                            <span><a>Show detail</a></span>
                            <div id="imageViewerDetail"></div>
                        </div>
                    </div>
                </div>
                <div id="graphView" class="image-view">
                    <div class="image-view-image col-xs-12 col-md-12">
                        <div id="graphViewer" class="image-view-viewer">
                        </div>
                    </div>
                    <div class="image-view-image-settings col-xs-12 col-md-12">
                        <div class="form-group form-inline">
                            <label class="control-label" for="rollPeriod" >Roll Period:</label>
                            <input id="rollPeriod" type="number" name="rollPeriod" class="form-control"
                                   placeholder="roll" size="1" maxlength="1">
                            <button id="rollPeriodConfirm" class="btn btn-default">Change</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>