<div class="modal fade modal-profile" id="patientProfileModal" tabindex="-1" role="dialog" aria-labelledby="patientProfileModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="patientProfileModalTitle">Patient Profile</h4>
            </div>
            <div class="modal-body">
                <div id="patientProfileForm" class="col-xs-12 col-form">
                    <div class="form-container form-boxed form-horizontal row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="height">Height</label>
                            <div class="col-sm-9 col-md-7">
                                <div id="height" class="form-control">Not provided by the patient</div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="weight" >Weight</label>
                            <div class="col-sm-9 col-md-7">
                                <div id="weight" class="form-control">Not provided by the patient</div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="drinkingCapacity" >Drinking Capacity</label>
                            <div class="col-sm-9 col-md-7">
                                <div id="drinkingCapacity" class="form-control">Not provided by the patient</div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="drinkingFrequency" >Drinking Frequency</label>
                            <div class="col-sm-9 col-md-7">
                                <div id="drinkingFrequency" class="form-control">Not provided by the patient</div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="sleeping" >Sleeping Hours</label>
                            <div class="col-sm-9 col-md-7">
                                <div id="sleeping" class="form-control">Not provided by the patient</div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="exercise" >Exercise Hours</label>
                            <div class="col-sm-9 col-md-7">
                                <div id="exercise" class="form-control">Not provided by the patient</div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="smoking" >Smoking Status</label>
                            <div class="col-sm-9 col-md-7">
                                <div id="smoking" class="form-control">Not provided by the patient</div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="water" >Water Intake</label>
                            <div class="col-sm-9 col-md-7">
                                <div id="water" class="form-control">Not provided by the patient</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-container form-boxed form-horizontal row">
                        <div id="form-pmh" class="col-xs-12 form-group">
                            <label class="col-xs-12" >Past Medical History</label>
                            <div class="col-xs-12">
                                <p class="table-profile-empty">This information isn't provided by the patient.</p>
                                <table class="table table-profile-view table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:15%">History Type</th>
                                        <th style="width:15%">Name</th>
                                        <th style="width:15%">Date</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12" >Existing Diseases</label>
                            <div id="form-ed" class="col-xs-12">
                                <p class="table-profile-empty">This information isn't provided by the patient.</p>
                                <table class="table table-profile-view table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:15%">Disease Name</th>
                                        <th style="width:15%">Degree</th>
                                        <th style="width:15%">Duration</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12" >Suspected Diseases</label>
                            <div id="form-sd" class="col-xs-12">
                                <p class="table-profile-empty">This information isn't provided by the patient.</p>
                                <table class="table table-profile-view table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:15%">Disease Name</th>
                                        <th style="width:15%">Symptoms</th>
                                        <th style="width:15%">Degree</th>
                                        <th style="width:15%">Duration</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12" >Medications</label>
                            <div id="form-med" class="col-xs-12">
                                <p class="table-profile-empty">This information isn't provided by the patient.</p>
                                <table class="table table-profile-view table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:15%">Medi. Name</th>
                                        <th style="width:15%">Intake</th>
                                        <th style="width:15%">Frequency</th>
                                        <th style="width:15%">Duration</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12" >Family Medical History</label>
                            <div id="form-fmh" class="col-xs-12">
                                <p class="table-profile-empty">This information isn't provided by the patient.</p>
                                <table class="table table-profile-view table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:20%">Relationship</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12" >Allergies</label>
                            <div id="form-alg" class="col-xs-12">
                                <p class="table-profile-empty">This information isn't provided by the patient.</p>
                                <table class="table table-profile-view table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:20%">Allergy Name</th>
                                        <th style="width:15%">Degree</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <label class="col-xs-12" for="notice">Notice</label>
                            <div class="col-xs-12">
                                <textarea id="notice" class="form-control" rows="8" readonly
                                          style="background-color: white; resize: none;">
                                    This information isn't provided by the patient.
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>