{% load my_filters %}

{#<div class="col-xs-12 form-title">#}
{#    <h3 class="text-center">Physician's Interpretation</h3>#}
{#</div>#}
<div class="form-container form-boxed form-horizontal row">
    {% if user_session.user_type == 'patient' %}
    <div class="col-sm-12 form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Physician ID</label>
        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
            <span class="control-value">
                <a class="text-primary view-profile" href="#" physician_id="{{ intpr.physician_id }}">{{ intpr.physician_id }}</a>
            </span>
        </div>

        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Physician Name</label>
        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
            <span class="control-value">
                {% if intpr.physician_name %}
                    {{ intpr.physician_name }}
                {% else %}
                    {{ physician.physician_name }}
                {% endif %}
            </span>
        </div>
    </div>
    {% endif %}

    <div class="col-sm-12 form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Level</label>
        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
            <span class="control-value">{{ intpr.level|intpr_level_string }}</span>
        </div>
    </div>

    {% autoescape off %}
    <div class="col-sm-12 form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label" > Suspected Disease</label>
        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
            <div class="interpretation-viewer">
                {{ intpr.suspected_disease }}
            </div>
        </div>
    </div>

    <div class="col-sm-12 form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label" > Opinion</label>
        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
            <div class="interpretation-viewer">
                {{ intpr.opinion }}
            </div>
        </div>
    </div>

    <div class="col-sm-12 form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label" > Recommendation</label>
        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
            <div class="interpretation-viewer">
                {{ intpr.recommendation }}
            </div>
        </div>
    </div>

    <div class="col-sm-12 form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label" >Summary</label>
        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
            <div class="interpretation-viewer">
                {{ intpr.summary }}
            </div>
        </div>
    </div>
    {% endautoescape %}
</div>