{% load staticfiles %}
{% load my_filters %}

<!-- script -->
<script src="{% static 'lib/jquery/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'lib/jquery/plugins/loadingoverlay.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'lib/bootstrap/assets/js/ie10-viewport-bug-workaround.js' %}"></script>

<script src="{% static 'miass/js/init.js' %}"></script>

<script type="text/javascript">
function signout() {
    $.LoadingOverlay('show');
    $.ajax("api/sessions", {
        method: 'DELETE',
        dataType: 'json',
        success: function(res) {
            $.LoadingOverlay('hide');
            if(res['code'] == 'SUCCESS') {
                location.href = "{% url 'miaas:signin' %}";
            } else {
                console.log(res);
            }
        }
    });
}

var user = JSON.parse("{{ user_session | jsonstr }}");
</script>