;{% load staticfiles %}
<div class="modal fade" id="imageViewModal" tabindex="-1" role="dialog" aria-labelledby="imageViewModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="imageViewModalTitle">Medical Image Viewer</h4>
            </div>
            <div class="modal-body">
                <div id="imageView" class="image-view">
                    <div class="image-view-explorer col-sm-5 col-md-4">
                        <h4>Image File Explorer</h4>
                        <ul id="image-view-list"></ul>
                    </div>
                    <div class="image-view-image col-sm-7 col-md-8">
                        <div class="row image-view-header">
                            <h4 class="col-xs-12 col-md-10">Image View&nbsp;&nbsp;&nbsp;<span id="imageViewModalTitleName" class="text-primary"></span></h4>
                            <div id="imageViewHeaderHelper" class="pull-right">
{#                                <button id="btnImageControlHelp" type="button" class="btn btn-default"#}
{#                                        data-toggle="popover" data-placement="left" data-html="true"#}
{#                                        title="How to Adjust an Image?" data-container="body"#}
{#                                        data-content="An image is adjusted using mouse click and drag.<br/><strong>LB+U/D</strong>: Adjust Brightness<br/><strong>LB+L/R</strong>: Adjust Contrast<br/><strong>MB+MOVE</strong>: Move Image</br><strong>RB+U/D</strong>: Change Zoom<br/><strong>WHEEL</strong>: Change Zoom<br/><br/><div style='font-size: 13px;'>* <b>LB</b>=Left Button, <b>RB</b>=Right Button<br/>&nbsp;&nbsp;<b>MB</b>=Middle Button<br/>&nbsp;&nbsp;<b>U/D</b>=Up/Down, <b>L/R</b>=Left/Right</div>">#}
{#                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Help#}
{#                                </button>#}
                                <button id="btnImageControlHelp" type="button" class="btn btn-default"
                                        data-toggle="popover" data-placement="left" data-html="true"
                                        title="How to Adjust an Image?" data-container="body"
                                        data-content="An image is adjusted using mouse click and drag.<br/><strong>LB+U/D</strong>: Adjust Brightness<br/><strong>LB+L/R</strong>: Adjust Contrast<br/><strong>MB+MOVE</strong>: Move Image</br><strong>RB+U/D</strong>: Change Zoom<br/><strong>WHEEL</strong>: Change Zoom<br/><br/><div style='font-size: 13px;'>* <b>LB</b>=Left Button, <b>RB</b>=Right Button<br/>&nbsp;&nbsp;<b>MB</b>=Middle Button<br/>&nbsp;&nbsp;<b>U/D</b>=Up/Down, <b>L/R</b>=Left/Right</div>">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Help
                                </button>
                            </div>
                        </div>
                        <div id="imageViewerWrapper" style="width:320px; height:320px; position:relative;color:white;"
                             oncontextmenu="return false"
                             class='disable-selection noIbar'
                             unselectable='on'
                             onselectstart='return false;'
                             onmousedown='return false;'>
                            <div id="imageViewer" class="image-view-viewer"
                                 style="width:512px;height:512px;top:0px;left:0px; position:absolute;">
                            </div>
                            <div id="imageViewerLoader" style="background-image: url('{% static 'lib/jquery/plugins/loading.gif' %}');"></div>
                            <div id="imageViewerSequenceLoader" class="text-center" style="display: none">
                                <h4>Loading files...</h4>
                                <span id="sequenceLoaderStatus">123/244</span>
                            </div>
                        </div>
                        <div id="imageViewerDetailContainer">
                            <div id="imageViewerDetail" style="display: none; margin-top:30px;">
                                <h4 class="text-primary">Detail Information</h4>
                                <!-- panels for dicom information -->
                                <div class="panel panel-default ">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Patient Information</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Patient Name</strong>: <span data-dicom="x00100010"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Patient ID</strong>: <span data-dicom="x00100020"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Patient Birth Date</strong>: <span data-dicom="x00100030"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Patient Gender</strong>: <span data-dicom="x00100040"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Study Information</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Study Description</strong>: <span data-dicom="x00081030"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Protocol Name</strong>: <span data-dicom="x00181030"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Accession #</strong>: <span data-dicom="x00080050"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Study Id</strong>: <span data-dicom="x00200010"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Study Date</strong>: <span data-dicom="x00080020"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Study Time</strong>: <span data-dicom="x00080030"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Series Information</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Series Description</strong>: <span data-dicom="x0008103e"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Series #</strong>: <span data-dicom="x00200011"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Modality</strong>: <span data-dicom="x00080060"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Body Part</strong>: <span data-dicom="x00180015"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Series Date</strong>: <span data-dicom="x00080021"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Series Time</strong>: <span data-dicom="x00080031"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Instance Information</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Instance #</strong>: <span data-dicom="x00200013"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Acquisition #</strong>: <span data-dicom="x00200012"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Acquisition Date</strong>: <span data-dicom="x00080022"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Acquisition Time</strong>: <span data-dicom="x00080032"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Content Date</strong>: <span data-dicom="x00080023"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Content Time</strong>: <span data-dicom="x00080033"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Image Information</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Rows</strong>: <span data-dicomUint="x00280010"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Columns</strong>: <span data-dicomUint="x00280011"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Photometric Interpretation</strong>: <span data-dicom="x00280004"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Image Type</strong>: <span data-dicom="x00080008"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Bits Allocated</strong>: <span data-dicomUint="x00280100"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Bits Stored</strong>: <span data-dicomUint="x00280101"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>HighBit</strong>: <span data-dicomUint="x00280102"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Pixel Representation (0=us)</strong>: <span data-dicomUint="x00280103"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Rescale Slope</strong>: <span data-dicom="x00281053"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Rescale Intercept</strong>: <span data-dicom="x00281052"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Image Position Patient</strong>: <span data-dicom="x00200032"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Image Orientation Patient</strong>: <span data-dicom="x00200037"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Pixel Spacing</strong>: <span data-dicom="x00280030"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Samples Per Pixel</strong>: <span data-dicomUint="x00280002"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Equipment Information</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Manufacturer</strong>: <span data-dicom="x00080070"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Model</strong>: <span data-dicom="x00081090"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>Station Name</strong>: <span data-dicom="x00081010"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <strong>AE Title</strong>: <span data-dicom="x00020016"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <strong>Institution Name</strong>: <span data-dicom="x00080080"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <strong>Software Version</strong>: <span data-dicom="x00181020"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <strong>Implementation Version Name</strong>: <span data-dicom="x00020013"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">UIDS</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <strong>Study UID</strong>: <span data-dicom="x0020000d"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <strong>Series UID</strong>: <span data-dicom="x0020000e"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <strong>Instance UID</strong>: <span data-dicom="x00080018"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <strong>SOP Class UID</strong>: <span data-dicom="x00080016"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <strong>Transfer Syntax UID</strong>: <span data-dicom="x00020010"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <strong>Frame of Reference UID</strong>: <span data-dicom="x00200052"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span><a id="imageViewShowDetail" href="#" style="display: none; background-color: white;">Show Detail Information</a></span>
                        </div>
                        <div id="imageViewerSequenceController" style="display: none;">
                            <div id="seqControllerProgress" class="progress ">
                                <div class="progress-bar progress-bar-primary" role="progressbar"
                                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="444" style="width: 40%">
                                </div>
                                <div class="progress-bar progress-bar-for-seg" role="progressbar"
                                     style="width: 10%; display: none;">
                                </div>
                                <div id="seqControllerProgressSegA" class="progress-segment" style="display: none;">A</div>
                                <div id="seqControllerProgressSegB" class="progress-segment" style="display: none;">B</div>
                            </div>
                            <div class="seq-controller-progress-info">
                                <div id="seqControllerIntervalForm" class="form-group">
                                    <label class="control-label">Play Interval: </label>&nbsp;
                                    <input id="seqControllerInterval" class="form-control form-control-inline"
                                           type="number" size="3" maxlength="3" value="50" min="10" max="1000" /> ms
                                </div>
                                <div id="seqControllerProgressText" class="pull-right progress-text">
                                    45 / 719
                                </div>
                            </div>
                            <div id="seqControllerBasicButtons" class="text-center seq-controller-buttons">
                                <a id="seqControllerStepBackward" class="btn btn-primary disabled"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                                <a id="seqControllerBackward" class="btn btn-primary btn-seq-play"><span class="glyphicon glyphicon-play glyphicon-play-back" aria-hidden="true"></span></a>
                                <a id="seqControllerPause" class="btn btn-primary"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></a>
                                <a id="seqControllerPlay" class="btn btn-primary btn-seq-play"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
                                <a id="seqControllerStepForward" class="btn btn-primary disabled"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                            </div>
                            <div id="seqControllerSegmentButtons" class="text-center seq-controller-buttons">
                                <a id="seqControllerSegmentA" class="btn btn-primary">Set [A</a>
                                <a id="seqControllerSegmentB" class="btn btn-primary">Set B]</a>
                                <a id="seqControllerSegmentRepetitionAB" class="btn btn-primary btn-seq-seg-play">[A<span class="glyphicon glyphicon-play" aria-hidden="true"></span>B]</a>
                                <a id="seqControllerSegmentRepetitionBA" class="btn btn-primary btn-seq-seg-play">[A<span class="glyphicon glyphicon-play glyphicon-play-back" aria-hidden="true"></span>B]</a>
                                <a id="seqControllerSegmentClear" class="btn btn-primary">Clear</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="graphView" class="image-view">
                    <div class="image-view-image col-xs-12 col-md-12">
                        <div id="graphViewer" class="image-view-viewer">
                        </div>
                    </div>
                    <div class="image-view-image-settings col-xs-12 col-md-11">
                        <div class="form-group col-xs-12 col-md-5">
                            <div class="col-xs-12">
                                <button id="graphViewListBtn" type="button" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;&nbsp;Files
                                </button>
                            </div>
                            <div class="col-xs-12">
                                <label class="control-label">
                                    <a id="rollPeriodLabel" data-toggle="popover" data-placement="top"
                                       herf="#" data-trigger="focus" role="button" tabindex="0"
                                       title="Rolling Average"
                                       data-content="Rolling average (moving average) is a calculation to analyze data points by creating series of averages of different subsets of the full data set. So rolling period is a period of rolling average.">
                                        Rolling Period:</a>
                                </label>
                                <input id="rollPeriod" type="number" name="rollPeriod" class="form-control form-control-inline"
                                       placeholder="period" size="1" maxlength="1">
                                <button id="rollPeriodConfirm" class="btn btn-primary">Change</button>
                            </div>
                        </div>
                        <div id="graphLabelChecks" class="form-group graph-label-group col-xs-12 col-md-7">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Check me out
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
