<div class="modal fade" id="uploadingProgressModal" tabindex="-1" role="dialog" aria-labelledby="uploadingProgressTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="uploadingProgressTitle">File Upload</h4>
            </div>
            <div class="modal-body modal-progress-body">
                <div id="uploadStatus" class="progressStatus text-primary text-center">Uploading...</div><br/>
                <div id="uploadProgress" class="progress-container">
                </div>
            </div>
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-primary">Cancel</button>#}
{#            </div>#}
        </div>
    </div>
</div>