{% load staticfiles %}
{% load my_filters %}
<link rel="stylesheet" type="text/css" href="{% static 'miass/css/notification.css' %}">
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container nav-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collasped"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand onloading" href="{% url 'miaas:index' %}">MIAAS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a id="nav_profile" class="onloading" href="{% url 'miaas:profile' %}">Profile</a></li>
                <li><a id="nav_archive" class="onloading" href="{% url 'miaas:archive' %}">Archive</a></li>
                <li><a id="nav_interpretation" class="onloading"
                       href="{% url 'miaas:interpretation' %}">Interpretations</a></li>
                <li><a id="nav_request" class="onloading"
                       href="{% url 'miaas:interpretation_request_list' %}">Requests</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown notify-dropdown">
                    <a class="dropdown notify-dropdown" role="button">
                        <div id='bell'>
                            <i class="glyphicon glyphicon-bell"
                                    {% if intpr_session.new == 0 %}
                               style="color: #777777"
                                    {% endif %}
                            ></i>
                        </div>

                    </a>
                    <ul class="dropdown-menu notifications" role="menu">
                        <div class="notification-heading">
                            <h4 class="menu-title">Notifications</h4>
                        </div>
                        <li class="divider"></li>
                        <div id='notifications-wrapper' class="notifications-wrapper">
                            {% if intpr_session.sessions %}
                                {% for session in intpr_session.sessions %}
                                    {% if session.type == 'response' %}
                                        <div class="content" href="#">
                                            {% if session.status == 0 %}
                                                <div class="alert alert-custom-new fade in"
                                                     session_id= {{ session.session_id }}>
                                                    <a href="#" class="close" data-dismiss="alert"
                                                       aria-label="close"
                                                       session_id= {{ session.session_id }}>&times;</a>
                                                    <h4 class="item-title">RESPONSE <span
                                                            class="item-time">{{ session.timestamp|datetime_string }}</span>
                                                    </h4>
                                                    <p class="item-info">A physician respond the request, <a
                                                            class="item-link">"{{ session.value.request_subject| less_string }}</a>"
                                                    </p>
                                                    <li class="divider"></li>
                                                    <div class="item-acceptance-msg">
                                                        <p class="item-info">{{ session.value.acceptance_message| less_string }} </p>
                                                        <a class="item-link pull-right">-{{ session.name }}-</a>.
                                                    </div>
                                                </div>
                                            {% elif session.status == 1 %}
                                                <div class="alert alert-custom fade in"
                                                     session_id= {{ session.session_id }}>
                                                    <a href="#" class="close" data-dismiss="alert"
                                                       aria-label="close"
                                                       session_id= {{ session.session_id }}>&times;</a>
                                                    <h4 class="item-title">RESPONSE <span
                                                            class="item-time">{{ session.timestamp|datetime_string }}</span>
                                                    </h4>
                                                    <p class="item-info">A physician respond the request, <a
                                                            class="item-link">"{{ session.value.request_subject| less_string }}</a>"
                                                    </p>
                                                    <li class="divider"></li>
                                                    <div class="item-acceptance-msg">
                                                        <p class="item-info">{{ session.value.acceptance_message| less_string }} </p>
                                                        <a class="item-link pull-right">-{{ session.name }}-</a>.
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if session.type == 'write' %}
                                        <div class="content" href="#">
                                            {% if session.status == 0 %}
                                                <div class="alert alert-custom-new fade in"
                                                     session_id= {{ session.session_id }}>
                                                    <a href="#" class="close" data-dismiss="alert"
                                                       aria-label="close"
                                                       session_id= {{ session.session_id }}>&times;</a>
                                                    <h4 class="item-title">WRITE <span
                                                            class="item-time">{{ session.timestamp|datetime_string }}</span>
                                                    </h4>
                                                    <p class="item-info">A physician interpreted for the request, <a
                                                            class="item-link">"{{ session.value.request_subject| less_string }}</a>"
                                                    </p>
                                                    <li class="divider"></li>
                                                    <div class="item-acceptance-msg">
                                                        <p class="item-info">{{ session.value.summary| less_string }} </p>
                                                        <a class="item-link pull-right">-{{ session.name }}-</a>.
                                                    </div>
                                                </div>
                                            {% elif session.status == 1 %}
                                                <div class="alert alert-custom fade in"
                                                     session_id= {{ session.session_id }}>
                                                    <a href="#" class="close" data-dismiss="alert"
                                                       aria-label="close"
                                                       session_id= {{ session.session_id }}>&times;</a>
                                                    <h4 class="item-title">WRITE <span
                                                            class="item-time">{{ session.timestamp|datetime_string }}</span>
                                                    </h4>
                                                    <p class="item-info">A physician interpreted for the request, <a
                                                            class="item-link">"{{ session.value.request_subject| less_string }}</a>"
                                                    </p>
                                                    <li class="divider"></li>
                                                    <div class="item-acceptance-msg">
                                                        <p class="item-info">{{ session.value.summary| less_string }} </p>
                                                        <a class="item-link pull-right">-{{ session.name }}-</a>.
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <h3></h3>
                            {% endif %}
                        </div>
                        <li class="divider"></li>
                        <div id="btnRefresh" class="btn btn-primary col-xs-offset-4 col-xs-4">Refresh</div>
                    </ul>
                </li>

                <li class="dropdown">
                    <a id="nav_account" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false"><span id="navbar-logined-text">
                        <span>Hi, {{ user_session.name }} </span></span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="onloading" href="{% url 'miaas:account' %}">Account Setting</a></li>
                        <li><a href="#" onclick="signout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- scripts -->
<script>
    var intpr_session = '{{ intpr_session.new }}';
    var userId = '{{ user_session.user_id }}';
    var userType = '{{ user_session.user_type }}';
</script>
<script src="{% static 'lib/jquery/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'miass/js/notification.js' %}"></script>
