{% load staticfiles %}
{% load my_filters %}

<!-- default alert modal -->
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal-alert-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="alertModalTitle">Request Failed</h4>
            </div>
            <div class="modal-body">
                Request failed
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal-alert-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer">
    <div class="container footer-container">
        <div class="footer-contents pull-left">
            <span>Smartylab Corporation, Seoul, Korea&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>Tel. +82-2-826-0909&nbsp;&nbsp;&nbsp;</span>
            <span><a href="http://smartylab.co.kr" target="_blank">http://smartylab.co.kr</a></span>
        </div>
        <a href="http://smartylab.co.kr" target="_blank" class="pull-right">
            <image src="{% static 'miass/image/main/logo.png' %}"  class="copyright-logo"></image>
        </a>
    </div>
</footer>

<!-- scripts -->
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'lib/jquery/plugins/loadingoverlay.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'lib/bootstrap/assets/js/ie10-viewport-bug-workaround.js' %}"></script>

<script src="{% static 'miass/js/init.js' %}"></script>
<script src="{% static 'miass/js/notification.js' %}"></script>

<script type="text/javascript">
    function signout() {
        $.LoadingOverlay('show');
        $.ajax("/api/sessions", {
            method: 'DELETE',
            dataType: 'json',
            success: function(res) {
                $.LoadingOverlay('hide');
                if(res['code'] == 'SUCCESS') {
                    location.href = "{% url 'miaas:signin' %}";
                } else {
                    console.log(res);
                }
            }
        });
    }

    var user = JSON.parse("{{ user_session | jsonstr }}");
</script>