<div class="modal fade modal-profile" id="patientProfileModal" tabindex="-1" role="dialog" aria-labelledby="patientProfileModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="patientProfileModalTitle">Patient Profile</h4>
            </div>
            <div class="modal-body">
                <div id="patientProfileForm" class="col-xs-12 col-form">
                    <div class="form-container form-boxed form-horizontal row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="height">Height</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <textarea type="textarea" id="height" name="height" class="form-control"  readonly></textarea>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="weight" >Weight</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <textarea type="textarea" id="weight" name="weight" class="form-control"  readonly></textarea>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="drinkingCapacity" >Drinking Capacity</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <textarea type="textarea" id="drinkingCapacity" name="drinkingCapacity" class="form-control"  readonly></textarea>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="drinkingFrequency" >Drinking Frequency</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <textarea type="textarea" id="drinkingFrequency" name="drinkingFrequency" class="form-control"  readonly></textarea>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="sleeping" >Sleeping Hours</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <textarea type="textarea" id="sleeping" name="sleeping" class="form-control"  readonly></textarea>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="exercise" >Exercise Hours</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <textarea type="textarea" id="exercise" name="exercise" class="form-control"  readonly></textarea>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="smoking" >Smoking Status</label>
                            <div class="col-sm-9 col-md-7">
                                <textarea type="textarea" id="smoking" name="smoking" class="form-control"  readonly></textarea>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label class="col-xs-12 col-sm-3 col-md-5 control-label" for="water" >Water Intake</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <textarea type="textarea" id="water" name="water" class="form-control"  readonly></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-container form-boxed form-horizontal row">
                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="pastMedicalHistory">Past Medical
                            History</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="pastMedicalHistory" name="pastMedicalHistory"
                                      class="form-control" rows="5" readonly></textarea>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="existingDiseases">Existing Diseases </label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="existingDiseases" name="existingDiseases"
                                      class="form-control" rows="5" readonly></textarea>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="suspectedDiseases">Suspected
                            Diseases </label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="suspectedDiseases" name="suspectedDiseases"
                                      class="form-control" rows="5" readonly></textarea>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="medications">Medications </label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="medications" name="medications"
                                      class="form-control" rows="5" readonly></textarea>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="familyMedicalHistory">Family Medical
                            History </label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="familyMedicalHistory" name="familyMedicalHistory"
                                      class="form-control" rows="5" readonly></textarea>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="allergies">Allergies</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="allergies" name="allergies"
                                      class="form-control" rows="5" readonly></textarea>
                        </div>
                    </div>


                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="notice">Notice</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea type="textarea" id="notice" name="notice"
                                      class="form-control" rows="5" readonly></textarea>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>