{% load staticfiles %}
{% load my_filters %}
<link rel="stylesheet" type="text/css" href="{% static 'miass/css/notification.css' %}">
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container nav-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collasped"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand onloading" href="{% url 'miaas:index' %}">MIAAS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ><a id="nav_physician_profile" class="onloading" href="{% url 'miaas:physician_profile' %}">Physician Profile</a></li>
                <li class="dropdown">
                    <a id="nav_interpretations" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Interpretations
                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="onloading" href="{% url 'miaas:interpretation_response' %}">Respond Requests</a></li>
                        <li><a class="onloading"href="{% url 'miaas:physician_interpretation' %}">My Interpretations</a></li>
                        <li><a class="onloading" href="{% url 'miaas:interpretation_search' %}">Search Requests</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                 <li class="dropdown notify-dropdown">
                    <a class="dropdown notify-dropdown" role="button">
                        <i class="glyphicon glyphicon-bell"></i>
                    </a>
                    <ul class="dropdown-menu notifications" role="menu">
                        <div class="notification-heading">
                            <h4 class="menu-title">Notifications</h4>
                        </div>
                        <li class="divider"></li>
                        <div class="notifications-wrapper">
                            <div class="content" href="#">
                                <div class="alert alert-custom fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <h4 class="item-title">CANCEL <span class="item-time">04/23/16 17:43:23</span>
                                    </h4>
                                    <p class="item-info"> The request, "{{ "request_subject"| less_string }}", that you respond is canceled.</p>
                                </div>
                            </div>
                            <div class="content" href="#">
                                <div class="alert alert-custom fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <h4 class="item-title">SELECT <span class="item-time">04/23/16 17:43:23</span>
                                    </h4>
                                    <p class="item-info"> The patient, <a class="item-link"> {{ "patient_id" }}</a>, selected you to get interpretation for the request, "<a class="item-link"> {{ "request_subject"|less_string }}</a>".</p>
                                </div>
                            </div>
                        </div>
                        <li class="divider"></li>
                        <div class="btn btn-primary col-xs-offset-4 col-xs-4">Refresh</div>
                    </ul>
                </li>

                <li class="dropdown">
                    <a id="nav_account" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span id="navbar-logined-text">
                        <span>Hi, Dr. {{ user_session.name }} </span></span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="onloading" href="{% url 'miaas:account' %}">Account Setting</a></li>
                        <li><a href="#" onclick="signout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- scripts -->
<script src="{% static 'lib/jquery/jquery-2.2.0.min.js' %}"></script>

<script type="text/javascript">
    $('.notify-dropdown').on("click", function(event){
        $(this).parent().toggleClass('open');
    });
    $('body').on('click', function (e) {
    if (!$('.notify-dropdown').is(e.target)
        && $('.notify-dropdown').has(e.target).length === 0
        && $('.open').has(e.target).length === 0
    ) {
        $('.notify-dropdown').removeClass('open');
    }
});

</script>