{% load my_filters %}

<div class="form-container form-boxed form-horizontal row">
    {% if user_session.user_type == 'physician' %}
    <div class="col-xs-12 form-group">
        <label class="col-sm-3 col-md-2 control-label" >Patient ID</label>
        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
            <span id="patientId" class="control-value" >{{ patient.user_id }}</span>
        </div>
        <label class="col-sm-3 col-md-2 control-label" >Patient Name</label>
        <div class="col-xs-12 col-sm-9 col-md-4 control-text">
            <span id="patientName" class="control-value" >{{ patient.patient_name }}</span>
        </div>
        {% if request_detail.level == 3 %}

            <label class="col-sm-3 col-md-2 control-label" >Phone Number</label>
            <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                <span id="phoneNumber" class="control-value" >{{ patient.phone_number }}</span>
            </div>

            <label class="col-sm-3 col-md-2 control-label" >Email</label>
            <div class="col-xs-12 col-sm-9 col-md-4 control-text">
                <span id="email" class="control-value" >{{ patient.email }}</span>
            </div>
        {% endif %}
    </div>
    {% endif %}

    <div class="col-xs-12 form-group">
        <label class="col-sm-3 col-md-2 control-label no-pad-top" for="inputReqSubject" >Request Subject</label>
        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
            <span id="reqSubject" class="control-value" >{{ request_detail.request_subject }}</span>
        </div>
    </div>

    <div class="col-xs-12 form-group">
        <label class="col-sm-3 col-md-2 control-label" for="reqMessage" >Request Message</label>
        <div class="col-xs-12 col-sm-9 col-md-10 control-text">
            <div id="reqMessage" class="control-value" >
                {% autoescape off %}
                <p>{{ request_detail.request_message | newline_to_br }}</p>
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>