{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style></style>

</head>
<body>

<button id="login">login</button>
<button id="logout">logout</button>
<button id="signup">signup</button>
<button id="signup2">signup2</button>
<button id="idcheck">idcheck</button>
<button id="updatePatientInfo">updatePatientInfo</button>
<button id="getPatientInfo">getPatientInfo</button>
<button id="getPatientProfile">getPatientProfile</button>
<button id="addPatientProfile">addPatientProfile</button>
<button id="updatePhysicianInfo">updatePhysicianInfo</button>
<button id="getPhysicianInfo">getPhysicianInfo</button>
<button id="getPhysicianProfile">getPhysicianProfile</button>
<button id="addPhysicianProfile">addPhysicianProfile</button>

</body>

<script src="{% static "lib/jquery/jquery-2.2.0.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#login").click(function() {
            $.ajax("api/sessions", {
                method: 'POST',
                data: JSON.stringify({
                    user_id: "min",
                    password: "1234"
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#logout").click(function() {
            $.ajax("api/sessions", {
                method: 'DELETE',
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#signup").click(function() {
            $.ajax("api/user", {
                method: 'POST',
                data: JSON.stringify({
                    action: 'signup',
                    user: {
                        user_type: 'patient',
                        user_id: "minm2",
                        password: "1234",
                        name: 'Min Han',
                        phone_number: '010-1234-5678',
                        email: 'abcd@text.com',
                        gender: 'Female',
                        birthday: Date.parse('1991-05-23'),
                        join_date: new Date().getTime()
                    }
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#signup2").click(function() {
            $.ajax("api/user", {
                method: 'POST',
                data: JSON.stringify({
                    action: 'signup',
                    user: {
                        user_type: 'physician',
                        user_id: "phphph",
                        password: "1234",
                        name: 'Min Han',
                        phone_number: '010-1234-5678',
                        email: 'abcd@text.com',
                        medicine_field: 'Male',
                        license_number: 'a1je8dfjkq90cx09231',
                        certificate_dir: 'here',
                        join_date: new Date().getTime()
                    }
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#updatePatientInfo").click(function() {
            $.ajax("api/user", {
                method: 'POST',
                data: JSON.stringify({
                    action: 'update',
                    user: {
                        user_type: 'patient',
                        user_id: "minm2",
                        password: "43210",
                        name: 'Min Han',
                        phone_number: '010-1234-5678',
                        email: 'abcd@text.com',
                        gender: 'Male',
                        birthday: Date.parse('1971-05-23')
                    }
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#updatePhysicianInfo").click(function() {
            $.ajax("api/user", {
                method: 'POST',
                data: JSON.stringify({
                    action: 'update',
                    user: {
                        user_type: 'physician',
                        user_id: "phphph",
                        password: "43210",
                        name: 'Min Han',
                        phone_number: '010-1234-5678',
                        email: 'abcd@text.com',
                        medicine_field: 'Male',
                        license_number: 'a1je8dfjkq90cx09231',
                        certificate_dir: 'here'
                    }
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#idcheck").click(function() {
            $.ajax("api/user", {
                method: 'GET',
                data: {
                    action: 'checkId',
                    user_id: 'min'
                },
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#getPatientInfo").click(function() {
            $.ajax("api/user", {
                method: 'GET',
                data: {
                    action: 'getPatient',
                    user_id: 'hanter'
                },
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#getPatientProfile").click(function() {
            $.ajax("api/patient_profile", {
                method: 'GET',
                data: {
                    user_id: 'hanter'
                },
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#addPatientProfile").click(function() {
            $.ajax("api/patient_profile", {
                method: 'POST',
                data: JSON.stringify({
                    user_id: 'hanter',
                    profiles: [
                        {type:'height', value:'168 Centimeters'},
                        {type:'dirinkingCapacity', value:'5'},
                        {type:'diseaseHistory', value:'Diabetes'}
                    ],
                    timestamp: new Date().getTime()
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#getPhysicianInfo").click(function() {
            $.ajax("api/user", {
                method: 'GET',
                data: {
                    action: 'getPhysician',
                    user_id: 'drhanter'
                },
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#getPhysicianProfile").click(function() {
            $.ajax("api/physician_profile", {
                method: 'GET',
                data: {
                    user_id: 'drhanter'
                },
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#addPhysicianProfile").click(function() {
            $.ajax("api/physician_profile", {
                method: 'POST',
                data: JSON.stringify({
                    user_id: 'drhanter',
                    profiles: [
                        {type:'aboutMe', value:'I want to diagnose your diseases.'},
                        {type:'aboutSpecialism', value:'I am very special doctor.'}
                    ],
                    timestamp: new Date().getTime()
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
    });
</script>

</html>