{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style></style>

</head>
<body>

<div>
    <div>
        <button id="login">login</button>
        <button id="logout">logout</button>
        <button id="signup">signup</button>
        <button id="signup2">signup2</button>
        <button id="idcheck">idcheck</button>
    </div>
    <div>
        <button id="findid">findid</button>
        <button id="findpw">findpw</button>
    </div>
    <div>
        <button id="updatePatientInfo">updatePatientInfo</button>
        <button id="getPatientInfo">getPatientInfo</button>
        <button id="getPatientProfile">getPatientProfile</button>
        <button id="addPatientProfile">addPatientProfile</button>
    </div>
    <div>
        <button id="updatePhysicianInfo">updatePhysicianInfo</button>
        <button id="getPhysicianInfo">getPhysicianInfo</button>
        <button id="getPhysicianProfile">getPhysicianProfile</button>
        <button id="addPhysicianProfile">addPhysicianProfile</button>
    </div>
    <div>
        <button id="addMedicalImage">addMedicalImage</button>
        <button id="retrieveMedicalImage">retrieveMedicalImage</button>
        <button id="retrieveMedicalImages">retrieveMedicalImages</button>
        <button id="deleteMedicalImage">deleteMedicalImage</button>
    </div>
    <br />
    <div>
        <form action="/api/medical_image" method="post" enctype="multipart/form-data">
            File:
            <input type="hidden" name="action" value="upload" />
            <input type="file" name="image_file" id="imageFile" />
            <input type="submit" value="UPLOAD" />
        </form>
    </div>
    <br />
    <div>
        <form action="/api/medical_image" id="fileForm2" method="post" enctype="multipart/form-data">
            File2:
            <input type="file" name="image_file" id="imageFile2" />
            <input type="submit" value="UPLOAD" />
            <span>progress: <span id="progress">0</span>%</span>
        </form>
    </div>
    <div>
        Django Multiple File Upload:
        <form id="multiFileForm" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
    {#        {{ form.as_p }}#}

            <input id="ttt" multiple="multiple" name="attachments" type="file">
            <input type="submit" value="Send" />
        </form>
    </div>
    </div>

<div>
    <form method="post" action="/api/test">
        <textarea id="mytextarea" name="testtextarea">Hello, World!</textarea>
        <button type="button" onclick="ajaxSave();">Save</button>
    </form>
</div>

</body>

<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
<script src="{% static "lib/jquery/jquery-2.2.0.min.js" %}"></script>
<script type="text/javascript">
    function startFileProgressUpdate(upload_id) {
        console.log('start progress!');

        $('#progress').text(0);
        if(g_progress_intv != null)
            clearInterval(g_progress_intv);

        g_progress_intv = setInterval(function() {
            $.getJSON("/api/get_upload_progress?X-Progress-ID="+upload_id,
                function(data) {
                    if (data == null) {
                        console.log('data is null, stop.');
                        $('#progress').text(100);
                        clearInterval(g_progress_intv);
                        g_progress_intv = null;
                        return;
                    }
                    console.log(data);

                    var percentage = Math.floor(100 * parseInt(data.uploaded) / parseInt(data.length));
                    $('#progress').text(percentage);
                });
        }, 500);
    }

    $(document).ready(function () {
        $("#multiFileForm").on('submit', function(e) {
            e.preventDefault();

            var data = new FormData($('#multiFileForm').get(0));
            data.append('action', 'upload');
            data.append('image_info', JSON.stringify({
                user_id : 'min',
                subject : "Medical Image Test",
                timestamp: new Date().getTime(),
                image_type : "EEG",
                taken_from : 'Medical Clinic',
                physician : 'Max Hyper',
                place : "Max Hyper's Hospital",
                description : "This is test image information for upload testing"
            }));
            console.log(data);

            $('#progress').text(0);
            var xprogressID = new Date().getTime();
            $.ajax({
                url: $(this).attr('action') + '?X-Progress-ID='+xprogressID,
                type: $(this).attr('method'),
                data: data,
                cache:false,
                processData: false,
                contentType: false,
                success: function(res) {
                    console.log(res);
                    if(res['code'] == 'SUCCESS') {
                        console.log('hi');
                    }
                }
            });

{#            setTimeout(function() {#}
{#                startFileProgressUpdate(xprogressID);#}
{#            }, 500)#}

        });


        g_progress_intv = null;

        $("#fileForm2").on('submit', function(e) {
            e.preventDefault();

            var data = new FormData($('#fileForm2').get(0));
            data.append('action', 'upload');
            data.append('image_info', JSON.stringify({
                user_id : 'min',
                subject : "Medical Image Test",
                timestamp: new Date().getTime(),
                image_type : "EEG",
                taken_from : 'Medical Clinic',
                physician : 'Max Hyper',
                place : "Max Hyper's Hospital",
                description : "This is test image information for upload testing"
            }));
            console.log(data);

            $('#progress').text(0);
            var xprogressID = new Date().getTime();
            $.ajax({
                url: $(this).attr('action') + '?X-Progress-ID='+xprogressID,
                type: $(this).attr('method'),
                data: data,
                cache:false,
                processData: false,
                contentType: false,
                success: function(res) {
                    console.log(res);
                }
            });

            setTimeout(function() {
                startFileProgressUpdate(xprogressID);
            }, 500)

        });

        $("#login").click(function() {
            $.ajax("api/sessions", {
                method: 'POST',
                data: JSON.stringify({
                    user_id: "min",
                    password: "1234"
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#logout").click(function() {
            $.ajax("api/sessions", {
                method: 'DELETE',
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#signup").click(function() {
            $.ajax("api/user", {
                method: 'POST',
                data: JSON.stringify({
                    action: 'signup',
                    user: {
                        user_type: 'patient',
                        user_id: "minm2",
                        password: "1234",
                        name: 'Min Han',
                        phone_number: '010-1234-5678',
                        email: 'abcd@text.com',
                        gender: 'Female',
                        birthday: Date.parse('1991-05-23'),
                        join_date: new Date().getTime()
                    }
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#signup2").click(function() {
            $.ajax("api/user", {
                method: 'POST',
                data: JSON.stringify({
                    action: 'signup',
                    user: {
                        user_type: 'physician',
                        user_id: "phphph",
                        password: "1234",
                        name: 'Min Han',
                        phone_number: '010-1234-5678',
                        email: 'abcd@text.com',
                        medicine_field: 'Male',
                        license_number: 'a1je8dfjkq90cx09231',
                        certificate_dir: 'here',
                        join_date: new Date().getTime()
                    }
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#updatePatientInfo").click(function() {
            $.ajax("api/user", {
                method: 'POST',
                data: JSON.stringify({
                    action: 'update',
                    user: {
                        user_type: 'patient',
                        user_id: "minm2",
                        password: "43210",
                        name: 'Min Han',
                        phone_number: '010-1234-5678',
                        email: 'abcd@text.com',
                        gender: 'Male',
                        birthday: Date.parse('1971-05-23')
                    }
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#updatePhysicianInfo").click(function() {
            $.ajax("api/user", {
                method: 'POST',
                data: JSON.stringify({
                    action: 'update',
                    user: {
                        user_type: 'physician',
                        user_id: "phphph",
                        password: "43210",
                        name: 'Min Han',
                        phone_number: '010-1234-5678',
                        email: 'abcd@text.com',
                        medicine_field: 'Male',
                        license_number: 'a1je8dfjkq90cx09231',
                        certificate_dir: 'here'
                    }
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#idcheck").click(function() {
            $.ajax("api/user", {
                method: 'GET',
                data: {
                    action: 'checkId',
                    user_id: 'hanter'
                },
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });

        $("#findid").click(function() {
            $.ajax("api/user", {
                method: 'POST',
                data: JSON.stringify({
                    action: 'findid',
                    email: 'hanterkr@gmail.com',
                    name: 'Hanter Jung'
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#findpw").click(function() {
            $.ajax("api/user", {
                method: 'POST',
                data: JSON.stringify({
                    action: 'findpw',
                    email: 'hanterkr@gmail.com',
                    name: 'Hanter Jung',
                    user_id: 'hanter'
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });

        $("#getPatientInfo").click(function() {
            $.ajax("api/user", {
                method: 'GET',
                data: {
                    action: 'getPatient',
                    user_id: 'hanter'
                },
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#getPatientProfile").click(function() {
            $.ajax("api/patient_profile", {
                method: 'GET',
                data: {
                    user_id: 'hanter'
                },
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#addPatientProfile").click(function() {
            $.ajax("api/patient_profile", {
                method: 'POST',
                data: JSON.stringify({
                    user_id: 'hanter',
                    profiles: [
                        {type:'height', value:'168 Centimeters'},
                        {type:'dirinkingCapacity', value:'5'},
                        {type:'diseaseHistory', value:'Diabetes'}
                    ],
                    timestamp: new Date().getTime()
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#getPhysicianInfo").click(function() {
            $.ajax("api/user", {
                method: 'GET',
                data: {
                    action: 'getPhysician',
                    user_id: 'drhanter'
                },
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#getPhysicianProfile").click(function() {
            $.ajax("api/physician_profile", {
                method: 'GET',
                data: {
                    user_id: 'drhanter'
                },
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#addPhysicianProfile").click(function() {
            $.ajax("api/physician_profile", {
                method: 'POST',
                data: JSON.stringify({
                    user_id: 'drhanter',
                    profiles: [
                        {type:'aboutMe', value:'I want to diagnose your diseases.'},
                        {type:'aboutSpecialism', value:'I am very special doctor.'}
                    ],
                    timestamp: new Date().getTime()
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });

        $('#addMedicalImage').click(function() {
            $.ajax("api/medical_image", {
                method: 'POST',
                data: JSON.stringify({
                    action: 'upload',
                    medical_image: {
                        user_id: 'hanter',
                        subject: 'My First X-ray Image',
                        image_type: 'X-ray',
                        taken_from: 'Medical Clinic',
                        place: 'SEL Hospital',
                        physician: 'Ku Hwan An',
                        description: 'the fist xray image',
                        timestamp: new Date().getTime()
                    }
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            })
        });
        $('#retrieveMedicalImage').click(function() {
            $.ajax("api/medical_image", {
                method: 'GET',
                data: {
                    action: 'getImage',
                    image_id: '3'
                },
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            })
        })
        $('#retrieveMedicalImages').click(function() {
            $.ajax("api/medical_image", {
                method: 'GET',
                data: {
                    action: 'getImages',
                    user_id: 'hanter'
                },
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            })
        })
        $('#deleteMedicalImage').click(function() {
            $.ajax("api/medical_image", {
                method: 'DELETE',
                data: JSON.stringify({
                    image_id: '1'
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            })
        })
    });
</script>

<script src="{% static 'lib/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript">
    tinymce.init({
        mode: 'textareas',
        selector: '#mytextarea',
        menubar: false,
        plugins: 'table link textcolor autolink autoresize',
        toolbar: 'undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table | link '
    });

    function ajaxSave() {
        var ed = tinymce.get('mytextarea');

        // Do you ajax call here, window.setTimeout fakes ajax call
{#        ed.setProgressState(1); // Show progress#}
{#        window.setTimeout(function() {#}
{#                ed.setProgressState(0); // Hide progress#}
                console.log(ed.getContent());
{#        }, 1000);#}
}
</script>

</html>