{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style></style>

</head>
<body>

<button id="login">login</button>
<button id="logout">logout</button>
<button id="signup">signup</button>
<button id="signup2">signup2</button>
<button id="idcheck">idcheck</button>
<button id="getPatientInfo">getPatientInfo</button>
<button id="getPatientProfile">getPatientProfile</button>

</body>

<script src="{% static "lib/jquery/jquery-2.2.0.min.js" %}"></script>
<script type="text/javascript">
    $(function () {
        $("#login").click(function() {
            $.ajax("api/sessions", {
                method: 'POST',
                data: JSON.stringify({
                    user_id: "min",
                    password: "1234"
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#logout").click(function() {
            $.ajax("api/sessions", {
                method: 'DELETE',
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#signup").click(function() {
            $.ajax("api/user", {
                method: 'POST',
                data: JSON.stringify({
                    user: {
                        user_type: 'patient',
                        user_id: "minm",
                        password: "1234",
                        name: 'Min Han',
                        phone_number: '010-1234-5678',
                        email: 'abcd@text.com',
                        gender: 'Female',
                        birthday: Date.parse('1991-05-23'),
                        join_date: new Date().getTime()
                    }
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#signup2").click(function() {
            $.ajax("api/user", {
                method: 'POST',
                data: JSON.stringify({
                    user: {
                        user_type: 'physician',
                        user_id: "phphph",
                        password: "1234",
                        name: 'Min Han',
                        phone_number: '010-1234-5678',
                        email: 'abcd@text.com',
                        major: 'Male',
                        license_number: 'a1je8dfjkq90cx09231',
                        certificate_dir: 'here',
                        join_date: new Date().getTime()
                    }
                }),
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#idcheck").click(function() {
            $.ajax("api/user", {
                method: 'GET',
                data: {
                    action: 'checkId',
                    userId: 'min'
                },
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#getPatientInfo").click(function() {
            $.ajax("api/user", {
                method: 'GET',
                data: {
                    action: 'getPatient',
                    userId: 'min'
                },
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
        $("#getPatientProfile").click(function() {
            $.ajax("api/patient_profile", {
                method: 'GET',
                data: {
                    userId: 'min'
                },
                dataType: 'json',
                success: function(res) {
                    console.log(JSON.stringify(res));
                }
            });
        });
    });
</script>

</html>