html, body{
    height: 100%;
    overflow: hidden;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 280px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    overflow-x: hidden; /* Disable horizontal scroll */
    z-index: 1; /* Stay on top */
}

.main {
    margin-left: 280px;
    /*height: 100%; !* Full-height: remove this if you want "auto" height *!*/
    /*width: 100%;*/
    /*min-width: 100%;*/
    border: #0c0c0c;
}
#img_box{
    position: relative;
    height: 100%;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}

.thumb_img{
    margin-left: 20px;
    margin-right: 20px;
}

#main_viewer_img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: contain;
    display: block;
    margin-left: 50%;
    left:50%;
    transform: translateX(-50%);
    /*margin-left: -50%;*/
}

#main_viewer_dicom{
    position: absolute;
    top:0px;
    width: 100%;
    min-height: 100%;
}

#main_body{
    background-color: #000000;
}
h5{
    color:#ffffff;
    display: inline;

}
.txt_info{
    color: #fff;
    font-size: 1.0vw;
    display: inline;
}

.txt-white{
    color: white;
}

#div-data{
    height: 5%;
    width: 100%;
}
#div-img{
    height: 80%;
    width: 100%;
}
#div-summary{
    position: absolute;
}
#div-footer{
    height: 15%;
    width: 100%;
    z-index: 200;
}

#img_slider{
    width: 85%;
}

#div_indicator{

}