.modal#imageViewModal {
    padding-top: 0 !important;
}
@media (min-width: 768px) {
    .modal#imageViewModal .modal-dialog {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .modal#imageViewModal .modal-dialog {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .modal#imageViewModal .modal-dialog {
        width: 1170px;
    }
}

.modal#imageViewModal .modal-content {

}

.modal#imageViewModal .modal-footer {
    border-top: none;
}

.modal#imageViewModal .graph-label-group {
    border: 1px solid #ddd;
    border-radius: 4px;
}
.modal#imageViewModal .graph-label-group > div.checkbox {
    display: inline-block;
    margin-right: 30px;
}

@media (min-width: 768px) {
    .modal#imageViewModal .modal-body .image-view {
        min-height: 480px;
    }
}
@media (min-width: 992px) {
    .modal#imageViewModal .modal-body .image-view {
        min-height: 620px;
    }
}

@media (min-width: 768px) {
    .modal#imageViewModal .modal-body #imageView > div {
        height: 490px;
    }
    .modal#imageViewModal .modal-body #imageView > div.image-view-image {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
@media (min-width:992px) {
    .modal#imageViewModal .modal-body #imageView > div {
        height: 630px;
    }
}

.image-view .image-view-viewer {
    width: 100%;
    height: 320px;
}

@media (min-width: 768px) {
    .image-view .image-view-viewer {
        width: 320px;
        height: 320px;
    }
}
@media (min-width: 992px) {
    .image-view .image-view-viewer {
        width: 512px;
        height: 512px;
    }
}
@media (min-width: 768px) {
    .image-view #image-view-list {
        height: 450px;
        overflow-y: scroll;
    }
}
@media (min-width: 992px) {
    .image-view #image-view-list {
        height: 590px;
    }
}
@media (max-width: 767px) {
    .image-view #image-view-list {
        overflow-x: scroll;
    }
}

#image-view-list {
    white-space: nowrap;
}
.image-view #image-view-list a {
    cursor: pointer;
}
.image-view #image-view-list a.image-view-list-expander {
    color: #7A7677;
}

#imageViewerDetail .panel .panel-body div span {
    /*overflow-x: scroll;*/
    word-break: break-all;
}

#imageViewModalTitleName {
    word-break: break-all;
}

.modal#imageViewModal .image-view .image-view-explorer {}

.image-view-explorer ul {
    padding-left: 0;
    list-style-type: none;
}
.image-view-explorer li > ul {
    padding-left: 12px;
}

.image-view-image #imageViewerDetail strong {
    color: #7A7677;
}

.image-view-image-settings {
    margin: 20px 20px 0px 20px;
}

.medimage-preview {
    z-index: 1;
    cursor: pointer;
}

#imageViewerLoader {
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    top:0px;
    left:0px;
    position:absolute
}

#rollPeriod {
    width: 80px;
}

.dygraph-label {
    font-weight: 500;
}

#btnImageControlHelp {
    margin-bottom: 10px;
    margin-right: 20px;
}
@media (min-width: 992px) {
    #btnImageControlHelp {
        margin-top: 4px;
    }
}

#imageViewHeaderHelper .popover {
    overflow: visible !important;
    z-index: 2;
}

#imageViewerSequenceLoader {
    z-index: 3;
    background-color: white;
    color: black;
    padding-top: calc(50% - 18px);
    width: 512px;
    height: 512px;
    position: absolute;
    left: 0px;
    top: 0px
}

#imageViewerSequenceController {
    padding-top: 12px;
}

#imageViewerSequenceController .btn {
    width: 60px;
}