.modal#imageViewModal {
    padding-top: 0 !important;
}
@media (min-width: 768px) {
    .modal#imageViewModal .modal-dialog {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .modal#imageViewModal .modal-dialog {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .modal#imageViewModal .modal-dialog {
        width: 1170px;
    }
}

#imageViewModalTitle {
    display: inline-block;
}

.modal#imageViewModal .modal-content {

}

.modal#imageViewModal .modal-footer {
    border-top: none;
}

.modal#imageViewModal .graph-label-group {
    border: 1px solid #ddd;
    border-radius: 4px;
}
.modal#imageViewModal .graph-label-group > div.checkbox {
    display: inline-block;
    margin-right: 30px;
}

@media (min-width: 768px) {
    .modal#imageViewModal .modal-body .image-view {
        min-height: 480px;
    }
}
@media (min-width: 992px) {
    .modal#imageViewModal .modal-body .image-view {
        min-height: 695px;
    }
}

@media (min-width: 768px) {
    .modal#imageViewModal .modal-body #imageView > div {
        height: 490px;
    }
    .modal#imageViewModal .modal-body #imageView > div.image-view-image {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
@media (min-width:992px) {
    .modal#imageViewModal .modal-body #imageView > div {
        height: 705px;
    }
}

.image-view .image-view-viewer {
    width: 100%;
    height: 320px;
}

@media (min-width: 768px) {
    .image-view .image-view-viewer {
        width: 320px;
        height: 320px;
    }
}
@media (min-width: 992px) {
    .image-view .image-view-viewer {
        width: 512px;
        height: 512px;
    }
}
@media (min-width: 768px) {
    .image-view #image-view-list {
        height: 450px;
        overflow-y: scroll;
    }
}
@media (min-width: 992px) {
    .image-view #image-view-list {
        height: 665px;
    }
}
@media (max-width: 767px) {
    .image-view #image-view-list {
        overflow-x: scroll;
    }
}

#image-view-list {
    white-space: nowrap;
}
.image-view #image-view-list a {
    cursor: pointer;
}
.image-view #image-view-list a.image-view-list-expander {
    color: #7A7677;
}

#imageViewerDetail .panel .panel-body div span {
    /*overflow-x: scroll;*/
    word-break: break-all;
}

#imageViewModalTitleName {
    word-break: break-all;
}

.modal#imageViewModal .image-view .image-view-explorer {}

.image-view-explorer ul {
    padding-left: 0;
    list-style-type: none;
}
.image-view-explorer li > ul {
    padding-left: 12px;
}

#image-view-list .image-explorer-list-group.activate,
#image-view-list .image-explorer-list-item.activate {
    font-weight: 700;
}

.image-view-image #imageViewerDetail strong {
    color: #7A7677;
}

.image-view-image-settings {
    margin: 20px 20px 0px 20px;
}

.medimage-preview {
    z-index: 1;
    cursor: pointer;
}

#imageViewerLoader {
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    top:0px;
    left:0px;
    position:absolute
}

#rollPeriod {
    width: 80px;
}

.dygraph-label {
    font-weight: 500;
}

#graphViewer .dygraph-legend {
    padding: 4px 6px;
    border: 1px solid #99979c;
    border-radius: 6px;
}

#graphViewer .dygraph-legend span:first-child:before {
    font-weight: 700;
}

.image-view-image .dygraph-legend {
    position: absolute;
    z-index: 11;
    top: 0px;
    right: 26px;
    width: 320px;
    padding: 4px 6px;
    background-color: #FFFFFF;
    border: 1px solid #99979c;
    border-radius: 6px;
}

.image-view-image .dygraph-legend:before {
    content: 'Time: ';
    font-weight: bold;
}

#imageViewHeaderHelper {
    /*margin-bottom: 10px;*/
    margin-right: 20px;
}
/*@media (min-width: 992px) {
    #btnImageControlHelp {
        margin-top: 4px;
    }
}*/


#imageViewerSequenceLoader {
    z-index: 5;
    background-color: white;
    color: black;
    padding-top: calc(50% - 18px);
    width: 512px;
    height: 512px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#imageViewerSequenceController {

}
#seqControllerProgress.progress {
    border-radius: 0px 0px 4px 4px;
}
#seqControllerProgress.progress .progress-bar {
    /*transition: width 0.05s ease;*/
    transition: width 0.05s;
}
.seq-controller-buttons {
    margin-top: 8px;
}
.seq-controller-buttons .btn {
    width: 60px;
    padding: 6px;
}
.seq-controller-buttons .btn.activate {
    /*background: #9d2839;*/
    background: #8d2433;
    /*border-color: #7e202d;*/
    border-color: #6e1c28;
}
.seq-controller-buttons#seqControllerSegmentButtons .btn {
    /*width: 76px;*/
}

.glyphicon.glyphicon-play.glyphicon-play-back {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.progress#seqControllerProgress {
    margin-bottom: 4px;
}

.seq-controller-progress-info {
    margin-bottom: 6px;
}

#seqControllerIntervalForm {
    display: inline-block;
    margin-bottom: 0;
}
#seqControllerInterval {
    width: 70px;
}

.progress-text {
    color: #d76474;
    /*color: black;*/
    text-align: right;
    /*width: 100%;*/
    line-height: 34px;
}

.progress .progress-segment {
    background-color: white;
    border-radius: 50%;
    border: solid 2px #d76474;
    color: #d76474;;
    text-align: center;
    position:absolute;
    float: left;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 16px;
    padding: 0;
}
.progress .progress-bar.progress-bar-for-seg {
    position: absolute;
    float: left;
    left: 15px;
    height: 20px;
}



#seqControllerIntervalContainer {
    display: inline-block;
    margin-bottom: 0;
    height: 30px;
}
#seqControllerIntervalContainer > div.seq-controller-interval-text {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    vertical-align: top;
}
#seqControllerIntervalProgress {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 30px;
    margin-bottom: 0;
}
#seqControllerIntervalProgress::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid #d0d4d9;
}
#seqControllerIntervalControlWrapper {
    position: absolute;
    left: 50%;
    top: 6px;
}
#seqControllerIntervalControl {
    background-color: white;
    border-radius: 50%;
    border: solid 2px #d76474;
    color: #d76474;;
    position:absolute;
    width: 20px;
    height: 20px;
    left: -10px;
}
#seqControllerIntervalProgress.disabled #seqControllerIntervalControl {
    border-color: #F2C2B8;
}