.modal#imageViewModal {
    padding-top: 0 !important;
}
@media (min-width: 768px) {
    .modal#imageViewModal .modal-dialog {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .modal#imageViewModal .modal-dialog {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .modal#imageViewModal .modal-dialog {
        width: 1170px;
    }
}

.modal#imageViewModal .modal-content {

}
@media (min-width: 768px) {
    .modal#imageViewModal .modal-body .image-view {
        min-height: 440px;
    }
}
@media (min-width: 992px) {
    .modal#imageViewModal .modal-body .image-view {
        min-height: 600px;
    }
}

@media (min-width: 768px) {
    .modal#imageViewModal .modal-body .image-view > div {
        height: 450px;
    }
    .modal#imageViewModal .modal-body .image-view > div.image-view-image {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
@media (min-width:992px) {
    .modal#imageViewModal .modal-body .image-view > div {
        height: 610px;
    }
}

.image-view .image-view-viewer {
    /*background: cornflowerblue;*/
}

.image-view .image-view-viewer {
    width: 100%;
    height: 320px;
}
@media (min-width: 768px) {
    .image-view .image-view-viewer {
        width: 320px;
        height: 320px;
    }
}
@media (min-width: 992px) {
    .image-view .image-view-viewer {
        width: 512px;
        height: 512px;
    }
}
@media (min-width: 768px) {
    .image-view #image-view-list {
        height: 400px;
        overflow-y: scroll;
    }
}
@media (min-width: 992px) {
    .image-view #image-view-list {
        height: 560px;
    }
}

.image-view #image-view-list a {
    cursor: pointer;
}


.modal#imageViewModal .image-view .image-view-explorer {

}

.image-view-explorer ul {
    padding-left: 0;
    list-style-type: none;
}
.image-view-explorer li > ul {
    padding-left: 12px;
}

.medimage-preview {
    z-index: 1;
    cursor: pointer;
}

.image-view-image-settings {
    margin: 20px 20px 0px 20px;
}

#imageViewerLoader {
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    top:0px;
    left:0px;
    position:absolute
}

#rollPeriod {
    width: 80px;
}