.table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid #ddd;
}

.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 0;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    height: 40px;
}

.table.table-profile .input-in-table {
    vertical-align: top;
    /*padding: 0;*/
    padding: 0 6px;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.table.table-profile textarea.input-in-table,
textarea#notice {
    resize: vertical;
}

.table.table-profile select.input-in-table {
    background-color: #ffffff;
}

.table.table-profile .td-profile-side {
    padding: 5px;
    width: 20px;
    border:hidden;
    border-left: inherit;
    position:absolute;
}
.table.table-profile .td-profile-side .btn-custom-delete {
    position: relative;
}

table.table-profile > tbody > tr:first-of-type {
    display: none;
}

td.td-relative .btn-add-symptom {
    position: absolute;
    top:10px;
    right:2px;
    width:20px;
    height:20px;
}

td.td-relative {
    position: relative;
}

.glyphicon.glyphicon-remove{
    color: #CD5C5C;
}

.btn.btn-custom-delete {
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: 0;
    position: inherit;

}
.btn.btn-custom-add{
    height: 20px;
    padding: 0;
    margin: 0;
    border: 0;
    position: inherit;
    color: #4CAF50;
}
.btn.btn-custom-add.symptom{
    height: 20px;
    padding: 0;
    margin: 0;
    border: 0;
    position: inherit;
    color: #4CAF50;
}
.text-info{
    margin-left: 10px;
    font-size: 12px;
}

::-webkit-clear-button { display: none; }
/*::-webkit-inner-spin-button { margin-top: 8px }*/
::-webkit-inner-spin-button { display: none; }
