#img_box{
    /*background-color: #efefef;*/
    /*width: 512px;*/
    /*height: 512px;*/
    width: 100%;
    position: relative;
}


#img_preview{
    background-color: #efefef;
    /*width: 512px;*/
    /*height: 512px;*/
    width: 100%;
    height: 100%;
    object-fit: contain;
}
