/* Blossom Hues Colors */
.powderblue      { background-color: #BCE0DC !important; }
.powderblue-text { color:            #BCE0DC !important; }
.tender          { background-color: #C0E08A !important; }
.tender-text     { color:            #C0E08A !important; }
.silk            { background-color: #F4F1E0 !important; }
.silk-text       { color:            #F4F1E0 !important; }
.peach           { background-color: #F2C2B8 !important; }
.peach-text      { color:            #F2C2B8 !important; }
.beet            { background-color: #D76474 !important; }
.beet-text       { color:            #D76474 !important; }
.pastelgray      { background-color: #CFCFC4 !important; }
.pastelgray-text { color:            #CFCFC4 !important; }
.pastelgray-dark { background-color: #7A7677 !important; }
.pastelgray-dark-text { color:       #7A7677 !important; }
.black           { background-color: #000000 !important; }
.black-text      { color:            #000000 !important; }
.white           { background-color: #FFFFFF !important; }
.white-text      { color:            #FFFFFF !important; }

body {
    padding-top: 70px;
    font-size: 15px;
}
.section-default {
    margin-bottom: 60px;
}

/* Navigation bar */
@media (max-width: 767px) {
    #navbar-logined-text > span {
        display: none;
    }
    #navbar-logined-text:after {
        content: 'Account';
    }
}
.navbar-default .navbar-brand {
    color: #D76474;
}
.navbar-default .navbar-brand:hover {
    color: #BE3144;
}

/* Table */
.table-container {
    padding: 15px;
    margin: 8px 0 24px 0;
    border: #ddd 1px solid;
    border-radius: 4px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.table-container .table-title {
    padding: 4px 8px 10px 8px;
    font-size: 16px;
    font-weight: 500;
    color: #9d9d9d;
    text-transform: uppercase;
}
.table-container .table thead {
    color: black;
    font-weight: 500;
    font-size: 15px;
}
.table-striped.table-hover tbody tr:hover:not(thead) {
    background-color: #F4F1E0;
}
.table-page-container {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
}
.vcenter {
    vertical-align: middle !important;
}

/* Form */
.form-container.form-boxed {
    padding: 15px;
    margin: 8px 0 24px 0;
    border: #ddd 1px solid;
    border-radius: 4px;
    background: #f8f8f8;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.form-container.form-boxed .form-title {
    margin-bottom: 30px;
}
@media (max-width: 991px) {
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
.form-btns-container {

}
.form-btns-container .form-button {
    margin-bottom: 8px;
}
@media (min-width: 992px) {
    .form-btns-innerbox .form-btns-container {
        margin-left: 0;
        margin-right: 0;
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (max-width: 767px) {
    .control-text {
        margin-bottom: 7px;
    }
}
@media (min-width: 768px) {
    .control-text {
        margin-bottom: 0;
        padding-top: 7px;
    }
}

/* Column */
@media (min-width: 992px) {
    .col-md-overlay-enable-container {
        position: relative;
    }
    .col-md-overlay {
        position: absolute;
    }
    .col-md-overlay * {
        position: relative;
    }
    .row.form-container.form-boxed {
        position: relative;
    }
    .form-container.form-boxed .col-md-overlay {
        top: 24px;
    }
    .form-container.form-boxed .col-md-overlay.col-md-overlay-right {
        left: inherit;
        right: 46px;
        padding-right: 15px;
    }
    .form-container.form-boxed .col-md-overlay.col-md-overlay-2 {
        top: 64px;
    }
}

/* Medical Image */
.medimage-preview-container {
}
.medimage-preview-wrapper {
    padding-left: 30px;
    padding-right: 15px;
}
@media (max-width: 991px) {
    .medimage-preview-wrapper {
        padding-left: 187px;
    }
}
@media (max-width: 767px) {
    .medimage-preview-wrapper {
        padding-left: 15px;
    }
}
.medimage-preview {
    background-color: white;
    height: 200px;

    border: #ddd 1px solid;
}

/* Interpretation */
/*  status
    0: 'Interpreted',
    1: 'Waiting Interpretation',
    2: 'Candidate Waiting',
    3: 'Finding Physician', */
.interpretation-status-1 {
    color: #78A52C;
}
.interpretation-status-2 {
    color: #D76464;
}
.interpretation-status-3 {
    color: #53B0A5;
}

/* Common */
.bold { font-weight: 500; }
.extra-bold { font-weight: 700; }
.no-pad-top { padding-top: 0 !important; }
.no-pad-bot { padding-bottom: 0 !important; }
.no-pad-left { padding-left: 0 !important; }
.no-pad-right { padding-right: 0 !important; }
.text-black { color: black !important;}