/* Blossom Hues Colors */
.powderblue      { background-color: #BCE0DC !important; }
.powderblue-text { color:            #BCE0DC !important; }
.tender          { background-color: #C0E08A !important; }
.tender-text     { color:            #C0E08A !important; }
.silk            { background-color: #F4F1E0 !important; }
.silk-text       { color:            #F4F1E0 !important; }
.peach           { background-color: #F2C2B8 !important; }
.peach-text      { color:            #F2C2B8 !important; }
.beet            { background-color: #D76474 !important; }
.beet-text       { color:            #D76474 !important; }
.pastelgray      { background-color: #CFCFC4 !important; }
.pastelgray-text { color:            #CFCFC4 !important; }
.pastelgray-dark { background-color: #7A7677 !important; }
.pastelgray-dark-text { color:       #7A7677 !important; }
.black           { background-color: #000000 !important; }
.black-text      { color:            #000000 !important; }
.white           { background-color: #FFFFFF !important; }
.white-text      { color:            #FFFFFF !important; }

/* Navigation bar */
@media (max-width: 767px) {
    #navbar-logined-text > span {
        display: none;
    }
    #navbar-logined-text:after {
        content: 'Account';
    }
}