/* Blossom Hues Colors */
.powderblue      { background-color: #BCE0DC !important; }
.powderblue-text { color:            #BCE0DC !important; }
.tender          { background-color: #C0E08A !important; }
.tender-text     { color:            #C0E08A !important; }
.silk            { background-color: #F4F1E0 !important; }
.silk-text       { color:            #F4F1E0 !important; }
.peach           { background-color: #F2C2B8 !important; }
.peach-text      { color:            #F2C2B8 !important; }
.beet            { background-color: #D76474 !important; }
.beet-text       { color:            #D76474 !important; }
.pastelgray      { background-color: #CFCFC4 !important; }
.pastelgray-text { color:            #CFCFC4 !important; }
.pastelgray-dark { background-color: #7A7677 !important; }
.pastelgray-dark-text { color:       #7A7677 !important; }
.black           { background-color: #000000 !important; }
.black-text      { color:            #000000 !important; }
.white           { background-color: #FFFFFF !important; }
.white-text      { color:            #FFFFFF !important; }

/* Navigation Bar */
.navbar-blossom {
    background-color: #F2C2B8;
    border-color: #F0B7AB;
}
.navbar-blossom .navbar-brand {
    color: white;
}
.navbar-blossom .navbar-nav > li > a {
    color: white;
}
.navbar-blossom .navbar-toggle {
    border-color: #D76474;
}
.navbar-blossom .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #D76474;
}

body {
    background-color: #F4F1E0;
}