body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f2f2f1;
}
.section-auth-confirm {
    max-width: 560px;
    margin: 20px auto 0 auto;
    padding-bottom: 20px;
}
@media (max-width: 767px) {
    body {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .section-auth-confirm {
        margin: 10px auto 10px auto;
        padding-bottom: 5px;
    }
}

.div-auth-confirm {
    padding: 12px 24px 32px 24px;
    background-color: white;

    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}